
<div class="about-block style-two bg-white pt-100 pb-100"> 
  <div class="container"> 
    <div class="row flex-between row-gap-40">   
      <div class="col-lg-5 pr-0 pr-col-lg-0"><img class="w-100 bora-24" src="assets/images/components/bg-about2.png" alt=""/>
        <div class="infor bg-white p-24 bora-12"> 
          <div class="heading5 text-on-surface">Transformer BG <br>Green neon</div>
        </div>
      </div>
      <div class="col-lg-6 pl-0 pl-col-lg-0"> 
        <div class="text-subtitle pt-8 pb-8 pl-20 pr-20 bg-green display-inline-block bora-99">About us</div>
        <div class="heading3 text-on-surface mt-32">We are creating modern & high quality software for your business</div>
        <div class="body2 text-secondary mt-32">Upload files from your device without any configuration. Uploading files are a big struggle when it comes to form handling, Norstar fixes that.</div>
        <div class="list-service mt-24">
          <div class="service-item flex-item-center"> <i class="ph-bold ph-check text-green fs-24"> </i>
            <div class="heading7 text-on-surface pl-12">Free Live Chat Software</div>
          </div>
          <div class="service-item flex-item-center mt-12"><i class="ph-bold ph-check text-green fs-24"> </i>
            <div class="heading7 text-on-surface pl-12">Real Time Language Translation</div>
          </div>
          <div class="service-item flex-item-center mt-12"><i class="ph-bold ph-check text-green fs-24"> </i>
            <div class="heading7 text-on-surface pl-12">18,000+ Websites Use Aizan</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>