
<div class="banner-block style-two bg-green pt-80 pb-80"> 
  <div class="container"> 
    <div class="content">
      <div class="heading3 text-center"><i class="icon-star text-white fs-40 pl-8"></i><span class="pl-8">Welcome to our AI-powered platform,</span><img class="pl-8" src="assets/images/components/banner2-1.png" alt=""/><span class="pl-8">where creativity and innovation converge! </span><img class="pl-8" src="assets/images/components/banner2-2.png" alt=""/><span class="pl-8">Our cutting-edge technology empowers you to transform simple text into stunning visuals.</span><i class="icon-star text-white fs-40"></i></div>
    </div>
  </div>
</div>