
<div class="counter bg-surface pt-80 pb-80"> 
  <div class="container"> 
    <div class="row flex-between row-gap-40">
      <div class="col-lg-5 pr-16 pr-col-lg-0">
        <div class="heading3 text-on-surface">We Provide brilliant Ideas & Adding</div>
        <div class="body2 text-secondary mt-24">We are a full-service creative agency that helps businesses build brands, tell stories, and engage audiences through bold and strategic design.</div>
      </div>
      <div class="col-lg-6 pl-0 pl-col-lg-0 flex-between gap-16">
        <div class="item">
          <div class="icon flex-center w-60 h-60 bg-green bora-50 d-inline-flex"> <i class="ph-bold ph-check fs-24 text-white"></i></div>
          <div class="heading2 text-on-surface mt-20">350</div>
          <div class="body1 text-secondary mt-8">Completed projects</div>
        </div>
        <div class="item">
          <div class="icon flex-center w-60 h-60 bg-green bora-50 d-inline-flex"> <i class="ph-bold ph-check fs-24 text-white"></i></div>
          <div class="heading2 text-on-surface mt-20">2500</div>
          <div class="body1 text-secondary mt-8">Great photography</div>
        </div>
        <div class="item">
          <div class="icon flex-center w-60 h-60 bg-green bora-50 d-inline-flex"><i class="ph-bold ph-check fs-24 text-white"></i></div>
          <div class="heading2 text-on-surface mt-20">150<span>k</span></div>
          <div class="body1 text-secondary mt-8">Users Happy</div>
        </div>
      </div>
    </div>
  </div>
</div>