
<div class="list-partner-slide bg-green pt-40 pb-40">
  <div class="list">
    <div class="item"> <img src="assets/images/partners/mian-white.svg" alt=""/></div>
    <div class="item"> <img src="assets/images/partners/mega-white.svg" alt=""/></div>
    <div class="item"> <img src="assets/images/partners/mian2-white.svg" alt=""/></div>
    <div class="item"> <img src="assets/images/partners/beta-white.svg" alt=""/></div>
    <div class="item"> <img src="assets/images/partners/genvi-white.svg" alt=""/></div>
    <div class="item"> <img src="assets/images/partners/mian-white.svg" alt=""/></div>
    <div class="item"> <img src="assets/images/partners/mega-white.svg" alt=""/></div>
    <div class="item"> <img src="assets/images/partners/mian2-white.svg" alt=""/></div>
    <div class="item"> <img src="assets/images/partners/beta-white.svg" alt=""/></div>
    <div class="item"> <img src="assets/images/partners/genvi-white.svg" alt=""/></div>
  </div>
</div>