
<div class="section-pricing style-two pt-100 pb-100 bg-white">
  <div class="container"> 
    <div class="heading flex-column-center row-gap-40">
      <div class="title text-center">
        <div class="heading3 text-on-surface">Find Your Right Plan</div>
        <div class="body2 text-secondary mt-16">We offer a variety of pricing packages to meet the unique needs of our services. </div>
      </div>
      <div class="choose-type flex-item-center gap-20 mt-16">
        <div class="body3 text-on-surface">Pay Monthly</div>
        <div class="switch"> 
          <div class="bg-surface"></div>
        </div>
        <div class="body3 text-secondary">Pay Yearly</div>
      </div>
    </div>
    <div class="row row-gap-40">
      <div class="list-pricing mt-40 show">
        <div class="row row-gap-32">
          <div class="col-lg-4 col-12">
            <div class="pricing-item bg-line-dark p-32 bora-20 h-100">
              <div class="heading6 text-on-surface">Freebie</div>
              <div class="text-secondary mt-12">Ideal for individuals who need quick access to basic features.</div>
              <div class="price d-flex mt-20">
                <div class="heading2 text-on-surface">$0</div><span class="text-on-surface">/month</span>
              </div><a class="button bg-line-dark text-on-surface w-100 mt-24" href="#!">Get Started</a>
              <div class="list-feature d-flex flex-column gap-12 mt-40">
                <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 p-8 bora-50 bg-green"></i>
                  <div class="feature text-on-surface">20,000+ of PNG & SVG graphics</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-x fs-12 p-8 bora-50 bg-line text-on-surface"></i>
                  <div class="feature text-secondary">Upload custom icons and fonts</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-x fs-12 p-8 bora-50 bg-line text-on-surface"></i>
                  <div class="feature text-secondary">Unlimited Projects</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-x fs-12 p-8 bora-50 bg-line text-on-surface"></i>
                  <div class="feature text-secondary">Upload graphics & video in up to 4k</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="pricing-item bg-line-dark p-32 bora-20 h-100">
              <div class="heading6 text-on-surface">Professional</div>
              <div class="text-secondary mt-12">Ideal for individuals who who need advanced features and tools for client work.</div>
              <div class="price d-flex mt-20">
                <div class="heading2 text-on-surface">$9</div><span class="text-on-surface">/month</span>
              </div><a class="button bg-line-dark text-on-surface w-100 mt-24" href="#!">Get Started</a>
              <div class="list-feature d-flex flex-column gap-12 mt-40">
                <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 p-8 bora-50 bg-green"></i>
                  <div class="feature text-on-surface">20,000+ of PNG & SVG graphics</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 p-8 bora-50 bg-green"></i>
                  <div class="feature text-on-surface">Upload custom icons and fonts</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-x fs-12 p-8 bora-50 bg-line text-on-surface"></i>
                  <div class="feature text-secondary">Instant Access to our design system</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-x fs-12 p-8 bora-50 bg-line text-on-surface"></i>
                  <div class="feature text-secondary">Create teams to collaborate on designs</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="pricing-item bg-line-dark p-32 bora-20 h-100">
              <div class="heading6 text-on-surface">Enterprise</div>
              <div class="text-secondary mt-12">Ideal for businesses who need personalized services and security for large teams.</div>
              <div class="price d-flex mt-20">
                <div class="heading2 text-on-surface">$19</div><span class="text-on-surface">/month</span>
              </div><a class="button bg-line-dark text-on-surface w-100 mt-24" href="#!">Get Started</a>
              <div class="list-feature d-flex flex-column gap-12 mt-40">
                <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 p-8 bora-50 bg-green"></i>
                  <div class="feature text-on-surface">20,000+ of PNG & SVG graphics</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 p-8 bora-50 bg-green"></i>
                  <div class="feature text-on-surface">Upload custom icons and fonts</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 p-8 bora-50 bg-green"></i>
                  <div class="feature text-on-surface">Unlimited Sharing</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 p-8 bora-50 bg-green"></i>
                  <div class="feature text-on-surface">Upload graphics & video in up to 4k</div>
                </div>
                <div class="item flex-item-center gap-16"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-pricing-year mt-40 hide">
        <div class="row row-gap-32">
          <div class="col-lg-4 col-12">
            <div class="pricing-item bg-line-dark p-32 bora-20 h-100">
              <div class="heading6 text-on-surface">Freebie</div>
              <div class="text-secondary mt-12">Ideal for individuals who need quick access to basic features.</div>
              <div class="price d-flex mt-20">
                <div class="heading2 text-on-surface">$0</div><span class="text-on-surface">/year</span>
              </div><a class="button bg-line-dark text-on-surface w-100 mt-24" href="#!">Get Started</a>
              <div class="list-feature d-flex flex-column gap-12 mt-40">
                <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 p-8 bora-50 bg-green"></i>
                  <div class="feature text-on-surface">20,000+ of PNG & SVG graphics</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-x fs-12 p-8 bora-50 bg-line text-on-surface"></i>
                  <div class="feature text-secondary">Upload custom icons and fonts</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-x fs-12 p-8 bora-50 bg-line text-on-surface"></i>
                  <div class="feature text-secondary">Unlimited Projects</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-x fs-12 p-8 bora-50 bg-line text-on-surface"></i>
                  <div class="feature text-secondary">Upload graphics & video in up to 4k</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="pricing-item bg-line-dark p-32 bora-20 h-100">
              <div class="heading6 text-on-surface">Professional</div>
              <div class="text-secondary mt-12">Ideal for individuals who who need advanced features and tools for client work.</div>
              <div class="price d-flex mt-20">
                <div class="heading2 text-on-surface">$90</div><span class="text-on-surface">/year</span>
              </div><a class="button bg-line-dark text-on-surface w-100 mt-24" href="#!">Get Started</a>
              <div class="list-feature d-flex flex-column gap-12 mt-40">
                <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 p-8 bora-50 bg-green"></i>
                  <div class="feature text-on-surface">20,000+ of PNG & SVG graphics</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 p-8 bora-50 bg-green"></i>
                  <div class="feature text-on-surface">Upload custom icons and fonts</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-x fs-12 p-8 bora-50 bg-line text-on-surface"></i>
                  <div class="feature text-secondary">Instant Access to our design system</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-x fs-12 p-8 bora-50 bg-line text-on-surface"></i>
                  <div class="feature text-secondary">Create teams to collaborate on designs</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="pricing-item bg-line-dark p-32 bora-20 h-100">
              <div class="heading6 text-on-surface">Enterprise</div>
              <div class="text-secondary mt-12">Ideal for businesses who need personalized services and security for large teams.</div>
              <div class="price d-flex mt-20">
                <div class="heading2 text-on-surface">$190</div><span class="text-on-surface">/year</span>
              </div><a class="button bg-line-dark text-on-surface w-100 mt-24" href="#!">Get Started</a>
              <div class="list-feature d-flex flex-column gap-12 mt-40">
                <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 p-8 bora-50 bg-green"></i>
                  <div class="feature text-on-surface">20,000+ of PNG & SVG graphics</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 p-8 bora-50 bg-green"></i>
                  <div class="feature text-on-surface">Upload custom icons and fonts</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 p-8 bora-50 bg-green"></i>
                  <div class="feature text-on-surface">Unlimited Sharing</div>
                </div>
                <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 p-8 bora-50 bg-green"></i>
                  <div class="feature text-on-surface">Upload graphics & video in up to 4k</div>
                </div>
                <div class="item flex-item-center gap-16"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>