
<div class="projects-block style-two pb-100 bg-white">
  <div class="container"> 
    <div class="heading text-center">
      <div class="text-subtitle pt-8 pb-8 pl-20 pr-20 bg-green display-inline-block bora-99">Projects</div>
      <div class="heading3 text-on-surface mt-24 text-center">Our Gallery of Innovative Artworks</div>
      <div class="list-nav flex-center mt-24">
        <div class="nav-item text-button text-on-surface pt-8 pb-8 pl-16 pr-16 bora-44 pointer active" data-name="all">All</div>
        <div class="nav-item text-button text-on-surface pt-8 pb-8 pl-16 pr-16 bora-44 pointer" data-name="anime">Anime</div>
        <div class="nav-item text-button text-on-surface pt-8 pb-8 pl-16 pr-16 bora-44 pointer" data-name="creative">Creative</div>
        <div class="nav-item text-button text-on-surface pt-8 pb-8 pl-16 pr-16 bora-44 pointer" data-name="pixel">Pixel</div>
        <div class="nav-item text-button text-on-surface pt-8 pb-8 pl-16 pr-16 bora-44 pointer" data-name="illustration">Illustration</div>
      </div>
    </div>
    <div class="list mt-40">
      <div class="item-filter" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-1.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-2.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-3.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-4.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-5.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-6.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-7.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-8.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="anime"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-7.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="anime"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-8.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="anime"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-5.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="anime"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-2.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="creative"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-3.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="creative"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-1.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="creative"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-2.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="creative"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-7.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="pixel"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-4.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="pixel"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-6.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="pixel"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-1.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="pixel"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-7.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="illustration"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-2.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="illustration"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-4.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="illustration"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-6.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
      <div class="item-filter hide" data-name="illustration"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2-8.png" alt="Cake Garden beatifull"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">3d realistic</div>
            <div class="heading7 text-on-surface mt-4">Cake Garden beatifull</div>
          </div></a>
      </div>
    </div>
  </div>
</div>