
<div class="services-block style-two bg-white pt-100 pb-100"> 
  <div class="container"> 
    <div class="heading row flex-between row-gap-16">
      <div class="col-lg-8"> 
        <div class="text-subtitle pt-8 pb-8 pl-20 pr-20 bg-green display-inline-block bora-99">Project process</div>
        <div class="heading3 text-on-surface mt-24">Unleash Your Creative Potential</div>
      </div>
      <div class="col-lg-4 pr-40 pr-col-lg-0">
        <div class="body1 text-secondary">Join our community of creative enthusiasts and witness the power of AI in revolutionizing the way we create visuals.</div>
      </div>
    </div>
    <div class="list row row-gap-32 mt-40">
      <div class="col-xl-3 col-sm-6">
        <div class="service-item hover-box-shadow pl-24 pr-24 pt-40 pb-32 bora-32 border-line h-100"><a class="service-item-main" href="services-detail.html">
            <div class="heading"><i class="icon-light fs-60"></i></div>
            <div class="desc mt-24">
              <div class="heading6 text-on-surface">Instant Creativity</div>
              <div class="text-secondary mt-12">Engage and assist your website visitors with our intelligent chat bot, available 24/7.</div>
            </div>
            <div class="read flex-item-center gap-8 mt-32">
              <div class="text-button text-on-surface">Read more</div><i class="ph-light ph-arrow-right fs-32 text-on-surface"></i>
            </div></a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="service-item hover-box-shadow pl-24 pr-24 pt-40 pb-32 bora-32 border-line h-100"><a class="service-item-main" href="services-detail.html">
            <div class="heading"><i class="icon-classify fs-60"></i></div>
            <div class="desc mt-24">
              <div class="heading6 text-on-surface">Customizable Options</div>
              <div class="text-secondary mt-12">Get instant and accurate answers to your queries with our powerful question-answering AI.</div>
            </div>
            <div class="read flex-item-center gap-8 mt-32">
              <div class="text-button text-on-surface">Read more</div><i class="ph-light ph-arrow-right fs-32 text-on-surface"></i>
            </div></a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="service-item hover-box-shadow pl-24 pr-24 pt-40 pb-32 bora-32 border-line h-100"><a class="service-item-main" href="services-detail.html">
            <div class="heading"><i class="icon-infinite fs-60"></i></div>
            <div class="desc mt-24">
              <div class="heading6 text-on-surface">Endless Possibilities</div>
              <div class="text-secondary mt-12">Transform text into stunning visual content effortlessly.</div>
            </div>
            <div class="read flex-item-center gap-8 mt-32">
              <div class="text-button text-on-surface">Read more</div><i class="ph-light ph-arrow-right fs-32 text-on-surface"></i>
            </div></a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="service-item hover-box-shadow pl-24 pr-24 pt-40 pb-32 bora-32 border-line h-100"><a class="service-item-main" href="services-detail.html">
            <div class="heading"><i class="icon-share fs-60"></i></div>
            <div class="desc mt-24">
              <div class="heading6 text-on-surface">High-Quality Output</div>
              <div class="text-secondary mt-12">Convert images (videos) into other formats seamlessly with our versatile conversion feature.</div>
            </div>
            <div class="read flex-item-center gap-8 mt-32">
              <div class="text-button text-on-surface">Read more</div><i class="ph-light ph-arrow-right fs-32 text-on-surface"></i>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</div>