.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 68px;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-transform: capitalize;
  transition: all ease 0.4s;
}
.button > span:nth-child(1) {
  position: absolute;
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  background: transparent;
  border-radius: 68px;
  overflow: hidden;
  z-index: 0;
  opacity: 0;
}
.button > span:nth-child(1) span {
  position: absolute;
  min-width: 110%;
  min-height: 110%;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  background: conic-gradient(from 290deg, transparent 0%, #FFFFFF 50%, transparent 20%);
  animation: twirl 3s linear infinite;
  z-index: 0;
}
.button span:nth-child(2) {
  padding: 14px 28px;
  border-radius: 68px;
  display: inline-flex;
  gap: 8px;
  position: relative;
  z-index: 2;
}
.button:hover > span:nth-child(1) {
  opacity: 1;
}

@keyframes twirl {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.button-blue-hover .bg-blue {
  transition: all ease 0.4s;
}
.button-blue-hover:hover .bg-blue {
  background-color: #3974ff;
}

.button-yellow-hover .bg-yellow {
  transition: all ease 0.4s;
}
.button-yellow-hover:hover {
  background-color: #ebb41d;
}
.button-yellow-hover:hover .bg-yellow {
  background-color: #ebb41d;
}

.button-green-hover .bg-green {
  transition: all ease 0.4s;
}
.button-green-hover:hover .bg-green {
  background-color: #02bd30;
}

.button-purple-hover .bg-purple {
  transition: all ease 0.4s;
}
.button-purple-hover:hover .bg-purple {
  background-color: #5700c9;
}