.slider-block.style-two.style-four
    .slider-main
        .container.flex-center.h-100
            .row.flex-column-center
                .col-xl-5.col-lg-6.col-md-8.col-sm-10
                    .trust-block.flex-item-center.gap-16
                        .left.flex-item-center
                            .avatar.bora-50 
                                img(src="assets/images/avatar/avatar5.png", alt="").w-100.h-100.object-fit-cover
                            .avatar.bora-50 
                                img(src="assets/images/avatar/avatar6.png", alt="").w-100.h-100.object-fit-cover
                            .avatar.bora-50 
                                img(src="assets/images/avatar/avatar4.png", alt="").w-100.h-100.object-fit-cover
                            .avatar.bora-50.flex-center.bg-purple
                                .fs-12.fw-700 5M
                        .right 
                            .text-button Trusted by 50M+ People around the globe
                .col-md-11.text-center 
                    .heading1.text-center.mt-20.text-scroll-bottom-to-top2 Transforming 
                        span.text-scroll-bottom-to-top3 Businesses 
                        span.text-scroll-bottom-to-top4 with 
                        span.text-scroll-bottom-to-top5 AI-Powered 
                        span.text-scroll-bottom-to-top6 novation
                    .fs-24.text-placehover.text-center.mt-20 Implement intelligent chatbots that can handle customer inquiries
                    a(href="about.html").button.bg-purple.button-purple-hover.text-white.mt-40 
                        span 
                            span 
                        span.bg-purple Explore more
                            i.ph-bold.ph-arrow-up-right.text-white.fs-20.flex-center
            .list-sub-icons
                .check-icon
                    i.ph-bold.ph-check.fs-40.text-white.p-12.bora-50
                .avatar-block
                    img(src="assets/images/avatar/avatar3.png", alt="").w-100.h-100.object-fit-cover
                .five-star-block.pt-12.pb-12.pl-16.pr-16
                    .list-star.flex-item-center.gap-8
                        i.ph-fill.ph-star.text-white
                        i.ph-fill.ph-star.text-white
                        i.ph-fill.ph-star.text-white
                        i.ph-fill.ph-star.text-white
                        i.ph-fill.ph-star.text-white
                    .text-button-small.text-placehover.mt-8 Five Star Recomment
                .switch-btn 
                .double-star.flex-center
                    .star
                        i.ph-fill.ph-star-four.fs-32
                        i.ph-fill.ph-star-four.fs-18
                .comment.flex-item-center.p-12.gap-16
                    .avatar 
                        img(src="assets/images/avatar/avatar2.png", alt="")
                    .heading7 AI helps me revitalize my business.

