.slider-block.style-two
    .slider-main
        .container.flex-center.h-100
            .row.flex-center.w-100
                .col-lg-9.text-center 
                    .heading2.text-center.text-scroll-bottom-to-top1 Unleash 
                        span.text-scroll-bottom-to-top2 the 
                        span.text-scroll-bottom-to-top3 Power 
                        span.text-scroll-bottom-to-top4 of 
                        span.text-scroll-bottom-to-top5 AI 
                        span.text-scroll-bottom-to-top6 Chat: 
                        span.text-scroll-bottom-to-top7 Revolutionize 
                        span.text-scroll-bottom-to-top8 Your 
                        span.text-scroll-bottom-to-top9 Conversations
                .col-lg-8.text-center 
                    .body2.text-placehover.mt-24 Power up your website with our advanced chat bot that offers image and video tools.
                .col-xxl-7.col-lg-8.col-11.block-input.mt-40
                    input(type="text" placeholder="Search").body2
                    .block-button.scroll-left-to-right3
                        a(href="contact.html").button.button-green-hover 
                            span    
                                span 
                            span.bg-green Find now
                .col-lg-8.col-md-12.tags.flex-center.gap-32.mt-24
                    .text-subtitle.display-inline-block product tag:
                    .list-tag.flex-center.gap-16 
                        a(href="#!") Animation
                        a(href="#!") Creative
                        a(href="#!") 3D
                        a(href="#!") Wallpaper
                        a(href="#!") Design
            .list-avatar 
                img(src="assets/images/slider/avatar.png", alt="")
                img(src="assets/images/slider/avatar1.png", alt="")
                img(src="assets/images/slider/avatar2.png", alt="")
                img(src="assets/images/slider/avatar3.png", alt="")
                img(src="assets/images/slider/avatar4.png", alt="")
                img(src="assets/images/slider/avatar5.png", alt="")
