.slider-block.style-two.style-three
    .slider-main
        .container.flex-center.h-100
            .row.flex-center.w-100
                .col-lg-9.text-center 
                    .heading2.text-center Unleash the Power of AI Chat: Revolutionize Your Conversations
                .col-xxl-7.col-lg-8.col-11.block-input.mt-40
                    input(type="text" placeholder="Search").body2
                    a(href="contact.html").button.bg-yellow.button-yellow-hover.text-on-surface Find now
                .col-lg-8.col-md-12.tags.flex-center.gap-32.mt-24
                    .text-subtitle.display-inline-block product tag:
                    .list-tag.flex-center.gap-16 
                        a(href="#!") Animation
                        a(href="#!") Creative
                        a(href="#!") 3D
                        a(href="#!") Wallpaper
                        a(href="#!") Design
            .list-avatar 
                img(src="assets/images/avatar/avatar4.png", alt="")
                img(src="assets/images/avatar/avatar5.png", alt="")
                img(src="assets/images/avatar/avatar2.png", alt="")
            .list-cate 
                .item.flex-center
                    .heading7.text-surface Marketing
                    svg(xmlns='http://www.w3.org/2000/svg' width='84' height='80' viewbox='0 0 84 80' fill='none')
                        path(d='M2 0.499996C-2 31.5 18.6 84 83 78' stroke='#F3D465' stroke-width='2')
                .item.flex-center
                    .text-button.text-surface Business
                    svg(xmlns='http://www.w3.org/2000/svg' width='74' height='74' viewbox='0 0 74 74' fill='none')
                        path(d='M0.5 71.5C26.8333 74.6667 78 64.9 72 0.5' stroke='#F3D465' stroke-width='2')
                .item.flex-center
                    .text-button.text-surface Agency
                    svg(xmlns='http://www.w3.org/2000/svg' width='40' height='89' viewbox='0 0 40 89' fill='none')
                        path(d='M0.289666 87.3664C29.9071 82.7682 56.568 34.8574 22.8802 1.34416' stroke='#F3D465' stroke-width='2')
                