.slider-block.style-two.style-four
    .slider-main
        .container.flex-center.h-100
            .row.flex-center.w-100
                .col-lg-12.text-center 
                    .heading1.text-center Transforming Businesses with AI-Powered novation
                    .fs-24.text-placehover.text-center.mt-20 Implement intelligent chatbots that can handle customer inquiries
                    button.button.bg-purple.button-purple-hover.text-white.pt-16.pb-16.mt-40 Explore more
                        i.ph-bold.ph-arrow-up-right.text-white.fs-20