.slider-block.style-one
    .slider-main
        .container 
            .row 
                .col-xl-6
                    .text-content 
                        .heading1.scroll-bottom-to-top2 Unleash 
                            span.scroll-bottom-to-top3 the 
                            span.scroll-bottom-to-top4 Power 
                            span.scroll-bottom-to-top5 of 
                            span.scroll-bottom-to-top6 Conversational 
                            span.scroll-bottom-to-top7 Technology
                        .body2.text-placehover.mt-40 We are a full-service creative agency that helps businesses build brands, tell stories, and engage audiences through bold and strategic design.
                        a(href="#!").button.bg-blue.button-blue-hover.pt-16.pb-16.mt-40 Explore more
                            i.ph-bold.ph-arrow-up-right.fs-18
                .col-xl-6.scroll-right-to-left2
                    .bg-img 
                        img(src="assets/images/slider/user1.png", alt="")
                        img(src="assets/images/slider/frame-above.png", alt="")
                        img(src="assets/images/slider/frame-below.png", alt="")
                    .icon
                        svg(xmlns='http://www.w3.org/2000/svg' width='68' height='67' viewbox='0 0 68 67' fill='none')
                            path(d='M19.5202 46C23.5662 38.2807 35.6305 19.4737 51.5202 5.99999M32.0899 63.5741C37.1814 61.3503 50.7952 56.8307 64.5188 56.5417M3.00006 35.66C3.23721 30.1091 5.15276 15.8931 10.9177 3.43579' stroke='#3D89FB' stroke-width='5' stroke-linecap='round')
                        svg(xmlns='http://www.w3.org/2000/svg' width='165' height='121' viewbox='0 0 165 121' fill='none')
                            path(d='M2.00006 67C26.6785 44.4479 36.5001 29.5 80.5001 5C55.5001 48.5 36.162 82.718 33.5001 104.5C51.9116 87.0666 132.511 13.8811 138.5 2C124.081 19.8767 76.4868 118.534 76.4868 118.534C76.4868 118.534 116.5 85.5 163 59.1285' stroke='#3D89FB' stroke-width='4' stroke-linecap='round' stroke-linejoin='round')
                    .user-infor.bora-24.p-16.flex-item-center.gap-12
                        i.ph-fill.ph-user.fs-24.p-8.bora-50.bg-blue 
                        .infor 
                            .heading7 Maverick Nguyen
                            .text-button-small.text-placehover UI UX Designer, Avitex Inc
