.slider-block.style-two.style-three
    .slider-main
        .container.h-100
            .row.w-100
                .col-xl-11.col-lg-12
                    .text-heading
                        .heading1 We empower your online presence for success
                        .heading1 We empower your online presence for success
                        .cursor
                    .body2.text-placehover.mt-12 Implement intelligent chatbots that can handle customer inquiries
                    a(href="about.html").button.button-yellow-hover.text-on-surface.mt-40
                        span 
                            span
                        span.bg-yellow Explore more
                            i.ph-bold.ph-arrow-up-right.fs-18.flex-center
            .list-avatar 
                img(src="assets/images/avatar/avatar4.png", alt="")
                img(src="assets/images/avatar/avatar5.png", alt="")
            .list-cate 
                .item.flex-center
                    .heading7.text-surface Marketing
                .item.flex-center
                    .text-button.text-surface Business
                .item.flex-center
                    .text-button.text-surface Agency
                