.list-partner-slide.style-three.pt-40.pb-40
    .list
        .item 
            .text Embrace AI Excellence with AI Digital Agency
        .item 
            .text Embrace AI Excellence with AI Digital Agency
        