.counter-block.style-three.pt-100.pb-100.bg-dark-surface 
    .container 
        .row.row-gap-32.flex-between
            .col-xl-6 
                .heading3 Create your own AI business with us
                .count.mt-40
                    .item.flex-item-center.gap-24.pb-20
                        .heading3.text-yellow 35
                            span k 
                        .body2.text-placehover Client satisfaction is at the heart of what we do. We take pride in achieving a 95% client satisfaction rate
                    .line-dark
                    .item.flex-item-center.gap-24.pt-20
                        .heading3.text-yellow 15
                            span k 
                        .body2.text-placehover Our team of storytellers has crafted over 500 compelling narratives that resonate with audiences
                a(href="#!").button.bg-yellow.button-yellow-hover.text-on-surface.mt-40 Explore more
            .bg-img.col-xl-5.text-end
                img(src="assets/images/components/bg-counter3.png", alt="")