.form-contact.section-contact.bg-line-dark 
    .bg-img 
        img(src="assets/images/components/bg-contact3.png", alt="").w-100.h-100.object-fit-cover
    .container
        .bg-blur
        .form-block.pt-60.pb-60
            form
                .heading3 We’d love to help
                .row.row-gap-20.mt-40
                    .col-12.col-sm-6 
                        input(type="text" placeholder="Your name").w-100.bg-line-dark.p-16.bora-12.text-white
                    .col-12.col-sm-6 
                        input(type="text" placeholder="Your email").w-100.bg-line-dark.p-16.bora-12.text-white
                    .col-12.col-sm-6 
                        input(type="text" placeholder="Telephone").w-100.bg-line-dark.p-16.bora-12.text-white
                    .col-12.col-sm-6 
                        select(name="categories").w-100.bg-line-dark.p-16.bora-12.text-white
                            option(value="Personal").text-on-surface Personal
                            option(value="Business").text-on-surface Business
                            option(value="Development").text-on-surface Development
                        i.ph-duotone.ph-caret-down
                    .col-12 
                        textarea(name="messsage", cols="10", rows="4" placeholder="Message").text-white.w-100.bg-line-dark.p-16.bora-12
                button.button.bg-yellow.button-yellow-hover.text-on-surface.mt-32 Message
                    i.ph-bold.ph-arrow-up-right.text-on-surface.fs-20

