.list-partner.bg-yellow.pt-40.pb-40 
    .container.gap-32.row-gap-32.flex-between.flex-wrap
        .partner-item
            img(src="assets/images/partners/mega-black.svg", alt="")
        .partner-item
            img(src="assets/images/partners/mian-black.svg", alt="")
        .partner-item
            img(src="assets/images/partners/beta-black.svg", alt="")
        .partner-item
            img(src="assets/images/partners/mian2-black.svg", alt="")
        .partner-item
            img(src="assets/images/partners/genvi-black.svg", alt="")