include ../../mixins/serviceItem.pug

.services-block.style-three.pt-100
    .container
        .heading.text-center 
            .heading3 we provide the best services
        .list.row.row-gap-32.mt-40
            .col-xl-3.col-sm-6
                +serviceItem({classname:'pl-24 pr-24 pt-32 pb-40 bg-line-dark bora-24 h-100', style:'style-three', icon:'icon-hand-grab icon-yellow fs-60', title:'Solutions', desc:"Gain valuable insights into customer behavior, preferences"})
            .col-xl-3.col-sm-6
                +serviceItem({classname:'pl-24 pr-24 pt-32 pb-40 bg-line-dark bora-24 h-100', style:'style-three', icon:'icon-wallet icon-yellow fs-60', title:'Inter face', desc:"Engage and assist your website visitors with our intelligent"})
            .col-xl-3.col-sm-6
                +serviceItem({classname:'pl-24 pr-24 pt-32 pb-40 bg-line-dark bora-24 h-100', style:'style-three', icon:'icon-hand-shake icon-yellow fs-60', title:'Support', desc:"Expand your reach and cater to a global audience ..."})
            .col-xl-3.col-sm-6
                +serviceItem({classname:'pl-24 pr-24 pt-32 pb-40 bg-line-dark bora-24 h-100', style:'style-three', icon:'icon-testing icon-yellow fs-60', title:'Testing', desc:"Engage and assist your website visitors with our intelligent"})
                    
