.testimonial-block.style-three.pt-100.pb-100
    .container 
        .row.flex-between.row-gap-40
            .col-lg-6.col-md-8.pr-80.pr-col-lg-0
                .bg-img
                    img(src="assets/images/components/bg-testimonial3.png", alt="").w-100
                    .bg-yellow.bora-50.flex-center 
                        .text.text-center
                            .heading7.text-on-surface Avitex Agency
                            .caption1.text-on-surface.mt-4 Optimal design solutions for business
            .col-lg-6.pl-0.pl-col-lg-0
                .heading3 What Clients Say About Us?
                .swiper.list-comment-two
                    .swiper-wrapper.mt-40
                        .swiper-slide 
                            .main-content.bora-24
                                .star.flex-item-center.gap-8
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                .heading6.fw-500.mt-16 “Unmatched Creativity! Agency Business constantly surprises me with its ability to interpret my ideas and turn them into beautiful visuals.”
                                .infor.flex-item-center.item-start.gap-20.mt-24.pt-32.border-line-top
                                    .avatar.flex-center
                                        img(src="assets/images/avatar/avatar3.png", alt="").w-60.h-60
                                    .desc
                                        .heading7 Maverick N.
                                        .text-secondary.text-subtitle.mt-12 Content Strategist
                        .swiper-slide 
                            .main-content.bora-24
                                .star.flex-item-center.gap-8
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                .heading6.fw-500.mt-16 “Unmatched Creativity! Agency Business constantly surprises me with its ability to interpret my ideas and turn them into beautiful visuals.”
                                .infor.flex-item-center.item-start.gap-20.mt-24.pt-32.border-line-top
                                    .avatar.flex-center
                                        img(src="assets/images/avatar/avatar4.png", alt="").w-60.h-60
                                    .desc
                                        .heading7 Maverick N.
                                        .text-secondary.text-subtitle.mt-12 Content Strategist
                        .swiper-slide 
                            .main-content.bora-24
                                .star.flex-item-center.gap-8
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                .heading6.fw-500.mt-16 “Unmatched Creativity! Agency Business constantly surprises me with its ability to interpret my ideas and turn them into beautiful visuals.”
                                .infor.flex-item-center.item-start.gap-20.mt-24.pt-32.border-line-top
                                    .avatar.flex-center
                                        img(src="assets/images/avatar/avatar5.png", alt="").w-60.h-60
                                    .desc
                                        .heading7 Maverick N.
                                        .text-secondary.text-subtitle.mt-12 Content Strategist
                        .swiper-slide 
                            .main-content.bora-24
                                .star.flex-item-center.gap-8
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                .heading6.fw-500.mt-16 “Unmatched Creativity! Agency Business constantly surprises me with its ability to interpret my ideas and turn them into beautiful visuals.”
                                .infor.flex-item-center.item-start.gap-20.mt-24.pt-32.border-line-top
                                    .avatar.flex-center
                                        img(src="assets/images/avatar/avatar6.png", alt="").w-60.h-60
                                    .desc
                                        .heading7 Maverick N.
                                        .text-secondary.text-subtitle.mt-12 Content Strategist
                    .swiper-pagination