
<div class="about-us style-about pt-80 pb-80 bg-black-surface">
  <div class="container"> 
    <div class="row row-gap-40 flex-between">
      <div class="col-12 col-lg-6 flex-column row-gap-20">
        <div class="heading3">We Provide <span>Brilliant </span>
          <p>Ideas & Adding</p>
        </div>
        <div class="body2 text-placehover mt-16">We are a full-service creative agency that helps businesses build brands, tell stories, and engage audiences through bold and strategic design.</div>
        <div class="list-service mt-32">
          <div class="service-item flex-item-center"> <i class="ph-bold ph-check text-purple fs-24"> </i>
            <div class="heading7 pl-12">Free Live Chat Software</div>
          </div>
          <div class="service-item flex-item-center mt-12"><i class="ph-bold ph-check text-purple fs-24"> </i>
            <div class="heading7 pl-12">Real Time Language Translation</div>
          </div>
          <div class="service-item flex-item-center mt-12"><i class="ph-bold ph-check text-purple fs-24"> </i>
            <div class="heading7 pl-12">18,000+ Websites Used Aizan</div>
          </div>
        </div>
        <div class="button-block mt-32"><a class="button bg-purple button-purple-hover text-white" href="#!">Find out more</a></div>
      </div>
      <div class="col-12 col-xl-5 col-lg-6 pl-65 pl-col-lg-0">
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 d-block" src="assets/images/components/bg-about.png" alt=""/></div>
        <div class="count flex-between mt-20">
          <div class="item">
            <div class="heading3 text-purple">350<span>+</span></div>
            <div class="heading7 text-placehover mt-8">Completed projects</div>
          </div>
          <div class="item">
            <div class="heading3 text-purple">2500<span>+</span></div>
            <div class="heading7 text-placehover mt-8">Great photography</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>