
<div class="our-leader pb-100"> 
  <div class="container"> 
    <div class="row"> 
      <div class="heading3">Meet our leader</div>
      <div class="col-xl-6 col-lg-7 body1 text-placehover mt-24">Beratung’s global leadership is comprised of several key entities, including the managing partner, the Shareholders Council (elected board of directors), the Acceleration Team (global leadership team), and the leaders of various offices and practices.</div>
      <div class="list-our-team mt-40"> 
        <div class="row row-gap-32">
          <div class="col-lg-3 col-sm-6">
            <div class="item"> 
              <div class="bg-img"> <img class="w-100 d-block" src="assets/images/avatar/team1.png" alt=""/></div>
              <div class="infor mt-16"> 
                <div class="heading7">Maverick Nguyen</div>
                <div class="text-placehover mt-8">Graphic Designer</div>
              </div>
              <div class="list-social bg-white"><a href="http://facebook.com" target="_blank"> <i class="icon-facebook fs-14"></i></a><a href="http://linkedin.com" target="_blank"> <i class="icon-linkedin fs-14"></i></a><a href="http://twitter.com" target="_blank"> <i class="icon-twitter fs-12"></i></a><a href="http://instagram.com" target="_blank"> <i class="icon-instagram fs-12"></i></a></div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="item"> 
              <div class="bg-img"> <img class="w-100" src="assets/images/avatar/team2.png" alt=""/></div>
              <div class="infor mt-16"> 
                <div class="heading7">Georgina Smith</div>
                <div class="text-placehover mt-8">CEO - Marketting</div>
              </div>
              <div class="list-social bg-white"><a href="http://facebook.com" target="_blank"> <i class="icon-facebook fs-14"></i></a><a href="http://linkedin.com" target="_blank"> <i class="icon-linkedin fs-14"></i></a><a href="http://twitter.com" target="_blank"> <i class="icon-twitter fs-12"></i></a><a href="http://instagram.com" target="_blank"> <i class="icon-instagram fs-12"></i></a></div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="item"> 
              <div class="bg-img"> <img class="w-100" src="assets/images/avatar/team3.png" alt=""/></div>
              <div class="infor mt-16"> 
                <div class="heading7">Benjamin Pavard</div>
                <div class="text-placehover mt-8">CEM - digiNova</div>
              </div>
              <div class="list-social bg-white"><a href="http://facebook.com" target="_blank"> <i class="icon-facebook fs-14"></i></a><a href="http://linkedin.com" target="_blank"> <i class="icon-linkedin fs-14"></i></a><a href="http://twitter.com" target="_blank"> <i class="icon-twitter fs-12"></i></a><a href="http://instagram.com" target="_blank"> <i class="icon-instagram fs-12"></i></a></div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="item"> 
              <div class="bg-img"> <img class="w-100" src="assets/images/avatar/team4.png" alt=""/></div>
              <div class="infor mt-16"> 
                <div class="heading7">Christina Rodriguez</div>
                <div class="text-placehover mt-8">Photographer</div>
              </div>
              <div class="list-social bg-white"><a href="http://facebook.com" target="_blank"> <i class="icon-facebook fs-14"></i></a><a href="http://linkedin.com" target="_blank"> <i class="icon-linkedin fs-14"></i></a><a href="http://twitter.com" target="_blank"> <i class="icon-twitter fs-12"></i></a><a href="http://instagram.com" target="_blank"> <i class="icon-instagram fs-12"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>