
<div class="list-service style-four pt-100 pb-100 bg-black-surface"> 
  <div class="container"> 
    <div class="heading3 text-center">Find an AI solution for your business</div>
    <div class="body2 text-placehover text-center mt-12">Experience the future of communication with our AI-powered chat solution.</div>
    <div class="row list mt-40 row-gap-40">
      <div class="col-lg-3 col-sm-6"> 
        <div class="service-item hover-box-shadow pl-24 pr-24 pt-32 pb-32 bora-24 h-100"><a class="service-item-main" href="services-detail.html">
            <div class="heading"><i class="icon-light icon-purple fs-60"></i></div>
            <div class="desc mt-32">
              <div class="heading6">AI-Powered Chatbots</div>
              <div class="text-placehover mt-8">Implement intelligent chatbots that can handle customer inquiries, provide</div>
            </div></a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6"> 
        <div class="service-item hover-box-shadow pl-24 pr-24 pt-32 pb-32 bora-24 h-100"><a class="service-item-main" href="services-detail.html">
            <div class="heading"><i class="icon-virus icon-purple fs-60"></i></div>
            <div class="desc mt-32">
              <div class="heading6">Embracing Multilingual Support</div>
              <div class="text-placehover mt-8">Expand your reach and cater to a global audience with chat services available</div>
            </div></a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6"> 
        <div class="service-item hover-box-shadow pl-24 pr-24 pt-32 pb-32 bora-24 h-100"><a class="service-item-main" href="services-detail.html">
            <div class="heading"><i class="icon-chart-box icon-purple fs-60"></i></div>
            <div class="desc mt-32">
              <div class="heading6">Integration Capabilities</div>
              <div class="text-placehover mt-8">Seamlessly integrate AI chat services into your existing systems</div>
            </div></a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6"> 
        <div class="service-item hover-box-shadow pl-24 pr-24 pt-32 pb-32 bora-24 h-100"><a class="service-item-main" href="services-detail.html">
            <div class="heading"><i class="icon-pages icon-purple fs-60"></i></div>
            <div class="desc mt-32">
              <div class="heading6">Proactive Engagement</div>
              <div class="text-placehover mt-8">Initiate proactive conversations with customers based on their</div>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</div>