
<div class="testimonial-block style-four bg-black-surface pt-100 pb-100">
  <div class="container"> 
    <div class="row flex-item-center row-gap-40">
      <div class="col-lg-5 pr-65 pr-col-lg-0">
        <div class="heading3">Our community with User reviews</div>
        <div class="body2 text-placehover mt-20">Say goodbye to the hassle of managing multiple accounts across different financial institutions.</div>
        <div class="block-button flex-item-center gap-12 mt-20">    
          <div class="prev-btn w-40 h-40 flex-center bora-50 pointer"><i class="ph ph-caret-left"></i></div>
          <div class="next-btn w-40 h-40 flex-center bora-50 pointer"><i class="ph ph-caret-right"></i></div>
        </div>
      </div>
      <div class="col-12">
        <div class="row"> 
          <div class="col-lg-7">
            <div class="list-testimonial"> 
              <div class="item">
                <div class="main-content p-40 bg-line-dark bora-24">
                  <div class="infor flex-item-center item-start gap-20">
                    <div class="avatar flex-center mt-4"><img class="w-60 h-60" src="assets/images/avatar/avatar1.png" alt=""/></div>
                    <div class="desc">
                      <div class="heading7">Maverick N.</div>
                      <div class="text-purple text-subtitle mt-8">Content Strategist</div>
                    </div>
                  </div>
                  <div class="heading6 fw-500 mt-24">“The data-driven approach has given us a competitive edge and enhanced our customer experience.”</div>
                  <div class="star flex-item-center mt-24"><i class="ph-fill ph-star fs-12 text-yellow"></i><i class="ph-fill ph-star fs-12 text-yellow"></i><i class="ph-fill ph-star fs-12 text-yellow"></i><i class="ph-fill ph-star fs-12 text-yellow"></i><i class="ph-fill ph-star fs-12 text-yellow"></i></div>
                </div>
              </div>
              <div class="item">
                <div class="main-content p-40 bg-line-dark bora-24">
                  <div class="infor flex-item-center item-start gap-20">
                    <div class="avatar flex-center mt-4"><img class="w-60 h-60" src="assets/images/avatar/avatar2.png" alt=""/></div>
                    <div class="desc">
                      <div class="heading7">Christina R.</div>
                      <div class="text-purple text-subtitle mt-8">Content Strategist</div>
                    </div>
                  </div>
                  <div class="heading6 fw-500 mt-24">“The automated insights and predictive analytics have optimized our efficiency and decision-making.”</div>
                  <div class="star flex-item-center mt-24"><i class="ph-fill ph-star fs-12 text-yellow"></i><i class="ph-fill ph-star fs-12 text-yellow"></i><i class="ph-fill ph-star fs-12 text-yellow"></i><i class="ph-fill ph-star fs-12 text-yellow"></i><i class="ph-fill ph-star fs-12 text-yellow"></i></div>
                </div>
              </div>
              <div class="item">
                <div class="main-content p-40 bg-line-dark bora-24">
                  <div class="infor flex-item-center item-start gap-20">
                    <div class="avatar flex-center mt-4"><img class="w-60 h-60" src="assets/images/avatar/avatar3.png" alt=""/></div>
                    <div class="desc">
                      <div class="heading7">Peter Parker</div>
                      <div class="text-purple text-subtitle mt-8">Content Strategist</div>
                    </div>
                  </div>
                  <div class="heading6 fw-500 mt-24">“The AI solution ability to analyze data and predict trends has empowered us to make smarter choices.”</div>
                  <div class="star flex-item-center mt-24"><i class="ph-fill ph-star fs-12 text-yellow"></i><i class="ph-fill ph-star fs-12 text-yellow"></i><i class="ph-fill ph-star fs-12 text-yellow"></i><i class="ph-fill ph-star fs-12 text-yellow"></i><i class="ph-fill ph-star fs-12 text-yellow"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>