
<div class="how-it-work pt-100 pb-100"> 
  <div class="container"> 
    <div class="row heading flex-between row-gap-8">
      <div class="col-lg-6"> 
        <div class="heading3">Intelligent Solutions for Enhanced Customer </div>
      </div>
      <div class="col-lg-5">
        <div class="body1 text-placehover">Power up your website with our advanced chat bot that offers image and video tools, as well as quick and accurate question answering capabilities</div>
      </div>
    </div>
    <div class="row flex-between mt-40 row-gap-40">
      <div class="col-lg-4">
        <div class="feature-item flex-item-center gap-24"> 
          <div class="icon"><i class="icon-pages fs-40 p-16 bg-line-dark bora-50"></i></div>
          <div class="infor"> 
            <div class="heading6">Sign up</div>
            <div class="text-placehover mt-8">Online banking allows you to manage your finances from anywhere, anytime.</div>
          </div>
        </div>
        <div class="feature-item flex-item-center gap-24 mt-40">
          <div class="icon"><i class="icon-chart-box fs-40 p-16 bg-line-dark bora-50"></i></div>
          <div class="infor"> 
            <div class="heading6">Get personalized </div>
            <div class="text-placehover mt-8">Empowering you to achieve your goals with precision and efficiency.</div>
          </div>
        </div>
        <div class="feature-item flex-item-center gap-24 mt-40">
          <div class="icon"><i class="icon-virus fs-40 p-16 bg-line-dark bora-50"></i></div>
          <div class="infor"> 
            <div class="heading6">Explore and engage</div>
            <div class="text-placehover mt-8">Embark on a journey of discovery and engagement with our dynamic content.</div>
          </div>
        </div>
      </div>
      <div class="col-lg-7"> 
        <div class="bg-img bora-24 overflow-hidden"><img class="w-100" src="assets/images/components/bg-how-it-work.png" alt=""/>
          <div class="count bg-blue bora-12 flex-item-center gap-60 pt-20 pb-20 pl-32 pr-32">
            <div class="item">
              <div class="heading4">1.77<span>k+</span></div>
              <div class="text-button">Business Problem </div>
            </div>
            <div class="item">
              <div class="heading4">2.3<span>k+</span></div>
              <div class="text-button">Business Setup </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>