
<div class="list-blog pt-100 pb-100"> 
  <div class="container"> 
    <div class="cursor flex-center gap-12"><i class="ph ph-caret-left text-white"></i><i class="ph ph-caret-right text-white"></i></div>
    <div class="heading flex-between"> 
      <div class="heading3">Our Blogs</div><a href="blog.html"> 
        <u class="fw-700 text-blue-hover">View All</u></a>
    </div>
    <div class="row list mt-40"> 
      <div class="item">
        <div class="blog-item bg-line-dark overflow-hidden bora-24"><a class="main-item" href="blog-detail.html">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item1.png"/></div>
            <div class="infor p-24">
              <div class="heading flex-item-center gap-8"> 
                <div class="text-button-uppercase">Creative</div><i class="ph-fill ph-dot-outline text-placehover"> </i>
                <div class="caption1 text-placehover">Oct 12, 2023</div>
              </div>
              <div class="heading5 mt-8">Exploring AI Generation Create Image</div>
              <div class="text-placehover mt-8">Cryptocurrencies operate on decentralized networks...</div>
            </div></a>
        </div>
      </div>
      <div class="item">
        <div class="blog-item bg-line-dark overflow-hidden bora-24"><a class="main-item" href="blog-detail.html">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item3.png"/></div>
            <div class="infor p-24">
              <div class="heading flex-item-center gap-8"> 
                <div class="text-button-uppercase">3d cartoon</div><i class="ph-fill ph-dot-outline text-placehover"> </i>
                <div class="caption1 text-placehover">Oct 11, 2023</div>
              </div>
              <div class="heading5 mt-8">Breaking the Barriers of Creativity</div>
              <div class="text-placehover mt-8">Cryptocurrencies operate on decentralized networks...</div>
            </div></a>
        </div>
      </div>
      <div class="item">
        <div class="blog-item bg-line-dark overflow-hidden bora-24"><a class="main-item" href="blog-detail.html">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item4.png"/></div>
            <div class="infor p-24">
              <div class="heading flex-item-center gap-8"> 
                <div class="text-button-uppercase">realistic</div><i class="ph-fill ph-dot-outline text-placehover"> </i>
                <div class="caption1 text-placehover">Oct 10, 2023</div>
              </div>
              <div class="heading5 mt-8">A Game-Changer for E-Commerce</div>
              <div class="text-placehover mt-8">Cryptocurrencies operate on decentralized networks...</div>
            </div></a>
        </div>
      </div>
      <div class="item">
        <div class="blog-item bg-line-dark overflow-hidden bora-24"><a class="main-item" href="blog-detail.html">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item2.png"/></div>
            <div class="infor p-24">
              <div class="heading flex-item-center gap-8"> 
                <div class="text-button-uppercase">realistic</div><i class="ph-fill ph-dot-outline text-placehover"> </i>
                <div class="caption1 text-placehover">Oct 10, 2023</div>
              </div>
              <div class="heading5 mt-8">A Game-Changer for E-Commerce</div>
              <div class="text-placehover mt-8">Cryptocurrencies operate on decentralized networks...</div>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</div>