
<div class="section-pricing style-one pt-100">
  <div class="bg-blur"></div>
  <div class="container"> 
    <div class="bg-blur"></div>
    <div class="row flex-between">
      <div class="col-xl-3 col-12">
        <div class="heading">
          <div class="heading3 text-white">Find Your Right Plan</div>
          <div class="body2 text-placehover mt-16">We offer a variety of pricing packages to meet the unique needs of our services. Contact us today to discuss which package is right for you.</div>
          <div class="choose-type bg-line-dark bora-8 p-8 flex-between gap-8 mt-32">
            <button class="button text-white text-button-small bg-transparent bora-8 active" data-name="monthly">Pay Monthly</button>
            <button class="button text-white text-button-small bg-transparent bora-8" data-name="yearly">Pay Yearly</button>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-12 pl-65">
        <div class="list-pricing mt-40" data-name="monthly">
          <div class="row row-gap-32">
            <div class="col-md-6 col-12">
              <div class="pricing-item bg-line-dark p-40 bora-20 h-100">
                <div class="heading5 text-white">Freebie</div>
                <div class="body3 text-placehover mt-12">Ideal for individuals who need quick access to basic features.</div>
                <div class="heading2 text-white mt-20">Free</div><a class="button bg-line-dark text-white w-100 mt-24" href="#!">Get Started</a>
                <div class="list-feature d-flex flex-column gap-12 mt-40">
                  <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 text-white p-8 bora-50 bg-blue"></i>
                    <div class="feature text-white">20,000+ of PNG & SVG graphics</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph ph-x fs-12 p-8 bora-50 bg-placehover text-white"></i>
                    <div class="feature text-placehover">Upload custom icons and fonts</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph ph-x fs-12 p-8 bora-50 bg-placehover text-white"></i>
                    <div class="feature text-placehover">Unlimited Projects</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="pricing-item bg-line-dark p-40 bora-20 h-100">
                <div class="heading5 text-white">Premium</div>
                <div class="body3 text-placehover mt-12">Ideal for individuals who who need advanced features and tools for client work.</div>
                <div class="price d-flex mt-20">
                  <div class="heading2 text-white">$9.99</div>
                  <div class="text-white">/month</div>
                </div><a class="button bg-line-dark text-white w-100 mt-24" href="#!">Get Started</a>
                <div class="list-feature d-flex flex-column gap-12 mt-40">
                  <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 text-white p-8 bora-50 bg-blue"></i>
                    <div class="feature text-white">20,000+ of PNG & SVG graphics</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 text-white p-8 bora-50 bg-blue"></i>
                    <div class="feature text-placehover">Upload custom icons and fonts</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 text-white p-8 bora-50 bg-blue"></i>
                    <div class="feature text-placehover">Access to 100 million stock images</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="list-pricing mt-40 hide" data-name="yearly">
          <div class="row row-gap-32">
            <div class="col-md-6 col-12">
              <div class="pricing-item bg-line-dark p-40 bora-20 h-100">
                <div class="heading5 text-white">Freebie</div>
                <div class="body3 text-placehover mt-12">Ideal for individuals who need quick access to basic features.</div>
                <div class="heading2 text-white text-white mt-20">Free</div><a class="button bg-line-dark text-white w-100 mt-24" href="#!">Get Started</a>
                <div class="list-feature d-flex flex-column gap-12 mt-40">
                  <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 text-white p-8 bora-50 bg-blue"></i>
                    <div class="feature text-white">20,000+ of PNG & SVG graphics</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph ph-x fs-12 p-8 bora-50 text-white"></i>
                    <div class="feature text-placehover">Upload custom icons and fonts</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph ph-x fs-12 p-8 bora-50 text-white"></i>
                    <div class="feature text-placehover">Unlimited Projects</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="pricing-item bg-line-dark p-40 bora-20 h-100">
                <div class="heading5 text-white">Premium</div>
                <div class="body3 text-placehover mt-12">Ideal for individuals who who need advanced features and tools for client work.</div>
                <div class="price d-flex mt-20">
                  <div class="heading2 text-white">$89.99</div>
                  <div class="text-white">/year</div>
                </div><a class="button bg-line-dark text-white w-100 mt-24" href="#!">Get Started</a>
                <div class="list-feature d-flex flex-column gap-12 mt-40">
                  <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 text-white p-8 bora-50 bg-blue"></i>
                    <div class="feature text-white">20,000+ of PNG & SVG graphics</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 text-white p-8 bora-50 bg-blue"></i>
                    <div class="feature text-placehover">Upload custom icons and fonts</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph ph-check fs-12 text-white p-8 bora-50 bg-blue"></i>
                    <div class="feature text-placehover">Access to 100 million stock images</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>