
<div class="projects-block pt-100"> 
  <div class="container"> 
    <div class="bg-blur"></div>
    <div class="heading text-center">
      <div class="heading3 text-center">Our Gallery of Innovative Artworks</div>
      <div class="list-nav flex-center mt-24">
        <div class="nav-item text-button pt-8 pb-8 pl-16 pr-16 bora-44 pointer" data-name="all">All</div>
        <div class="nav-item text-button pt-8 pb-8 pl-16 pr-16 bora-44 pointer" data-name="anime">Anime</div>
        <div class="nav-item text-button pt-8 pb-8 pl-16 pr-16 bora-44 pointer active" data-name="creative">Creative</div>
        <div class="nav-item text-button pt-8 pb-8 pl-16 pr-16 bora-44 pointer" data-name="pixel">Pixel</div>
        <div class="nav-item text-button pt-8 pb-8 pl-16 pr-16 bora-44 pointer" data-name="illustration">Illustration</div>
      </div>
    </div>
    <div class="list row row-gap-32 mt-40">
      <div class="col-lg-3 col-sm-6 item-filter" data-name="creative"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/1.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter" data-name="creative"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter" data-name="creative"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/3.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter" data-name="creative"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/4.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter" data-name="creative"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/5.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter" data-name="creative"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/6.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter" data-name="creative"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/7.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter" data-name="creative"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/8.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="anime"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/9.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="anime"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/10.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="anime"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/11.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="anime"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/12.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="pixel"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/3.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="pixel"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/5.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="pixel"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/7.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="pixel"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/9.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="illustration"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="illustration"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/4.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="illustration"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/6.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="illustration"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/8.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="illustration"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/10.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="illustration"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/12.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="illustration"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/7.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="illustration"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/9.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/3.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/5.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/7.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/9.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/2.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/4.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/6.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/8.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/10.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/12.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/1.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
      <div class="col-lg-3 col-sm-6 item-filter hide" data-name="all"><a class=" item" href="#!">
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100" src="assets/images/projects/11.png" alt="AI financial management"/></div>
          <div class="infor p-12">
            <div class="text-button-uppercase text-secondary">Marketting</div>
            <div class="heading7 text-on-surface mt-4">AI financial management</div>
          </div></a>
      </div>
    </div>
  </div>
</div>