
<div class="service-block list-service style-one pt-100"> 
  <div class="container"> 
    <div class="heading text-center"> 
      <div class="heading3 text-center">Find an AI solution for your business</div>
      <div class="body2 text-placehover mt-12 text-center">Experience the future of communication with our AI-powered chat solution.</div>
    </div>
    <div class="list row row-gap-32 mt-40">
      <div class="col-lg-3 col-sm-6">
        <div class="service-item hover-box-shadow pl-32 pr-32 pt-24 pb-24 bora-24 h-100"><a class="service-item-main" href="services-detail.html">
            <div class="heading"><i class="icon-chart fs-60"></i></div>
            <div class="desc mt-24">
              <div class="heading7">Analytics and Insights</div>
              <div class="text-placehover mt-4">Gain valuable insights into customer behavior, preferences</div>
            </div></a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="service-item hover-box-shadow pl-32 pr-32 pt-24 pb-24 bora-24 h-100"><a class="service-item-main" href="services-detail.html">
            <div class="heading"><i class="icon-message fs-60"></i></div>
            <div class="desc mt-24">
              <div class="heading7">Chat Bot AI</div>
              <div class="text-placehover mt-4">Engage and assist your website visitors with our intelligent </div>
            </div></a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="service-item hover-box-shadow pl-32 pr-32 pt-24 pb-24 bora-24 h-100"><a class="service-item-main" href="services-detail.html">
            <div class="heading"><i class="icon-hand-circle fs-60"></i></div>
            <div class="desc mt-24">
              <div class="heading7">Multilingual Support</div>
              <div class="text-placehover mt-4">Expand your reach and cater to a global audience ...</div>
            </div></a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="service-item hover-box-shadow pl-32 pr-32 pt-24 pb-24 bora-24 h-100"><a class="service-item-main" href="services-detail.html">
            <div class="heading"><i class="icon-chart-box fs-60"></i></div>
            <div class="desc mt-24">
              <div class="heading7">AI-Powered Chatbots</div>
              <div class="text-placehover mt-4">Engage and assist your website visitors with our intelligent</div>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</div>