.about-us.style-about.pt-80.pb-80.bg-black-surface
    .container 
        .row.row-gap-40.flex-between
            .col-12.col-lg-6.flex-column.row-gap-20
                .heading3 We Provide 
                    span Brilliant 
                    p Ideas & Adding
                .body2.text-placehover.mt-16 We are a full-service creative agency that helps businesses build brands, tell stories, and engage audiences through bold and strategic design.
                .list-service.mt-32
                    .service-item.flex-item-center
                        i.ph-bold.ph-check.text-purple.fs-24 
                        .heading7.pl-12 Free Live Chat Software
                    .service-item.flex-item-center.mt-12
                        i.ph-bold.ph-check.text-purple.fs-24 
                        .heading7.pl-12 Real Time Language Translation
                    .service-item.flex-item-center.mt-12
                        i.ph-bold.ph-check.text-purple.fs-24 
                        .heading7.pl-12 18,000+ Websites Used Aizan
                .button-block.mt-32
                    a(href="#!").button.bg-purple.button-purple-hover.text-white 
                        span 
                            span 
                        span.bg-purple Find out more
            .col-12.col-xl-5.col-lg-6.pl-65.pl-col-lg-0
                .bg-img.bora-16.overflow-hidden
                    img(src="assets/images/components/bg-about.png", alt="").w-100.d-block
                .count.flex-between.mt-20
                    .item
                        .heading3.text-purple 350
                            span +
                        .heading7.text-placehover.mt-8 Completed projects
                    .item
                        .heading3.text-purple 2500
                            span +
                        .heading7.text-placehover.mt-8 Great photography
