.our-benefit.pt-100.pb-100 
    .container
        .heading3 Our Benefit
        .list-benefit.mt-40
            .row.row-gap-32
                a(href="#!").col-md-4.col-sm-6
                    .heading6.pb-20 Enhanced Decision-Making
                    .line-dark 
                    .text-placehover.pt-20 Leverage AI's data analysis capabilities to make informed and strategic decisions that drive growth.
                a(href="#!").col-md-4.col-sm-6
                    .heading6.pb-20 Efficient Operations
                    .line-dark 
                    .text-placehover.pt-20 Automate repetitive tasks, streamline processes, and optimize resource allocation, leading to increased efficiency.
                a(href="#!").col-md-4.col-sm-6
                    .heading6.pb-20 24/7 Availability
                    .line-dark 
                    .text-placehover.pt-20 AI-powered systems can provide seamless customer support and engagement around the clock.
                a(href="#!").col-md-4.col-sm-6
                    .heading6.pb-20 Predictive Analytics
                    .line-dark 
                    .text-placehover.pt-20 Anticipate market trends and customer behavior patterns to stay ahead of the competition.
                a(href="#!").col-md-4.col-sm-6
                    .heading6.pb-20 Data-driven Insights
                    .line-dark 
                    .text-placehover.pt-20 Extract valuable insights from large datasets, enabling you to uncover hidden opportunities and address challenges.
                a(href="#!").col-md-4.col-sm-6
                    .heading6.pb-20 Cost Savings
                    .line-dark 
                    .text-placehover.pt-20 Reduce operational costs by automating manual tasks and enhancing resource allocation.
                
