.our-leader.pb-100 
    .container 
        .row 
            .heading3 Meet our leader
            .col-xl-6.col-lg-7.body1.text-placehover.mt-24 Beratung’s global leadership is comprised of several key entities, including the managing partner, the Shareholders Council (elected board of directors), the Acceleration Team (global leadership team), and the leaders of various offices and practices.
            .list-our-team.mt-40 
                .row.row-gap-32
                    .col-lg-3.col-sm-6
                        .item 
                            .bg-img 
                                img(src="assets/images/avatar/team1.png", alt="").w-100.d-block
                            .infor.mt-16 
                                .heading7 Maverick Nguyen
                                .text-placehover.mt-8 Graphic Designer
                            .list-social.bg-white
                                a(href="http://facebook.com" target="_blank") 
                                    i.icon-facebook.fs-14
                                a(href="http://linkedin.com" target="_blank") 
                                    i.icon-linkedin.fs-14
                                a(href="http://twitter.com" target="_blank") 
                                    i.icon-twitter.fs-12
                                a(href="http://instagram.com" target="_blank") 
                                    i.icon-instagram.fs-12
                    .col-lg-3.col-sm-6
                        .item 
                            .bg-img 
                                img(src="assets/images/avatar/team2.png", alt="").w-100
                            .infor.mt-16 
                                .heading7 Georgina Smith
                                .text-placehover.mt-8 CEO - Marketting
                            .list-social.bg-white
                                a(href="http://facebook.com" target="_blank") 
                                    i.icon-facebook.fs-14
                                a(href="http://linkedin.com" target="_blank") 
                                    i.icon-linkedin.fs-14
                                a(href="http://twitter.com" target="_blank") 
                                    i.icon-twitter.fs-12
                                a(href="http://instagram.com" target="_blank") 
                                    i.icon-instagram.fs-12
                    .col-lg-3.col-sm-6
                        .item 
                            .bg-img 
                                img(src="assets/images/avatar/team3.png", alt="").w-100
                            .infor.mt-16 
                                .heading7 Benjamin Pavard
                                .text-placehover.mt-8 CEM - digiNova
                            .list-social.bg-white
                                a(href="http://facebook.com" target="_blank") 
                                    i.icon-facebook.fs-14
                                a(href="http://linkedin.com" target="_blank") 
                                    i.icon-linkedin.fs-14
                                a(href="http://twitter.com" target="_blank") 
                                    i.icon-twitter.fs-12
                                a(href="http://instagram.com" target="_blank") 
                                    i.icon-instagram.fs-12
                    .col-lg-3.col-sm-6
                        .item 
                            .bg-img 
                                img(src="assets/images/avatar/team4.png", alt="").w-100
                            .infor.mt-16 
                                .heading7 Christina Rodriguez
                                .text-placehover.mt-8 Photographer
                            .list-social.bg-white
                                a(href="http://facebook.com" target="_blank") 
                                    i.icon-facebook.fs-14
                                a(href="http://linkedin.com" target="_blank") 
                                    i.icon-linkedin.fs-14
                                a(href="http://twitter.com" target="_blank") 
                                    i.icon-twitter.fs-12
                                a(href="http://instagram.com" target="_blank") 
                                    i.icon-instagram.fs-12
                    
