
<div class="slider-block style-two">
  <div class="slider-main">
    <div class="container flex-center h-100">
      <div class="row flex-center w-100">
        <div class="col-lg-9 text-center"> 
          <div class="heading2 text-center">Unleash the Power of AI Chat: Revolutionize Your Conversations</div>
        </div>
        <div class="col-lg-8 text-center"> 
          <div class="body2 text-placehover mt-24">Power up your website with our advanced chat bot that offers image and video tools.</div>
        </div>
        <div class="col-xxl-7 col-lg-8 col-11 block-input mt-40">
          <input class="body2" type="text" placeholder="Search"/><a class="button bg-green button-green-hover" href="contact.html">Find now</a>
        </div>
        <div class="col-lg-8 col-md-12 tags flex-center gap-32 mt-24">
          <div class="text-subtitle display-inline-block">product tag:</div>
          <div class="list-tag flex-center gap-16"> <a href="#!">Animation</a><a href="#!">Creative</a><a href="#!">3D</a><a href="#!">Wallpaper</a><a href="#!">Design</a></div>
        </div>
      </div>
      <div class="list-avatar"> <img src="assets/images/slider/avatar.png" alt=""/><img src="assets/images/slider/avatar1.png" alt=""/><img src="assets/images/slider/avatar2.png" alt=""/><img src="assets/images/slider/avatar3.png" alt=""/><img src="assets/images/slider/avatar4.png" alt=""/><img src="assets/images/slider/avatar5.png" alt=""/></div>
    </div>
  </div>
</div>