
<div class="slider-block style-two style-three">
  <div class="slider-main">
    <div class="container flex-center h-100">
      <div class="row flex-center w-100">
        <div class="col-lg-9 text-center"> 
          <div class="heading2 text-center">Unleash the Power of AI Chat: Revolutionize Your Conversations</div>
        </div>
        <div class="col-xxl-7 col-lg-8 col-11 block-input mt-40">
          <input class="body2" type="text" placeholder="Search"/><a class="button bg-yellow button-yellow-hover text-on-surface" href="contact.html">Find now</a>
        </div>
        <div class="col-lg-8 col-md-12 tags flex-center gap-32 mt-24">
          <div class="text-subtitle display-inline-block">product tag:</div>
          <div class="list-tag flex-center gap-16"> <a href="#!">Animation</a><a href="#!">Creative</a><a href="#!">3D</a><a href="#!">Wallpaper</a><a href="#!">Design</a></div>
        </div>
      </div>
      <div class="list-avatar"> <img src="assets/images/avatar/avatar4.png" alt=""/><img src="assets/images/avatar/avatar5.png" alt=""/><img src="assets/images/avatar/avatar2.png" alt=""/></div>
      <div class="list-cate"> 
        <div class="item flex-center">
          <div class="heading7 text-surface">Marketing</div>
          <svg xmlns="http://www.w3.org/2000/svg" width="84" height="80" viewbox="0 0 84 80" fill="none">
            <path d="M2 0.499996C-2 31.5 18.6 84 83 78" stroke="#F3D465" stroke-width="2"></path>
          </svg>
        </div>
        <div class="item flex-center">
          <div class="text-button text-surface">Business</div>
          <svg xmlns="http://www.w3.org/2000/svg" width="74" height="74" viewbox="0 0 74 74" fill="none">
            <path d="M0.5 71.5C26.8333 74.6667 78 64.9 72 0.5" stroke="#F3D465" stroke-width="2"></path>
          </svg>
        </div>
        <div class="item flex-center">
          <div class="text-button text-surface">Agency</div>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="89" viewbox="0 0 40 89" fill="none">
            <path d="M0.289666 87.3664C29.9071 82.7682 56.568 34.8574 22.8802 1.34416" stroke="#F3D465" stroke-width="2"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>