.top-nav.style-three.bg-yellow
    .container.flex-between.h-60
        .left-block.flex-item-center
            .location.flex-item-center
                i.ph-light.ph-map-pin.text-on-surface.fs-20
                span.pl-8.caption1.text-on-surface 160 Broadway 15th floor, New York
            .mail.pl-28.flex-item-center
                i.ph-light.ph-clock.text-on-surface.fs-20
                span.pl-8.caption1.text-on-surface 8:00 am - 6:00 pm
        .right-block.flex-item-center.gap-12
            .mail.flex-item-center
                i.ph-light.ph-envelope.text-on-surface.fs-20
                span.pl-8.caption1.text-on-surface hi.avitex@gmail.com
            .line
            .call-block.flex-item-center.gap-8.bg-white.bora-99.pt-4.pb-4.pl-8.pr-8
                i.ph-fill.ph-phone.p-4.bora-50.bg-on-surface.text-white
                .text-on-surface.fw-700 123 456 7890