.top-nav.style-four.bg-purple
    .container.flex-between.h-60
        .left-block.flex-item-center
            .mail.flex-item-center
                i.ph-light.ph-envelope.text-white.fs-20
                span.pl-8.caption1.text-white hi.avitex@gmail.com
            .location.flex-item-center.pl-28
                i.ph-light.ph-map-pin.text-white.fs-20
                span.pl-8.caption1.text-white 160 Broadway 15th floor, New York
        .right-block.flex-item-center.gap-12
            .follow-block.flex-item-center.gap-12
                .text-button-small Follow Us
                include ../../list-social.pug
                