.about-block.style-two.bg-white.pt-100.pb-100 
    .container 
        .row.flex-between.row-gap-40    
            .col-lg-5.pr-0.pr-col-lg-0
                img(src="assets/images/components/bg-about2.png", alt="").w-100.bora-24
                .infor.bg-white.p-24.bora-12.scroll-bottom-to-top5
                    .heading5.text-on-surface Transformer BG <br>Green neon
            .col-lg-6.pl-0.pl-col-lg-0 
                .text-subtitle.pt-8.pb-8.pl-20.pr-20.bg-green.display-inline-block.bora-99.scroll-right-to-left1 About us
                .heading3.text-on-surface.mt-32.scroll-right-to-left2 We are creating modern & high quality software for your business
                .body2.text-secondary.mt-32.scroll-right-to-left3 Upload files from your device without any configuration. Uploading files are a big struggle when it comes to form handling, Aizan fixes that.
                .list-service.mt-24.scroll-right-to-left4
                    .service-item.flex-item-center
                        i.ph-bold.ph-check.text-green.fs-24
                        .heading7.text-on-surface.pl-12 Free Live Chat Software
                    .service-item.flex-item-center.mt-12
                        i.ph-bold.ph-check.text-green.fs-24
                        .heading7.text-on-surface.pl-12 Real Time Language Translation
                    .service-item.flex-item-center.mt-12
                        i.ph-bold.ph-check.text-green.fs-24
                        .heading7.text-on-surface.pl-12 18,000+ Websites Use Aizan

