.banner-block.style-two.bg-green.pt-80.pb-80 
    .container 
        .content
            .heading3.text-center
                i.icon-star.text-white.fs-40.pl-8
                span.pl-8 Welcome to our AI-powered platform,
                img(src="assets/images/components/banner2-1.png", alt="").pl-8
                span.pl-8 where creativity and innovation converge! 
                img(src="assets/images/components/banner2-2.png", alt="").pl-8
                span.pl-8 Our cutting-edge technology empowers you to transform simple text into stunning visuals.
                i.icon-star.text-white.fs-40
            