.counter.bg-surface.pt-80.pb-80 
    .container 
        .row.flex-between.row-gap-40
            .col-lg-5.pr-16.pr-col-lg-0
                .heading3.text-on-surface We Provide brilliant Ideas & Adding
                .body2.text-secondary.mt-24 We are a full-service creative agency that helps businesses build brands, tell stories, and engage audiences through bold and strategic design.
            .col-lg-6.pl-0.pl-col-lg-0.flex-between.gap-16
                .item
                    .icon.flex-center.w-60.h-60.bg-green.bora-50.d-inline-flex 
                        i.ph-bold.ph-check.fs-24.text-white
                    .heading2.text-on-surface.mt-20 350
                    .body1.text-secondary.mt-8 Completed projects
                .item
                    .icon.flex-center.w-60.h-60.bg-green.bora-50.d-inline-flex 
                        i.ph-bold.ph-check.fs-24.text-white
                    .heading2.text-on-surface.mt-20 2500
                    .body1.text-secondary.mt-8 Great photography
                .item
                    .icon.flex-center.w-60.h-60.bg-green.bora-50.d-inline-flex
                        i.ph-bold.ph-check.fs-24.text-white
                    .heading2.text-on-surface.mt-20 150
                        span k
                    .body1.text-secondary.mt-8 Satisfied users
                