.instagram-block.bg-white
    .heading.text-center 
        .heading4.text-on-surface AIZAN On Instagram
        .sub-title.bg-surface.pt-8.pb-8.pl-16.pr-16.display-inline-block.bora-32.body2.text-on-surface.mt-12 @aizan
    .list-image.bg-on-surface.mt-28 
        .item 
            img(src="assets/images/insta/1.png", alt="")
            a(href="https://www.instagram.com/" target="_blank").bg-white.bora-16
                i.ph.ph-instagram-logo.fs-32
        .item 
            img(src="assets/images/insta/3.png", alt="")
            a(href="https://www.instagram.com/" target="_blank").bg-white.bora-16
                i.ph.ph-instagram-logo.fs-32
        .item 
            img(src="assets/images/insta/4.png", alt="")
            a(href="https://www.instagram.com/" target="_blank").bg-white.bora-16
                i.ph.ph-instagram-logo.fs-32
        .item 
            img(src="assets/images/insta/2.png", alt="")
            a(href="https://www.instagram.com/" target="_blank").bg-white.bora-16
                i.ph.ph-instagram-logo.fs-32
        .item 
            img(src="assets/images/insta/5.png", alt="")
            a(href="https://www.instagram.com/" target="_blank").bg-white.bora-16
                i.ph.ph-instagram-logo.fs-32
        .item 
            img(src="assets/images/insta/6.png", alt="")
            a(href="https://www.instagram.com/" target="_blank").bg-white.bora-16
                i.ph.ph-instagram-logo.fs-32
        .item 
            img(src="assets/images/insta/7.png", alt="")
            a(href="https://www.instagram.com/" target="_blank").bg-white.bora-16
                i.ph.ph-instagram-logo.fs-32
        .item 
            img(src="assets/images/insta/8.png", alt="")
            a(href="https://www.instagram.com/" target="_blank").bg-white.bora-16
                i.ph.ph-instagram-logo.fs-32
        .item 
            img(src="assets/images/insta/9.png", alt="")
            a(href="https://www.instagram.com/" target="_blank").bg-white.bora-16
                i.ph.ph-instagram-logo.fs-32
        .item 
            img(src="assets/images/insta/10.png", alt="")
            a(href="https://www.instagram.com/" target="_blank").bg-white.bora-16
                i.ph.ph-instagram-logo.fs-32
        
        