.list-partner-slide.bg-green.pt-40.pb-40
    .list
        .item 
            img(src="assets/images/partners/mian-white.svg", alt="")
        .item 
            img(src="assets/images/partners/mega-white.svg", alt="")
        .item 
            img(src="assets/images/partners/mian2-white.svg", alt="")
        .item 
            img(src="assets/images/partners/beta-white.svg", alt="")
        .item 
            img(src="assets/images/partners/genvi-white.svg", alt="")
        .item 
            img(src="assets/images/partners/mian-white.svg", alt="")
        .item 
            img(src="assets/images/partners/mega-white.svg", alt="")
        .item 
            img(src="assets/images/partners/mian2-white.svg", alt="")
        .item 
            img(src="assets/images/partners/beta-white.svg", alt="")
        .item 
            img(src="assets/images/partners/genvi-white.svg", alt="")
        