.section-pricing.style-two.pt-100.pb-100.bg-white
    .container 
        .heading.flex-column-center.row-gap-40
            .title.text-center
                .heading3.text-on-surface Find Your Right Plan
                .body2.text-secondary.mt-16 We offer a variety of pricing packages to meet the unique needs of our services. 
            .choose-type.flex-item-center.gap-20.mt-16
                .body3.text-on-surface Pay Monthly
                .switch 
                    .bg-surface
                .body3.text-secondary Pay Yearly
        .row.row-gap-40
            .list-pricing.mt-40.show
                .row.row-gap-32
                    .col-lg-4.col-12.scroll-bottom-to-top1
                        .pricing-item.bg-line-dark.p-32.bora-20.h-100
                            .heading6.text-on-surface Freebie
                            .text-secondary.mt-12 Ideal for individuals who need quick access to basic features.
                            .price.d-flex.mt-20
                                .heading2.text-on-surface $0
                                span.text-on-surface /month
                            a(href="#!").button.bg-line-dark.text-on-surface.w-100.mt-24 Get Started
                            .list-feature.d-flex.flex-column.gap-12.mt-40
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-check.fs-12.p-8.bora-50.bg-green
                                    .feature.text-on-surface 20,000+ of PNG & SVG graphics
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-x.fs-12.p-8.bora-50.bg-line.text-on-surface
                                    .feature.text-secondary Upload custom icons and fonts
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-x.fs-12.p-8.bora-50.bg-line.text-on-surface
                                    .feature.text-secondary Unlimited Projects
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-x.fs-12.p-8.bora-50.bg-line.text-on-surface
                                    .feature.text-secondary Upload graphics & video in up to 4k
                    .col-lg-4.col-12.scroll-bottom-to-top2
                        .pricing-item.bg-line-dark.p-32.bora-20.h-100
                            .heading6.text-on-surface Professional
                            .text-secondary.mt-12 Ideal for individuals who who need advanced features and tools for client work.
                            .price.d-flex.mt-20
                                .heading2.text-on-surface $9
                                span.text-on-surface /month
                            a(href="#!").button.bg-line-dark.text-on-surface.w-100.mt-24 Get Started
                            .list-feature.d-flex.flex-column.gap-12.mt-40
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-check.fs-12.p-8.bora-50.bg-green
                                    .feature.text-on-surface 20,000+ of PNG & SVG graphics
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-check.fs-12.p-8.bora-50.bg-green
                                    .feature.text-on-surface Upload custom icons and fonts
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-x.fs-12.p-8.bora-50.bg-line.text-on-surface
                                    .feature.text-secondary Instant Access to our design system
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-x.fs-12.p-8.bora-50.bg-line.text-on-surface
                                    .feature.text-secondary Create teams to collaborate on designs
                    .col-lg-4.col-12.scroll-bottom-to-top3
                        .pricing-item.bg-line-dark.p-32.bora-20.h-100
                            .heading6.text-on-surface Enterprise
                            .text-secondary.mt-12 Ideal for businesses who need personalized services and security for large teams.
                            .price.d-flex.mt-20
                                .heading2.text-on-surface $19
                                span.text-on-surface /month
                            a(href="#!").button.bg-line-dark.text-on-surface.w-100.mt-24 Get Started
                            .list-feature.d-flex.flex-column.gap-12.mt-40
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-check.fs-12.p-8.bora-50.bg-green
                                    .feature.text-on-surface 20,000+ of PNG & SVG graphics
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-check.fs-12.p-8.bora-50.bg-green
                                    .feature.text-on-surface Upload custom icons and fonts
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-check.fs-12.p-8.bora-50.bg-green
                                    .feature.text-on-surface Unlimited Sharing
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-check.fs-12.p-8.bora-50.bg-green
                                    .feature.text-on-surface Upload graphics & video in up to 4k
                                .item.flex-item-center.gap-16 
            .list-pricing-year.mt-40.hide
                .row.row-gap-32
                    .col-lg-4.col-12
                        .pricing-item.bg-line-dark.p-32.bora-20.h-100
                            .heading6.text-on-surface Freebie
                            .text-secondary.mt-12 Ideal for individuals who need quick access to basic features.
                            .price.d-flex.mt-20
                                .heading2.text-on-surface $0
                                span.text-on-surface /year
                            a(href="#!").button.bg-line-dark.text-on-surface.w-100.mt-24 Get Started
                            .list-feature.d-flex.flex-column.gap-12.mt-40
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-check.fs-12.p-8.bora-50.bg-green
                                    .feature.text-on-surface 20,000+ of PNG & SVG graphics
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-x.fs-12.p-8.bora-50.bg-line.text-on-surface
                                    .feature.text-secondary Upload custom icons and fonts
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-x.fs-12.p-8.bora-50.bg-line.text-on-surface
                                    .feature.text-secondary Unlimited Projects
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-x.fs-12.p-8.bora-50.bg-line.text-on-surface
                                    .feature.text-secondary Upload graphics & video in up to 4k
                    .col-lg-4.col-12
                        .pricing-item.bg-line-dark.p-32.bora-20.h-100
                            .heading6.text-on-surface Professional
                            .text-secondary.mt-12 Ideal for individuals who who need advanced features and tools for client work.
                            .price.d-flex.mt-20
                                .heading2.text-on-surface $90
                                span.text-on-surface /year
                            a(href="#!").button.bg-line-dark.text-on-surface.w-100.mt-24 Get Started
                            .list-feature.d-flex.flex-column.gap-12.mt-40
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-check.fs-12.p-8.bora-50.bg-green
                                    .feature.text-on-surface 20,000+ of PNG & SVG graphics
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-check.fs-12.p-8.bora-50.bg-green
                                    .feature.text-on-surface Upload custom icons and fonts
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-x.fs-12.p-8.bora-50.bg-line.text-on-surface
                                    .feature.text-secondary Instant Access to our design system
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-x.fs-12.p-8.bora-50.bg-line.text-on-surface
                                    .feature.text-secondary Create teams to collaborate on designs
                    .col-lg-4.col-12
                        .pricing-item.bg-line-dark.p-32.bora-20.h-100
                            .heading6.text-on-surface Enterprise
                            .text-secondary.mt-12 Ideal for businesses who need personalized services and security for large teams.
                            .price.d-flex.mt-20
                                .heading2.text-on-surface $190
                                span.text-on-surface /year
                            a(href="#!").button.bg-line-dark.text-on-surface.w-100.mt-24 Get Started
                            .list-feature.d-flex.flex-column.gap-12.mt-40
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-check.fs-12.p-8.bora-50.bg-green
                                    .feature.text-on-surface 20,000+ of PNG & SVG graphics
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-check.fs-12.p-8.bora-50.bg-green
                                    .feature.text-on-surface Upload custom icons and fonts
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-check.fs-12.p-8.bora-50.bg-green
                                    .feature.text-on-surface Unlimited Sharing
                                .item.flex-item-center.gap-16 
                                    i.ph.ph-check.fs-12.p-8.bora-50.bg-green
                                    .feature.text-on-surface Upload graphics & video in up to 4k
                                .item.flex-item-center.gap-16 
                        