.about-us {
    .container .row {
        >div:first-child {
            .heading3 {
                z-index: 2;

                span {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: -1px;
                        right: 0;
                        bottom: -22px;
                        height: 30px;
                        background-color: transparent;
                        border: 3px solid var(--purple);
                        border-radius: 30%;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        left: -1px;
                        right: 0;
                        bottom: -24px;
                        height: 24px;
                        background-color: var(--black-surface);
                        z-index: 1;
                    }
                }

                p {
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }

    @media (max-width: 991.98px) {
        .container .row {

            >div:last-child {
                .count {
                    justify-content: space-around;
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        .container .row {
            >div:first-child {
                .heading3 {
                    span {

                        &::before,
                        &::after {
                            display: none;
                        }
                    }
                }
            }

            >div:last-child {
                .count {
                    justify-content: space-between;
                }
            }
        }
    }
}