/*
*** Blog detail: Start
*/
.blog-detail {
    .container {
        >.row {
            >div:first-child {
                .blog-title {
                    .list-social {
                        a {
                            border-radius: 8px;
                            border: 1px solid var(--on-surface);
                            padding: 9px 16px;
                            gap: 8px;

                            .caption1 {
                                padding-left: 8px;
                                border-left: 1px solid var(--line-dark);
                            }
                        }
                    }
                }

                .blog-comment {
                    select {
                        -webkit-appearance: auto;
                        padding-right: 2px;
                    }

                    .list-comment {
                        .comment-item {
                            .heading {
                                img {
                                    width: 52px;
                                    height: 52px;
                                }
                            }

                            .comment-infor {
                                .like {
                                    i {
                                        transition: all ease 0.3s;
                                    }
                                }
                            }
                        }

                        .list-reply {
                            max-height: 0;
                            opacity: 0;
                            visibility: hidden;
                            overflow: hidden;
                            transition: all ease 0.5s;
                        }

                        .list-reply.show {
                            max-height: 1000px;
                            opacity: 1;
                            visibility: visible;
                            transition: all ease 0.5s;
                        }
                    }
                }


                .blog-form-contact {
                    .row {
                        margin-left: -10px;
                        margin-right: -10px;

                        >div {
                            padding-left: 10px;
                            padding-right: 10px;

                            input,
                            textarea {
                                border: 1px solid var(--line-dark);
                            }
                        }
                    }

                    textarea {
                        border-radius: 5px;
                        width: 100%;
                        height: 106px;
                        padding: 12px 20px;
                        border: 1px solid #e4e4e4;

                        &:focus {
                            outline: 1px solid var(--primary-color);
                        }
                    }
                }
            }

            >div:last-child {
                .author-infor {
                    .list-social {
                        margin-top: 16px;

                        a {
                            background-color: var(--line-dark);
                            transition: all ease 0.3s;

                            &:hover {
                                background-color: var(--purple);
                            }
                        }
                    }
                }

                .newsletter {
                    input {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        text-transform: unset;
                    }
                }
            }
        }
    }
}

/*
*** Blog detail: End
*/