/*
Bread crum: Start
*/
.breadcrum {
    background-color: #29292C;

    .text-nav {
        .heading3 {
            position: relative;

            svg {
                position: absolute;
                top: -12px;
                right: -40px;
            }
        }
    }
}
/*
Bread crum: End
*/