/*
*** Counter Home3: Start
*/
.counter-block.style-three {
    .list-img {
        background-image: url(/assets/images/components/bg-grid.png);
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .bg-img {
            width: 360px;
            height: 360px;
            border-radius: 50%;
            padding: 72px;
            border: 1px dashed var(--line);
            position: relative;

            .logo {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba($color: #F3D465, $alpha: 0.1);
            }

            .list-avatar {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 50%;
                animation: circleScroll 30s linear infinite;

                .avatar {
                    position: absolute;
                    width: 96px;
                    height: 96px;

                    img {
                        width: 100%;
                        height: 100%;
                        animation: circleScrollMinus 30s linear infinite;
                    }

                    &:nth-child(1) {
                        top: -48px;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    &:nth-child(2) {
                        top: 36px;
                        right: -30px;
                    }

                    &:nth-child(3) {
                        bottom: 36px;
                        right: -30px;
                    }

                    &:nth-child(4) {
                        bottom: -48px;
                        left: 50%;
                        transform: translateX(-50%);    
                    }

                    &:nth-child(5) {
                        bottom: 36px;
                        left: -30px;
                    }

                    &:nth-child(6) {
                        top: 36px;
                        left: -30px;
                    }
                }
            }
        }
    }

    @keyframes circleScroll {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes circleScrollMinus {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(-360deg);
        }
    }

    @media (max-width: 991.98px) {
        .row {
            flex-direction: column-reverse;

            >div:first-child {
                margin-top: 40px;
            }

            .list-img {
                justify-content: center;

                img {
                    width: 70%;
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        .row {
            .list-img {
                .bg-img {
                    width: 240px;
                    height: 240px;

                    .logo {
                        svg {
                            width: 60px;
                            height: 32px;
                        }
                    }

                    .list-avatar {
                        .avatar {
                            width: 60px;
                            height: 60px;

                            &:nth-child(1) {
                                top: -30px;
                                left: 50%;
                                transform: translateX(-50%);
                            }

                            &:nth-child(2) {
                                top: 35px;
                                right: -18px;
                            }

                            &:nth-child(3) {
                                bottom: 27px;
                                right: -14px;
                            }

                            &:nth-child(4) {
                                bottom: -30px;
                                left: 50%;
                                transform: translateX(-50%);
                            }

                            &:nth-child(5) {
                                bottom: 27px;
                                left: -14px;
                            }

                            &:nth-child(6) {
                                top: 35px;
                                left: -18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
*** Counter Home3: End
*/

/*
*** Counter About Us: Start
*/
.style-purple {
    .counter {
        background-color: var(--line-dark);

        .text-on-surface {
            color: var(--white);
        }

        .text-secondary {
            color: var(--placehover);
        }

        .heading2 {
            font-size: 44px;
            line-height: 54px;
        }
    }
}

/*
*** Counter About Us: End   
*/