.form-contact.section-contact {
    position: relative;

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        bottom: 0;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .form-block {
            width: 50%;
            height: 100%;
            padding-left: 80px;

            .row {
                margin-left: -12px;
                margin-right: -12px;

                >div {
                    padding-left: 12px;
                    padding-right: 12px;
                    position: relative;

                    i {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        display: block;
                        right: 24px;
                    }
                }
            }
        }
    }

    @media (max-width: 1320px) {
        .container {
            .form-block {
                padding-left: 15px;
            }
        }
    }

    @media (max-width: 991.98px) {
        .bg-img {
            position: relative;
            width: 100%;
        }

        .container {
            .form-block {
                width: 100%;
                padding-left: 0;
            }
        }
    }
}