.how-it-work {
    .row.mt-40 {
        >div:first-child {
            .feature-item {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    height: 36px;
                    width: 1px;
                    background-color: var(--white);
                    bottom: -38px;
                    left: 36px;
                }

                &:last-child {
                    &::before {
                        display: none;
                    }
                }
            }
        }

        >div:last-child {
            .bg-img {
                position: relative;

                .count {
                    position: absolute;
                    left: 32px;
                    bottom: 32px;
                }
            }
        }
    }

    @media (max-width: 991.98px) {
        .row.mt-40 {
            >div:first-child {
                .feature-item {
                    &::before {
                        height: 21px;
                        bottom: -24px;
                    }
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        .row.mt-40 {
            >div:first-child {
                .feature-item {
                    &::before {
                        height: 22px;
                        bottom: -24px;
                        left: 28px;
                    }
                }
            }

            >div:last-child {
                .bg-img {
                    height: 240px;

                    img {
                        height: 100%;
                        object-fit: cover;
                    }

                    .count {
                        left: 16px;
                        bottom: 16px;
                        padding-left: 16px;
                        padding-right: 16px;
                    }
                }
            }
        }
    }
}

.how-it-work.style-four {
    background-attachment: fixed;
    background-image: url(../images/components/bg-how-it-work4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;

    @media (max-width: 991.98px) {
        .heading {
            .body2 {
                text-align: left !important;
            }
        }
    }
}

.style-purple {
    .col-lg-7 {
        .bg-blue {
            background-color: var(--purple);
        }
    }
}