.list-service.style-four {
    .list {
        .service-item {
            transition: all ease 0.3s;

            i {
                &::before {
                    transition: all ease 0.3s;
                }
            }

            .text-placehover {
                transition: all ease 0.3s;
            }

            &:hover {
                background-color: var(--purple);

                i {
                    &::before {
                        color: var(--white);
                    }
                }

                .text-placehover {
                    color: var(--white);
                }
            }
        }
    }
}