/*
*** Shared List Questions: Start
*/
.question-item {
    border-bottom: 1px solid rgba($color: #FFFFFF, $alpha: 0.1);

    .question-item-main {
        i {
            transform: rotate(0);
            transition: all ease 0.5s;
        }

        @media (max-width: 575.99px) {
            i {
                font-size: 16px;
            }
        }
    }


    .content-question {
        transition: all ease-in-out 0.5s;
        max-height: 0;
        overflow: hidden;

        .border-line {
            background-color: rgba(231, 231, 231, 0.8);
        }
    }

    &:hover {
        .question-item-main {
            color: var(--white);
        }
    }
}

.question-item.open {
    .content-question {
        max-height: 150px;
    }
}

/*
*** Shared List Questions: End
*/

/*
*** FAQs Home3: Start
*/
.faqs-block {
    position: relative;

    .bg-blur {
        position: absolute;
        right: -100px;
        bottom: -100px;
        width: 500px;
        height: 500px;
        border-radius: 500px;
        opacity: 0.15;
        background: var(--yellow);
        filter: blur(132px);
        z-index: 0;
    }

    .question-item {
        position: relative;
        z-index: 1;
    }
}

/*
*** FAQs Home3: End
*/

/*
*** FAQs Home4: Start
*/
.faqs-block.style-four {
    position: relative;
    z-index: 1;

    .list-question {
        >div {
            .question-item-main {
                i {
                    color: var(--purple);
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

/*
*** FAQs Home4: End
*/