/*
*** List partner: Start
*/
.list-partner {
    @media (max-width: 1199.98px) {
        .container {
            justify-content: center;
        }
    }

    @media (max-width: 575.98px) {
        .partner-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35%;

            img {
                width: 100%;
            }
        }
    }
}

/*
*** List partner: End
*/
/*
*** List partner Home2: Start
*/
.style-two {
    .list-partner {
        background: var(--surface);

        .heading7 {
            color: var(--on-surface);
        }
    }
}

/*
*** List partner Home2: End
*/

/*
*** List partner autoplay Home2: Start
*/
.list-partner-slide {
    .list {
        display: flex;
        width: calc((152px + 230px + 258px + 202px + 263px) * 2 + 120px * 10);
        overflow: hidden;
        animation: scroll 30s linear infinite;

        .item {
            margin: 0 60px;
        }
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(calc((152px + 230px + 258px + 202px + 263px) * 2 + 120px * 10) * -0.4);
        }
    }
}

/*
*** List partner autoplay Home2: End
*/

/*
*** List partner autoplay Home3: Start
*/
.list-partner-slide.style-three {
    .list {
        display: flex;
        width: calc(2080px * 2 + 120px * 2);
        overflow: hidden;
        animation: scroll3 30s linear infinite;

        .item {
            margin: 0 60px;

            .text {
                font-size: 96px;
                font-weight: 700;
                color: var(--on-surface);
                white-space: nowrap;
                -webkit-text-stroke: 2px var(--yellow);
            }
        }

        @media (max-width: 575.98px) {
            .item {
                .text {
                    font-size: 48px;
                }
            }
        }
    }

    @keyframes scroll3 {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(calc(2080px * 2 + 120px * 2) * -0.4);
        }
    }
}

/*
*** List partner autoplay Home3: End
*/

/*
*** List partner autoplay Home4: Start
*/
.style-four {
    .list-partner-slide {
        background-color: var(--purple);
        padding-top: 36px;
        padding-bottom: 36px;
    }
}
/*
*** List partner autoplay Home4: End
*/

/*
*** List partner services detail: Start
*/
.style-services-detail {
    .list-partner {
        background: transparent;
    }
}

/*
*** List partner services detail: End
*/