.list-service {
    .list {
        .service-item {
            transition: all ease 0.3s;

            i {
                &::before {
                    transition: all ease 0.3s;
                }
            }

            .text-placehover {
                transition: all ease 0.3s;
            }

            &:hover {
                background-color: var(--purple);
                margin-top: -8px;

                i {
                    &::before {
                        color: var(--white);
                    }
                }

                .text-placehover {
                    color: var(--white);
                }
            }
        }

        @media (max-width: 1023.98px) {
            .service-item {
                &:hover {
                    margin-top: 0;
                }
            }
        }
    }
}