/*
List pricing: Start
*/
.section-pricing {
    .container {
        >.row {
            >div:first-child {
                button.active {
                    background-color: var(--blue);
                }
            }

            .list-pricing,
            .list-pricing-year {
                .price {
                    align-items: flex-end;
                }

                .pricing-item {
                    border: 2px solid transparent;
                    cursor: pointer;
                    transition: all ease 0.3s;

                    a {
                        transition: all ease 0.3s;
                        border: 2px solid var(--blue);

                        &:hover {
                            background-color: var(--blue);
                        }
                    }

                    i.ph-x {
                        background-color: rgba($color: #FFFFFF, $alpha: 0.2);
                    }

                    &:hover {
                        background-color: var(--on-surface);
                        border: 2px solid var(--blue);
                    }
                }
            }
        }

        .list-more-feature {
            .row {
                margin-left: 0;
                margin-right: 0;

                >div {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        @media (max-width: 1199.98px) {
            >.row {
                >div:first-child {
                    .choose-type {
                        display: inline-block;
                    }
                }

                >div:last-child {
                    padding-left: 15px;
                }
            }
        }

        @media (max-width: 575.98px) {
            .list-more-feature {
                .row {
                    .col-4 {
                        width: 25%;
                    }

                    .col-2 {
                        width: 33%;
                    }
                }
            }
        }
    }
}

.section-pricing.style-one {
    position: relative;

    >.bg-blur {
        position: absolute;
        right: -50px;
        top: 100px;
        width: 534px;
        height: 534px;
        border-radius: 534px;
        opacity: 0.14;
        background: #5596F8;
        filter: blur(132px);
        z-index: 0;
    }

    .container {
        position: relative;

        .bg-blur {
            position: absolute;
            left: -50px;
            top: 0;
            width: 534px;
            height: 534px;
            border-radius: 534px;
            opacity: 0.14;
            background: #5596F8;
            filter: blur(132px);
            z-index: 0;
        }

        .row,
        .list-pricing {
            position: relative;
            z-index: 2;
        }
    }
}

@keyframes showListPrice {
    from {
        // transform: scale(0.2);
        opacity: 0;
    }

    to {
        // transform: scale(1);
        opacity: 1;
    }
}

.list-pricing.hide {
    display: none;
}

.list-pricing.show {
    display: block;
    animation: showListPrice ease-in-out 0.5s;
}

.style-pricing {
    .section-pricing {
        .container {
            >.row {
                >div:first-child {
                    button.active {
                        background-color: var(--purple);
                    }
                }

                .list-pricing {
                    .pricing-item {
                        a {
                            border: 2px solid var(--purple);

                            &:hover {
                                background-color: var(--purple);
                            }
                        }

                        i.ph-x {
                            background-color: rgba($color: #FFFFFF, $alpha: 0.2);
                        }

                        &:hover {
                            border: 2px solid var(--purple);
                        }
                    }
                }
            }
        }
    }
}

/*
List pricing: End
*/


/*
Section Pricing Home2: Start
*/
.section-pricing.style-two {
    .container {
        .heading {
            .switch {
                .bg-surface {
                    display: block;
                    width: 80px;
                    height: 40px;
                    border-radius: 99px;
                    border: none;
                    outline: none;
                    position: relative;
                    transition: all ease 0.6s;
                    overflow: hidden;
                    cursor: pointer;
                    border: 1px solid var(--line);

                    &::before {
                        content: "";
                        position: absolute;
                        width: 32px;
                        height: 32px;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 4px;
                        background-color: var(--green);
                        border-radius: 50%;
                        transition: all ease 0.3s;
                    }
                }

                &.enable {
                    .bg-surface {
                        background-color: var(--green);

                        &::before {
                            left: 44px;
                            background-color: var(--white);
                        }
                    }
                }
            }
        }

        .list-pricing,
        .list-pricing-year {
            .pricing-item {
                border: 2px solid var(--line);

                a {
                    border: 2px solid var(--green);

                    &:hover {
                        background-color: var(--green);
                        color: var(--white);
                    }
                }

                i.ph-x {
                    background-color: var(--line);
                }

                &:hover {
                    box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.15);
                    background-color: var(--white);
                    border: 2px solid var(--green);
                }
            }
        }
    }

    @keyframes showList {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .list-pricing.hide {
        display: none;
    }

    .list-pricing.show {
        display: block;
        animation: showList ease-in-out 0.7s;
    }

    .list-pricing-year.hide {
        display: none;
    }

    .list-pricing-year.show {
        display: block;
        animation: showList ease-in-out 0.7s;
    }
}

/*
Section Pricing Home2: End
*/

/*
Section Pricing Home3: Start
*/
.style-three {
    .section-pricing {
        padding-bottom: 100px;
        background-color: var(--black-surface);

        >.bg-blur {
            background: none;
        }

        .container {
            .bg-blur {
                background: none;
            }

            >.row {
                >div:first-child {
                    button.active {
                        background-color: var(--yellow);
                        color: var(--on-surface);
                    }
                }

                .list-pricing,
                .list-pricing-year {
                    .pricing-item {
                        a {
                            border: 2px solid var(--yellow);

                            &:hover {
                                color: var(--on-surface);
                                background-color: var(--yellow);
                            }
                        }

                        &:hover {
                            background-color: var(--on-surface);
                            border: 2px solid var(--yellow);
                        }
                    }
                }
            }
        }

        .bg-blue {
            background-color: var(--yellow);
        }
    }
}

/*
Section Pricing Home3: End
*/