.projects-block {
    .container {
        position: relative;

        >.bg-blur {
            position: absolute;
            top: 0;
            left: -100px;
            width: 534px;
            height: 534px;
            border-radius: 534px;
            opacity: 0.14;
            background: #6F97FF;
            filter: blur(132px);
            z-index: 0;
        }

        .heading .list-nav {
            position: relative;
            z-index: 1;

            .active {
                background-color: var(--blue);
            }
        }

        .list {
            position: relative;
            z-index: 1;

            >div {
                a {
                    cursor: pointer;
                    position: relative;
                    display: block;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba($color: #000000, $alpha: 0.5);
                        opacity: 0;
                        visibility: hidden;
                        transition: all linear 0.3s;
                        border-radius: 20px;
                        overflow: hidden;
                        z-index: 2;

                        @media (max-width: 575.98px) {
                            border-radius: 14px;
                        }
                    }

                    .bg-img {
                        position: relative;
                        z-index: 1;

                        img {
                            transition: all ease 0.5s;
                        }
                    }

                    .infor {
                        background-color: var(--white);
                        border-radius: 10px;
                        position: absolute;
                        left: 16px;
                        right: 16px;
                        bottom: -120px;
                        overflow: hidden;
                        transition: all linear 0.3s;
                        z-index: 3;

                        .heading7 {
                            text-transform: capitalize;
                        }
                    }

                    &:hover {
                        &::before {
                            opacity: 1;
                            visibility: visible;
                        }

                        .bg-img {
                            img {
                                transform: scale(1.05);
                            }
                        }

                        .infor {
                            bottom: 16px;
                        }
                    }

                    @media (max-width: 1023.98px) {
                        .infor {
                            bottom: 16px;
                        }
                    }
                }
            }
        }
    }
}