/*
Testimonial Home1: Start
*/
.testimonial-block.style-one {
    .container {
        .row {
            >div {
                .list-avatar {
                    padding-left: 54px;
                    padding-right: 54px;
                    position: relative;

                    .avatar.slick-slider {
                        padding-left: 70px;
                        padding-right: 70px;

                        .slick-list {
                            margin-left: -20px;
                            margin-right: -20px;
                            padding: 0 !important;

                            .slick-track {
                                overflow: auto;
                                padding-top: 70px;
                                padding-bottom: 50px;
                                display: flex !important;

                                .item {
                                    padding-left: 10px;
                                    padding-right: 10px;
                                    transition: all ease 0.4s;
                                    transform: scale(0.9);
                                    border-radius: 50%;

                                    .bg-img {
                                        border-radius: 50%;
                                        transition: all ease 0.4s;
                                        padding: 10px;

                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
                                }

                                .item.slick-center {
                                    transform: scale(1.2);

                                    .bg-img {
                                        background-color: var(--line-dark);
                                    }
                                }
                            }
                        }
                    }

                    .prev-btn,
                    .next-btn {
                        position: absolute;
                        top: calc(50% + 10px);
                        transform: translateY(-50%);
                        cursor: pointer;
                        transition: all ease 0.5s;
                        z-index: 1;

                        &:hover {
                            border: 1px solid var(--blue) !important;
                        }
                    }

                    .prev-btn {
                        left: 54px;
                    }

                    .next-btn {
                        right: 54px;
                    }
                }

                .list-comment {
                    overflow: hidden;

                    .cmt-item {
                        display: none;
                    }

                    .cmt-item.active {
                        display: block;
                        animation: opacityAnimate ease 0.7s;
                    }

                    @keyframes opacityAnimate {
                        from {
                            opacity: 0;
                            transform: translate(500px);
                        }

                        to {
                            opacity: 1;
                            transform: translate(0);
                        }
                    }
                }

                @media (max-width: 575.98px) {
                    .list-avatar {
                        padding-left: 0;
                        padding-right: 0;

                        .avatar.slick-slider {
                            padding-left: 50px;
                            padding-right: 50px;

                            .slick-list {
                                .slick-track {
                                    padding-top: 40px;
                                    padding-bottom: 30px;

                                    .item {
                                        padding-left: 8px;
                                        padding-right: 8px;

                                        .bg-img {
                                            padding: 8px;
                                        }
                                    }
                                }
                            }
                        }

                        .prev-btn {
                            left: 0;
                            width: 24px;
                            height: 24px;

                            i {
                                font-size: 14px;
                            }
                        }

                        .next-btn {
                            right: 0;
                            width: 24px;
                            height: 24px;

                            i {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
Testimonial Home1: End
*/

/*
Testimonial Home2: Start
*/
.testimonial-block.style-two {
    .list-img {
        .bg-img {
            width: 360px;
            height: 360px;
            border-radius: 50%;
            padding: 72px;
            border: 1px dashed var(--line);
            position: relative;

            .logo {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba($color: #1FBE72, $alpha: 0.1);
            }

            .list-avatar {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 50%;
                animation: circleScroll 30s linear infinite;

                .avatar {
                    position: absolute;
                    width: 96px;
                    height: 96px;

                    img {
                        width: 100%;
                        height: 100%;
                        animation: circleScrollMinus 30s linear infinite;
                    }

                    &:nth-child(1) {
                        top: -48px;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    &:nth-child(2) {
                        top: 36px;
                        right: -30px;
                    }

                    &:nth-child(3) {
                        bottom: 36px;
                        right: -30px;
                    }

                    &:nth-child(4) {
                        bottom: -48px;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    &:nth-child(5) {
                        bottom: 36px;
                        left: -30px;
                    }

                    &:nth-child(6) {
                        top: 36px;
                        left: -30px;
                    }
                }
            }
        }
    }

    @media (max-width: 991.98px) {
        .row {
            >div:last-child {
                margin-top: 40px;
            }

            .list-img {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 70%;
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        .row {
            .list-img {
                .bg-img {
                    width: 240px;
                    height: 240px;

                    .logo {
                        svg {
                            width: 60px;
                            height: 32px;
                        }
                    }

                    .list-avatar {
                        .avatar {
                            width: 60px;
                            height: 60px;

                            &:nth-child(1) {
                                top: -30px;
                                left: 50%;
                                transform: translateX(-50%);
                            }

                            &:nth-child(2) {
                                top: 35px;
                                right: -18px;
                            }

                            &:nth-child(3) {
                                bottom: 27px;
                                right: -14px;
                            }

                            &:nth-child(4) {
                                bottom: -30px;
                                left: 50%;
                                transform: translateX(-50%);
                            }

                            &:nth-child(5) {
                                bottom: 27px;
                                left: -14px;
                            }

                            &:nth-child(6) {
                                top: 35px;
                                left: -18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
Testimonial Home2: End
*/

/*
Testimonial Home3: Start
*/
.testimonial-block.style-three {
    background-attachment: fixed;
    background-image: url(../images/components/bg-color-testimonial3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .row {
        >div:nth-child(1) {
            .bg-img {
                position: relative;
                border-radius: 24px;
                overflow: hidden;

                >div {
                    position: absolute;
                    width: 280px;
                    height: 280px;
                    padding: 0 50px;
                    left: -30px;
                    bottom: -70px;
                }

                @media (max-width: 575.98px) {
                    >div {
                        width: 170px;
                        height: 170px;
                        padding: 0 15px;
                        left: -10px;
                        bottom: -34px;
                    }
                }
            }
        }
    }
}

/*
Testimonial Home3: End
*/

/*
Testimonial Home4: Start
*/
.testimonial-block.style-four {
    position: relative;

    .container {
        >.row {
            flex-wrap: nowrap;

            >div:first-child {
                .block-button {

                    .prev-btn,
                    .next-btn {
                        border: 1px solid var(--white);
                    }

                    .disabled {
                        border: 1px solid var(--secondary);

                        i {
                            color: var(--secondary);
                        }
                    }
                }
            }

            >div:last-child {
                overflow: hidden;

                .slick-initialized {
                    .slick-list {
                        overflow: unset;
                        margin-left: -15px;
                        margin-right: -15px;

                        .slick-slide {
                            padding-right: 15px;
                            padding-left: 15px;

                            .main-content {
                                height: 100%;
                            }
                        }
                    }
                }
            }

            @media (max-width: 991.98px) {
                flex-wrap: wrap;
            }
        }
    }
}

/*
Testimonial Home4: End
*/