.button {
    position: relative;
    display: inline-flex;
    padding: 12px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 68px;
    // text
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-transform: capitalize;
    transition: all ease 0.4s;

    &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 6px;
        // background: linear-gradient(104deg, rgba($color: #437AFB, $alpha: 1.0), rgba($color: #19CDF1, $alpha: 0.8));
        top: -2px;
        left: 0;
        transition: all ease 0.5s;
    }

    &:hover {
        &::before {
            animation: moveAroundBtn ease 1s infinite;
        }
    }
}

@keyframes moveAroundBtn {
    0% {
        left: 0;
        top: -2px;
        right: unset;
        bottom: unset;
    }

    25% {
        top: -2px;
        right: 0;
        left: unset;
        bottom: unset;
    }

    50% {
        right: 0;
        bottom: 0;
        top: unset;
        left: unset;
    }

    75% {
        left: 0;
        bottom: 0;
        top: unset;
        right: unset;
    }

    100% {
        left: 0;
        top: 0;
        right: unset;
        bottom: unset;
    }
}

.button-blue-hover {
    &:hover {
        background: #0c68be;
    }
}

.button-yellow-hover {
    &:hover {
        background-color: #ebb41d;
    }
}

.button-green-hover {
    &:hover {
        background-color: #00ff40;
    }
}

.button-purple-hover {
    &:hover {
        background-color: #5700c9;
    }
}