
<div class="list-partner bg-line-dark pt-40 pb-40"> 
  <div class="container gap-32 row-gap-32 flex-between flex-wrap">
    <div class="partner-item"><img src="assets/images/partners/mega.svg" alt=""/></div>
    <div class="partner-item"><img src="assets/images/partners/mian.svg" alt=""/></div>
    <div class="partner-item"><img src="assets/images/partners/beta.svg" alt=""/></div>
    <div class="partner-item"><img src="assets/images/partners/mian2.svg" alt=""/></div>
    <div class="partner-item"><img src="assets/images/partners/genvi.svg" alt=""/></div>
  </div>
</div>