
<div id="popup-newsletter-block">
  <div class="popup-newsletter-main">
    <div class="bg-img"> <img class="w-100 h-100" src="assets/images/components/bg-popup-newsletter.png" alt=""/></div>
    <div class="content p-40 bg-on-surface"> 
      <div class="close-block text-end"><i class="ph-bold ph-x d-block fs-18 text-white pointer"></i></div>
      <div class="heading6 text-white">News letter</div>
      <div class="text-placehover mt-8">Sign up to get all the latest AIZAN news, website updates, offers and promos.</div>
      <form class="mt-32" action="">
        <div class="form-input">
          <input class="bg-line-dark text-white" type="text" placeholder="Email"/>
          <button><i class="ph ph-paper-plane-tilt text-placehover"></i></button>
        </div>
        <div class="flex-item-center gap-8 mt-12">
          <input type="checkbox" name="prevent"/>
          <div class="caption1 text-placehover">Prevent this Pop-up</div>
        </div>
      </form>
    </div>
  </div>
</div>