
<div class="counter-block style-three pt-100 pb-100 bg-dark-surface"> 
  <div class="container"> 
    <div class="row row-gap-32 flex-between">
      <div class="col-xl-6"> 
        <div class="heading3">Create your own AI business with us</div>
        <div class="count mt-40">
          <div class="item flex-item-center gap-24 pb-20">
            <div class="heading3 text-yellow">35<span>k </span></div>
            <div class="body2 text-placehover">Client satisfaction is at the heart of what we do. We take pride in achieving a 95% client satisfaction rate</div>
          </div>
          <div class="line-dark"></div>
          <div class="item flex-item-center gap-24 pt-20">
            <div class="heading3 text-yellow">15<span>k </span></div>
            <div class="body2 text-placehover">Our team of storytellers has crafted over 500 compelling narratives that resonate with audiences</div>
          </div>
        </div><a class="button bg-yellow button-yellow-hover text-on-surface mt-40" href="#!">Explore more</a>
      </div>
      <div class="bg-img col-xl-5 text-end"><img src="assets/images/components/bg-counter3.png" alt=""/></div>
    </div>
  </div>
</div>