
<div class="form-contact section-contact bg-line-dark"> 
  <div class="bg-img"> <img class="w-100 h-100 object-fit-cover" src="assets/images/components/bg-contact3.png" alt=""/></div>
  <div class="container">
    <div class="form-block pt-60 pb-60">
      <form action="">
        <div class="heading3">We’d love to help</div>
        <div class="body2 text-placehover">Say goodbye to the hassle of managing multiple accounts across different financial institutions.</div>
        <div class="row row-gap-20 mt-40">
          <div class="col-12 col-sm-6"> 
            <input class="w-100 bg-line-dark p-16 bora-12 text-white" type="text" placeholder="Your name"/>
          </div>
          <div class="col-12 col-sm-6"> 
            <input class="w-100 bg-line-dark p-16 bora-12 text-white" type="text" placeholder="Your email"/>
          </div>
          <div class="col-12 col-sm-6"> 
            <input class="w-100 bg-line-dark p-16 bora-12 text-white" type="text" placeholder="Telephone"/>
          </div>
          <div class="col-12 col-sm-6"> 
            <select class="w-100 bg-line-dark p-16 bora-12 text-white" name="categories">
              <option class="text-on-surface" value="Personal">Personal</option>
              <option class="text-on-surface" value="Business">Business</option>
              <option class="text-on-surface" value="Development">Development</option>
            </select><i class="ph-duotone ph-caret-down"></i>
          </div>
          <div class="col-12"> 
            <textarea class="text-white w-100 bg-line-dark p-16 bora-12" name="messsage" cols="10" rows="4" placeholder="Message"></textarea>
          </div>
        </div>
        <button class="button bg-purple button-purple-hover text-white mt-32">Message<i class="ph ph-arrow-up-right text-white"></i></button>
      </form>
    </div>
  </div>
</div>