/*
***Blog List: Start
*/
.blog-list .container > .row > div .blog-item {
  transition: all ease 0.5s;
  cursor: pointer;
}
.blog-list .container > .row > div .blog-item .bg-img img {
  transition: all ease 0.5s;
  object-fit: cover;
}
.blog-list .container > .row > div .blog-item .heading5 {
  transition: all ease 0.3s;
}
.blog-list .container > .row > div .blog-item:hover .bg-img img {
  transform: scale(1.08);
}
.blog-list .container > .row > div .blog-item:hover .heading5 {
  color: var(--purple);
}
@media (max-width: 449.98px) {
  .blog-list .container > .row > div .blog-item .cmt {
    width: 50%;
  }
  .blog-list .container > .row > div .blog-item .cmt i.ph-fill {
    display: none !important;
  }
  .blog-list .container > .row > div .blog-item .cmt .pl-8 {
    padding-left: 0;
  }
}
.blog-list .container > .row > div > .list-nav-number .nav-item {
  cursor: pointer;
  width: 44px;
  height: 44px;
  border: 1px solid var(--line-dark);
  transition: all ease 0.3s;
}
.blog-list .container > .row > div > .list-nav-number .nav-item.active, .blog-list .container > .row > div > .list-nav-number .nav-item:hover {
  background-color: var(--line-dark);
}
.blog-list .container > .row .search-block {
  position: relative;
  height: 50px;
}
.blog-list .container > .row .search-block input {
  height: 100%;
  padding-left: 16px;
  padding-right: 52px;
  color: var(--white);
  border: 1px solid transparent;
  outline: none;
  border-radius: 44px;
}
.blog-list .container > .row .search-block i {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 8px 8px 0;
  font-size: 20px;
  color: var(--secondary);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.3s;
}
.blog-list .container > .row .search-block i:hover {
  background-color: var(--purple);
  color: var(--white);
}
.blog-list .container > .row .cate-block .pb-12 {
  border-bottom: 1px solid var(--line-dark);
}
.blog-list .container > .row .cate-block .list-cate .nav-item .right div {
  width: 32px;
  height: 32px;
}
.blog-list .container > .row .cate-block .list-cate .nav-item.active .left .text-button, .blog-list .container > .row .cate-block .list-cate .nav-item:hover .left .text-button {
  color: var(--purple);
}
.blog-list .container > .row .tags-popular-block .list-tag a:hover {
  background-color: var(--purple);
}
.blog-list .container > .row .recent-post-block .recent-post-item .item-img img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}
.blog-list .container > .row .recent-post-block .recent-post-item:hover .text-button {
  color: var(--purple);
}
@media (max-width: 991.98px) {
  .blog-list .container > .row .pl-65 {
    padding-left: 15px;
  }
}

/*
***Blog List: End
*/