/*
Our Blog Home1: Start
*/
.list-blog .cursor {
  background-color: #111;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all linear 0.2s;
  width: 70px;
  height: 70px;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}
.list-blog .list .slick-list {
  padding-left: 0;
  padding-right: 0;
}
.list-blog .list .slick-list .item {
  padding-right: 15px;
  padding-left: 15px;
  cursor: none;
}
.list-blog .list .slick-list .item .main-item {
  cursor: none;
}
@media (max-width: 1023.99px) {
  .list-blog .cursor {
    display: none;
  }
  .list-blog .list .slick-list .item {
    cursor: pointer;
  }
  .list-blog .list .slick-list .item .main-item {
    cursor: pointer;
  }
}
.list-blog .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 16px;
}
@media (max-width: 767.99px) {
  .list-blog .slick-dots {
    margin-top: 30px;
  }
}
.list-blog .slick-dots li {
  position: relative;
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.list-blog .slick-dots li button {
  display: none;
}
.list-blog .slick-dots li::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--line);
  transition: 0.5s;
}
.list-blog .slick-dots li.slick-active {
  border: 1px solid var(--white);
  background-color: var(--on-surface);
}
.list-blog .slick-dots li.slick-active::after {
  background-color: var(--white);
  border: 1px solid var(--on-surface);
}

.list-blog.style-two .item .blog-item {
  background-color: var(--surface);
}
.list-blog.style-two .item .blog-item .text-button-uppercase,
.list-blog.style-two .item .blog-item .heading6 {
  color: var(--on-surface);
}
.list-blog.style-two .item .blog-item .text-placehover {
  color: var(--secondary);
}
.list-blog.style-two .slick-dots li::after {
  background-color: transparent;
  border: 1px solid var(--on-surface);
}
.list-blog.style-two .slick-dots li.slick-active {
  border: 1px solid var(--on-surface);
  background-color: var(--white);
}
.list-blog.style-two .slick-dots li.slick-active::after {
  background-color: var(--on-surface);
  border: 1px solid var(--white);
}

.style-blog-detail .list-blog .heading a u:hover {
  color: var(--purple);
}

/*
Our Blog Home1: End
*/