/*
Bread crum: Start
*/
.breadcrum {
  background-color: #29292C;
  margin-top: 80px;
}
.breadcrum .text-nav .heading3 {
  position: relative;
}
.breadcrum .text-nav .heading3 svg {
  position: absolute;
  top: -12px;
  right: -40px;
}
@media (max-width: 575.98px) {
  .breadcrum {
    margin-top: 60px;
  }
}

/*
Bread crum: End
*/