.form-contact.section-contact {
  position: relative;
}
.form-contact.section-contact .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  bottom: 0;
}
.form-contact.section-contact .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.form-contact.section-contact .container .form-block {
  width: 50%;
  height: 100%;
  padding-left: 80px;
}
.form-contact.section-contact .container .form-block .row {
  margin-left: -12px;
  margin-right: -12px;
}
.form-contact.section-contact .container .form-block .row > div {
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}
.form-contact.section-contact .container .form-block .row > div i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  right: 24px;
}
@media (max-width: 1320px) {
  .form-contact.section-contact .container .form-block {
    padding-left: 15px;
  }
}
@media (max-width: 991.98px) {
  .form-contact.section-contact .bg-img {
    position: relative;
    width: 100%;
  }
  .form-contact.section-contact .container .form-block {
    width: 100%;
    padding-left: 0;
  }
}