/*
*** Form contact Home3: Start
*/
.form-contact.section-contact {
  position: relative;
  overflow: hidden;
}
.form-contact.section-contact .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  bottom: 0;
}
.form-contact.section-contact .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.form-contact.section-contact .container .bg-blur {
  position: absolute;
  right: -70px;
  bottom: -70px;
  width: 534px;
  height: 534px;
  border-radius: 534px;
  opacity: 0.15;
  background: var(--yellow);
  filter: blur(132px);
  z-index: 0;
}
.form-contact.section-contact .container .form-block {
  width: 50%;
  height: 100%;
  padding-left: 80px;
}
.form-contact.section-contact .container .form-block .row {
  margin-left: -12px;
  margin-right: -12px;
}
.form-contact.section-contact .container .form-block .row > div {
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}
.form-contact.section-contact .container .form-block .row > div input,
.form-contact.section-contact .container .form-block .row > div textarea {
  border: 1px solid transparent;
}
.form-contact.section-contact .container .form-block .row > div input:focus,
.form-contact.section-contact .container .form-block .row > div textarea:focus {
  border: 1px solid var(--line);
}
.form-contact.section-contact .container .form-block .row > div i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  right: 24px;
}
@media (max-width: 1320px) {
  .form-contact.section-contact .container .form-block {
    padding-left: 15px;
  }
}
@media (max-width: 991.98px) {
  .form-contact.section-contact .bg-img {
    position: relative;
    width: 100%;
  }
  .form-contact.section-contact .container .form-block {
    width: 100%;
    padding-left: 0;
  }
}

/*
*** Form contact Home3: End
*/
/*
*** Form contact Home4: Start
*/
.form-contact.style-four {
  background: rgba(125, 60, 243, 0.1);
}
.form-contact.style-four .bg-img .heading3 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 1340.98px) {
  .form-contact.style-four .bg-img .heading3 br {
    display: none;
  }
}
@media (max-width: 450.98px) {
  .form-contact.style-four .bg-img .heading3 {
    position: relative;
  }
}

/*
*** Form contact Home4: End
*/
/*
*** Form contact Service Page: Start
*/
.style-service .form-contact .button.bg-yellow {
  background-color: var(--purple);
  color: var(--white);
}
.style-service .form-contact .button.bg-yellow .bg-yellow {
  background-color: var(--purple);
}
.style-service .form-contact .button.bg-yellow i {
  color: var(--white);
}
.style-service .form-contact .button.bg-yellow:hover {
  background-color: #5700c9;
}
.style-service .form-contact .button.bg-yellow:hover .bg-yellow {
  background-color: #5700c9;
}

/*
*** Form contact Service Page: End
*/