/*
*** Shared List Questions: Start
*/
.question-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.question-item .question-item-main i {
  transform: rotate(0);
  transition: all ease 0.5s;
}
@media (max-width: 575.99px) {
  .question-item .question-item-main i {
    font-size: 16px;
  }
}
.question-item .content-question {
  transition: all ease-in-out 0.5s;
  max-height: 0;
  overflow: hidden;
}
.question-item .content-question .border-line {
  background-color: rgba(231, 231, 231, 0.8);
}
.question-item:hover .question-item-main {
  color: var(--white);
}

.question-item.open .content-question {
  max-height: 150px;
}

/*
*** Shared List Questions: End
*/
/*
*** FAQs Home3: Start
*/
.faqs-block {
  position: relative;
}
.faqs-block .bg-blur {
  position: absolute;
  right: -100px;
  bottom: -100px;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  opacity: 0.15;
  background: var(--yellow);
  filter: blur(132px);
  z-index: 0;
}
.faqs-block .question-item {
  position: relative;
  z-index: 1;
}

/*
*** FAQs Home3: End
*/