/*
*** List partner: Start
*/
@media (max-width: 1199.98px) {
  .list-partner .container {
    justify-content: center;
  }
}
@media (max-width: 575.98px) {
  .list-partner .partner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
  }
  .list-partner .partner-item img {
    width: 100%;
  }
}

/*
*** List partner: End
*/
/*
*** List partner Home2: Start
*/
.style-two .list-partner {
  background: var(--surface);
}
.style-two .list-partner .heading7 {
  color: var(--on-surface);
}

/*
*** List partner Home2: End
*/
/*
*** List partner autoplay Home2: Start
*/
.list-partner-slide .list {
  display: flex;
  width: 3410px;
  overflow: hidden;
  animation: scroll 30s linear infinite;
}
.list-partner-slide .list .item {
  margin: 0 60px;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1364px);
  }
}
@keyframes scrollMobile {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1187.2px);
  }
}
@media (max-width: 575.98px) {
  .list-partner-slide .list {
    width: 2068px;
    animation: scrollMobile 30s linear infinite;
  }
  .list-partner-slide .list .item {
    margin: 0 15px;
  }
  .list-partner-slide .list .item img {
    width: 80%;
  }
}

/*
*** List partner autoplay Home2: End
*/
/*
*** List partner autoplay Home3: Start
*/
.list-partner-slide.style-three .list {
  display: flex;
  width: 4400px;
  overflow: hidden;
  animation: scroll3 30s linear infinite;
}
.list-partner-slide.style-three .list .item {
  margin: 0 60px;
}
.list-partner-slide.style-three .list .item .text {
  font-size: 96px;
  font-weight: 700;
  color: var(--on-surface);
  white-space: nowrap;
  -webkit-text-stroke: 2px var(--yellow);
}
@media (max-width: 575.98px) {
  .list-partner-slide.style-three .list .item .text {
    font-size: 48px;
  }
}
@keyframes scroll3 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1760px);
  }
}

/*
*** List partner autoplay Home3: End
*/
/*
*** List partner autoplay Home4: Start
*/
.style-four .list-partner-slide {
  background-color: var(--purple);
  padding-top: 36px;
  padding-bottom: 36px;
}
@media (max-width: 575.98px) {
  .style-four .list-partner-slide {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/*
*** List partner autoplay Home4: End
*/
/*
*** List partner services detail: Start
*/
.style-services-detail .list-partner {
  background: transparent;
}

/*
*** List partner services detail: End
*/