/*
*** List service Home1: Start
*/
.list-service.style-one .list .service-item .heading7 {
  position: relative;
  display: inline-block;
}
.list-service.style-one .list .service-item .heading7::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--white);
  transition: all ease 0.3s;
}
.list-service.style-one .list .service-item .heading7:hover::before {
  width: 100%;
}
.list-service.style-one .list .service-item:hover {
  background-color: var(--line-dark);
}

/*
*** List service Home1: End
*/
/*
*** List service Home2: Start
*/
.services-block.style-two .list .service-item {
  transition: all ease 0.4s;
  position: relative;
}
.services-block.style-two .list .service-item .heading i::before {
  transition: all ease 0.4s;
  color: var(--secondary);
}
.services-block.style-two .list .service-item .desc {
  padding-bottom: 56px;
}
.services-block.style-two .list .service-item .read {
  position: absolute;
  left: 24px;
  bottom: 32px;
  overflow: hidden;
}
.services-block.style-two .list .service-item .read .text-button {
  position: absolute;
  transition: all ease 0.4s;
  left: -90px;
}
.services-block.style-two .list .service-item .read i {
  transition: all ease 0.4s;
}
.services-block.style-two .list .service-item .read:hover i {
  margin-left: 96px !important;
}
.services-block.style-two .list .service-item:hover {
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.1);
}
.services-block.style-two .list .service-item:hover .heading i::before {
  color: var(--on-surface);
}
.services-block.style-two .list .service-item:hover .read .text-button {
  left: 0;
}
.services-block.style-two .list .service-item:hover .read i {
  margin-left: 90px;
}
@media (max-width: 1023.98px) {
  .services-block.style-two .list .service-item .read .text-button {
    position: relative;
    left: 0;
  }
  .services-block.style-two .list .service-item .read:hover i {
    margin-left: 0 !important;
  }
  .services-block.style-two .list .service-item:hover .read i {
    margin-left: 0;
  }
}
@media (max-width: 575.98px) {
  .services-block.style-two .list .service-item {
    padding-bottom: 16px;
  }
  .services-block.style-two .list .service-item .desc {
    padding-bottom: 44px;
  }
  .services-block.style-two .list .service-item .read {
    left: 16px;
    bottom: 20px;
  }
  .services-block.style-two .list .service-item .read i {
    font-size: 24px;
  }
}

/*
*** List service Home2: End
*/
/*
*** List service Home3: Start
*/
.shared-bg-service {
  background-attachment: fixed;
  background-image: url(../images/components/bg-service3.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-block.style-three .list .service-item {
  border-bottom: 4px solid var(--yellow);
  transition: all ease 0.5s;
}
.services-block.style-three .list .service-item .line {
  text-align: center;
  border: 1px dashed var(--yellow);
  width: 80%;
  transition: all ease 0.3s;
}
.services-block.style-three .list .service-item .heading i {
  transition: all ease 0.3s;
}
.services-block.style-three .list .service-item .heading5,
.services-block.style-three .list .service-item .body3,
.services-block.style-three .list .service-item u {
  transition: all ease 0.3s;
}
.services-block.style-three .list .service-item:hover {
  background-color: var(--yellow);
}
.services-block.style-three .list .service-item:hover .heading i::before {
  color: var(--on-surface);
}
.services-block.style-three .list .service-item:hover .line {
  border-color: var(--on-surface);
}
.services-block.style-three .list .service-item:hover .heading5,
.services-block.style-three .list .service-item:hover .body3,
.services-block.style-three .list .service-item:hover u {
  color: var(--on-surface);
}

/*
*** List service Home3: End
*/
/*
*** List service Home4: Start
*/
.list-service {
  position: relative;
}
.list-service .list .service-item {
  transition: all ease 0.3s;
}
.list-service .list .service-item i::before {
  transition: all ease 0.3s;
}
.list-service .list .service-item .text-placehover {
  transition: all ease 0.3s;
}
.list-service .list .service-item:hover {
  background-color: var(--purple);
  margin-top: -8px;
}
.list-service .list .service-item:hover i::before {
  color: var(--white);
}
.list-service .list .service-item:hover .text-placehover {
  color: var(--white);
}
@media (max-width: 1023.98px) {
  .list-service .list .service-item:hover {
    margin-top: 0;
  }
}
@media (max-width: 575.98px) {
  .list-service .list .pb-32 {
    padding-bottom: 8px;
  }
  .list-service .list .pt-32 {
    padding-top: 8px;
  }
  .list-service .list .mt-32 {
    margin-top: 16px;
  }
}

/*
*** List service Home4: End
*/