/*
List pricing: Start
*/
.section-pricing .container > .row > div:first-child button {
  border-radius: 8px;
}
.section-pricing .container > .row > div:first-child button.active {
  background-color: var(--blue);
}
.section-pricing .container > .row .list-pricing .price,
.section-pricing .container > .row .list-pricing-year .price {
  align-items: flex-end;
}
.section-pricing .container > .row .list-pricing .pricing-item,
.section-pricing .container > .row .list-pricing-year .pricing-item {
  border: 2px solid transparent;
  cursor: pointer;
  transition: all ease 0.3s;
}
.section-pricing .container > .row .list-pricing .pricing-item a span:nth-child(2),
.section-pricing .container > .row .list-pricing-year .pricing-item a span:nth-child(2) {
  border: 2px solid var(--blue);
  display: block;
  width: 100%;
  text-align: center;
  background-color: var(--line-dark);
}
.section-pricing .container > .row .list-pricing .pricing-item a:hover span:nth-child(2),
.section-pricing .container > .row .list-pricing-year .pricing-item a:hover span:nth-child(2) {
  background-color: var(--blue);
}
.section-pricing .container > .row .list-pricing .pricing-item i.ph-x,
.section-pricing .container > .row .list-pricing-year .pricing-item i.ph-x {
  background-color: rgba(255, 255, 255, 0.2);
}
.section-pricing .container > .row .list-pricing .pricing-item:hover,
.section-pricing .container > .row .list-pricing-year .pricing-item:hover {
  background-color: var(--on-surface);
  border: 2px solid var(--blue);
}
.section-pricing .container > .row .list-pricing .pricing-item:hover a span:nth-child(2),
.section-pricing .container > .row .list-pricing-year .pricing-item:hover a span:nth-child(2) {
  background-color: var(--blue);
}
.section-pricing .container .list-more-feature .row {
  margin-left: 0;
  margin-right: 0;
}
.section-pricing .container .list-more-feature .row > div {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 1199.98px) {
  .section-pricing .container > .row > div:first-child .choose-type {
    display: inline-block;
  }
  .section-pricing .container > .row > div:last-child {
    padding-left: 15px;
  }
}
@media (max-width: 575.98px) {
  .section-pricing .container .list-more-feature .row .col-4 {
    width: 25%;
  }
  .section-pricing .container .list-more-feature .row .col-2 {
    width: 33%;
  }
}

.section-pricing.style-one {
  position: relative;
}
.section-pricing.style-one > .bg-blur {
  position: absolute;
  right: -50px;
  top: 100px;
  width: 534px;
  height: 534px;
  border-radius: 534px;
  opacity: 0.14;
  background: #5596F8;
  filter: blur(132px);
  z-index: 0;
}
.section-pricing.style-one .container {
  position: relative;
}
.section-pricing.style-one .container .bg-blur {
  position: absolute;
  left: -50px;
  top: 0;
  width: 534px;
  height: 534px;
  border-radius: 534px;
  opacity: 0.14;
  background: #5596F8;
  filter: blur(132px);
  z-index: 0;
}
.section-pricing.style-one .container .row,
.section-pricing.style-one .container .list-pricing {
  position: relative;
  z-index: 2;
}

@keyframes showListPrice {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.list-pricing.hide {
  display: none;
}

.list-pricing.show {
  display: block;
  animation: showListPrice ease-in-out 0.5s;
}

.style-pricing .section-pricing .container > .row > div:first-child button.active {
  background-color: var(--purple);
}
.style-pricing .section-pricing .container > .row .list-pricing .pricing-item a span:nth-child(2) {
  border: 2px solid var(--purple);
}
.style-pricing .section-pricing .container > .row .list-pricing .pricing-item a:hover span:nth-child(2) {
  background-color: var(--purple);
}
.style-pricing .section-pricing .container > .row .list-pricing .pricing-item i.ph-x {
  background-color: rgba(255, 255, 255, 0.2);
}
.style-pricing .section-pricing .container > .row .list-pricing .pricing-item:hover {
  border: 2px solid var(--purple);
}

/*
List pricing: End
*/
/*
Section Pricing Home2: Start
*/
.section-pricing.style-two .container .heading .switch .bg-surface {
  display: block;
  width: 80px;
  height: 40px;
  border-radius: 99px;
  border: none;
  outline: none;
  position: relative;
  transition: all ease 0.6s;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--line);
}
.section-pricing.style-two .container .heading .switch .bg-surface::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  background-color: var(--green);
  border-radius: 50%;
  transition: all ease 0.3s;
}
.section-pricing.style-two .container .heading .switch.enable .bg-surface {
  background-color: var(--green);
}
.section-pricing.style-two .container .heading .switch.enable .bg-surface::before {
  left: 44px;
  background-color: var(--white);
}
.section-pricing.style-two .container .list-pricing .pricing-item,
.section-pricing.style-two .container .list-pricing-year .pricing-item {
  border: 2px solid var(--line);
}
.section-pricing.style-two .container .list-pricing .pricing-item a,
.section-pricing.style-two .container .list-pricing-year .pricing-item a {
  border: 2px solid var(--green);
  padding-top: 16px;
  padding-bottom: 16px;
}
.section-pricing.style-two .container .list-pricing .pricing-item a:hover,
.section-pricing.style-two .container .list-pricing-year .pricing-item a:hover {
  background-color: var(--green);
  color: var(--white);
}
.section-pricing.style-two .container .list-pricing .pricing-item i.ph-x,
.section-pricing.style-two .container .list-pricing-year .pricing-item i.ph-x {
  background-color: var(--line);
}
.section-pricing.style-two .container .list-pricing .pricing-item:hover,
.section-pricing.style-two .container .list-pricing-year .pricing-item:hover {
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.15);
  background-color: var(--white);
  border: 2px solid var(--green);
}
@media (max-width: 575.98px) {
  .section-pricing.style-two .container .list-pricing .pricing-item a,
  .section-pricing.style-two .container .list-pricing-year .pricing-item a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@keyframes showList {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-pricing.style-two .list-pricing.hide {
  display: none;
}
.section-pricing.style-two .list-pricing.show {
  display: block;
  animation: showList ease-in-out 0.7s;
}
.section-pricing.style-two .list-pricing-year.hide {
  display: none;
}
.section-pricing.style-two .list-pricing-year.show {
  display: block;
  animation: showList ease-in-out 0.7s;
}

/*
Section Pricing Home2: End
*/
/*
Section Pricing Home3: Start
*/
.style-three .section-pricing {
  padding-bottom: 100px;
  background-color: var(--black-surface);
}
.style-three .section-pricing > .bg-blur {
  background: none;
}
.style-three .section-pricing .container .bg-blur {
  background: none;
}
.style-three .section-pricing .container > .row > div:first-child button.active {
  background-color: var(--yellow);
  color: var(--on-surface);
}
.style-three .section-pricing .container > .row .list-pricing .pricing-item a,
.style-three .section-pricing .container > .row .list-pricing-year .pricing-item a {
  transition: all ease 0.1s;
}
.style-three .section-pricing .container > .row .list-pricing .pricing-item a span:nth-child(2),
.style-three .section-pricing .container > .row .list-pricing-year .pricing-item a span:nth-child(2) {
  border: 2px solid var(--yellow);
}
.style-three .section-pricing .container > .row .list-pricing .pricing-item a:hover span:nth-child(2),
.style-three .section-pricing .container > .row .list-pricing-year .pricing-item a:hover span:nth-child(2) {
  color: var(--on-surface);
  background-color: var(--yellow);
}
.style-three .section-pricing .container > .row .list-pricing .pricing-item:hover,
.style-three .section-pricing .container > .row .list-pricing-year .pricing-item:hover {
  background-color: var(--on-surface);
  border: 2px solid var(--yellow);
}
.style-three .section-pricing .container > .row .list-pricing .pricing-item:hover a,
.style-three .section-pricing .container > .row .list-pricing-year .pricing-item:hover a {
  color: var(--on-surface);
}
.style-three .section-pricing .container > .row .list-pricing .pricing-item:hover a span:nth-child(2),
.style-three .section-pricing .container > .row .list-pricing-year .pricing-item:hover a span:nth-child(2) {
  background-color: var(--yellow);
}
.style-three .section-pricing .bg-blue {
  background-color: var(--yellow);
  color: var(--on-surface);
}

/*
Section Pricing Home3: End
*/