/*
*** List partner: Start
*/
@media (max-width: 1199.98px) {
  .list-partner .container {
    justify-content: center;
  }
}
@media (max-width: 575.98px) {
  .list-partner .partner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
  }
  .list-partner .partner-item img {
    width: 100%;
  }
}

/*
*** List partner: End
*/
/*
*** List partner Home2: Start
*/
.style-two .list-partner {
  background: var(--surface);
}
.style-two .list-partner .heading7 {
  color: var(--on-surface);
}

/*
*** List partner Home2: End
*/
/*
*** List partner autoplay Home2: Start
*/
.list-partner-slide .list {
  display: flex;
  width: 3410px;
  overflow: hidden;
  animation: scroll 30s linear infinite;
}
.list-partner-slide .list .item {
  margin: 0 60px;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1364px);
  }
}

/*
*** List partner autoplay Home2: End
*/
/*
*** List partner services detail: Start
*/
.style-services-detail .list-partner {
  background: transparent;
}

/*
*** List partner services detail: End
*/