.list-service .list .service-item {
  transition: all ease 0.3s;
}
.list-service .list .service-item i::before {
  transition: all ease 0.3s;
}
.list-service .list .service-item .text-placehover {
  transition: all ease 0.3s;
}
.list-service .list .service-item:hover {
  background-color: var(--purple);
  margin-top: -8px;
}
.list-service .list .service-item:hover i::before {
  color: var(--white);
}
.list-service .list .service-item:hover .text-placehover {
  color: var(--white);
}
@media (max-width: 1023.98px) {
  .list-service .list .service-item:hover {
    margin-top: 0;
  }
}