.our-leader .container .list-our-team .item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.our-leader .container .list-our-team .item .bg-img {
  overflow: hidden;
}
.our-leader .container .list-our-team .item .bg-img img {
  transition: all ease-in-out 0.5s;
}
.our-leader .container .list-our-team .item .list-social {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  position: absolute;
  top: 1px;
  right: -60px;
  padding: 12px 8px;
  transition: all ease-in-out 0.3s;
}
.our-leader .container .list-our-team .item .list-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.our-leader .container .list-our-team .item .list-social a i {
  margin-left: 2px;
}
.our-leader .container .list-our-team .item .list-social a i::before {
  color: var(--on-surface);
}
.our-leader .container .list-our-team .item .list-social a:hover {
  background-color: var(--purple);
}
.our-leader .container .list-our-team .item .list-social a:hover i::before {
  color: var(--white);
}
.our-leader .container .list-our-team .item:hover .bg-img img {
  transform: scale(1.1) rotateZ(0);
}
.our-leader .container .list-our-team .item:hover .list-social {
  right: 0;
}