/*
Page not found: Start
*/
.page-not-found-block {
  background-color: var(--on-surface);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
}
.page-not-found-block .row > div:first-child {
  position: relative;
}
.page-not-found-block .row > div:first-child .bg-img {
  position: relative;
}
.page-not-found-block .row > div:first-child .bg-img svg {
  position: absolute;
}
.page-not-found-block .row > div:first-child .bg-img svg:nth-child(2) {
  left: 130px;
  bottom: 170px;
  animation: bounceIn 3s ease-in-out alternate infinite;
}
.page-not-found-block .row > div:first-child .bg-img svg:last-child {
  left: 165px;
  bottom: 190px;
  animation: bounceIn 3s ease-in-out alternate infinite;
}
.page-not-found-block .row > div:first-child .text-content {
  position: absolute;
  display: flex;
  align-items: center;
  top: 80px;
  left: 30%;
  transform: translateX(-50%);
}
.page-not-found-block .row > div:first-child .text-content span {
  font-size: 50px;
  font-weight: 900;
}
.page-not-found-block .row > div:first-child .text-content span:nth-child(1) {
  animation: bounceCustom 6s linear 4s infinite;
}
.page-not-found-block .row > div:first-child .text-content span:nth-child(2) {
  animation: bounceCustom 6s linear 4.1s infinite;
}
.page-not-found-block .row > div:first-child .text-content span:nth-child(3) {
  animation: bounceCustom 6s linear 4.2s infinite;
}
.page-not-found-block .row > div:first-child .text-content span:nth-child(4) {
  padding-left: 20px;
  animation: bounceCustom 6s linear 4.3s infinite;
}
.page-not-found-block .row > div:first-child .text-content span:nth-child(5) {
  animation: bounceCustom 6s linear 4.4s infinite;
}
.page-not-found-block .row > div:first-child .text-content span:nth-child(6) {
  animation: bounceCustom 6s linear 4.5s infinite;
}
.page-not-found-block .row > div:first-child .text-content span:nth-child(7) {
  animation: bounceCustom 6s linear 4.6s infinite;
}
.page-not-found-block .row > div:first-child .text-content span:nth-child(8) {
  animation: bounceCustom 6s linear 4.7s infinite;
}
.page-not-found-block .row > div:last-child {
  padding-left: 90px;
}
.page-not-found-block .row > div:last-child .content .text {
  font-size: 68px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.page-not-found-block .row > div:last-child .content .text-placehover {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-transform: capitalize;
}
@media (max-width: 991.98px) {
  .page-not-found-block .row {
    padding: 32px 0;
  }
  .page-not-found-block .row > div:last-child {
    padding-left: 15px;
  }
  .page-not-found-block .row > div:last-child .content {
    text-align: center;
  }
}

@keyframes bounceCustom {
  0%, 5%, 13% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  8%, 10% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  16% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  20% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0) scaleY(0.95);
    transform: translateZ(0) scaleY(0.95);
  }
  24% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
  25% {
    -webkit-animation-timing-function: unset;
    animation-timing-function: unset;
    -webkit-transform: unset;
    transform: unset;
  }
  100% {
    -webkit-animation-timing-function: unset;
    animation-timing-function: unset;
    -webkit-transform: unset;
    transform: unset;
  }
}
/*
Page not found: End
*/