/*
*** List Projects Home1: Start
*/
.projects-block .container {
  position: relative;
}
.projects-block .container > .bg-blur {
  position: absolute;
  top: 0;
  left: -100px;
  width: 534px;
  height: 534px;
  border-radius: 534px;
  opacity: 0.14;
  background: #6F97FF;
  filter: blur(132px);
  z-index: 0;
}
.projects-block .container .heading .list-nav {
  position: relative;
  z-index: 1;
  gap: 8px;
}
.projects-block .container .heading .list-nav .nav-item {
  transition: all ease 0.3s;
}
.projects-block .container .heading .list-nav .nav-item:hover, .projects-block .container .heading .list-nav .nav-item.active {
  background-color: var(--blue);
}
@media (max-width: 575.98px) {
  .projects-block .container .heading .list-nav {
    flex-wrap: wrap;
  }
}
.projects-block .container .list {
  position: relative;
  z-index: 1;
}
.projects-block .container .list > div .item {
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
}
.projects-block .container .list > div .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all linear 0.3s;
  border-radius: 20px;
  overflow: hidden;
  z-index: 2;
}
@media (max-width: 575.98px) {
  .projects-block .container .list > div .item::before {
    border-radius: 14px;
  }
}
.projects-block .container .list > div .item .bg-img {
  position: relative;
  z-index: 1;
}
.projects-block .container .list > div .item .bg-img img {
  transition: all ease 0.5s;
}
.projects-block .container .list > div .item .infor {
  background-color: var(--white);
  border-radius: 10px;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -120px;
  overflow: hidden;
  transition: all linear 0.3s;
  z-index: 3;
}
.projects-block .container .list > div .item .infor .heading7 {
  text-transform: capitalize;
}
.projects-block .container .list > div .item:hover::before {
  opacity: 1;
  visibility: visible;
}
.projects-block .container .list > div .item:hover .bg-img img {
  transform: scale(1.04);
}
.projects-block .container .list > div .item:hover .infor {
  bottom: 16px;
}
@media (max-width: 1023.98px) {
  .projects-block .container .list > div .item .infor {
    bottom: 16px;
  }
}

/*
*** List Projects Home1: End
*/
/*
*** List Projects Home2: Start
*/
.projects-block.style-two .heading .list-nav {
  gap: 32px;
  display: inline-flex;
  padding: 6px 12px;
  border-radius: 68px;
  border: 1px solid var(--line);
  background: var(--surface);
}
.projects-block.style-two .heading .list-nav .nav-item {
  transition: all ease 0.3s;
}
.projects-block.style-two .heading .list-nav .nav-item:hover, .projects-block.style-two .heading .list-nav .nav-item.active {
  background-color: var(--on-surface);
  color: var(--white);
}
@media (max-width: 575.98px) {
  .projects-block.style-two .heading .list-nav {
    flex-wrap: wrap;
    gap: 12px;
    border-radius: 12px;
  }
}
.projects-block.style-two .list {
  display: grid;
  grid-template-areas: "h1 h2 h3 h4" "h5 h2 h7 h4" "h5 h6 h7 h8";
  grid-gap: 30px;
}
.projects-block.style-two .list > div .item::before {
  display: none;
}
.projects-block.style-two .list > div .item .bg-img img {
  filter: grayscale(0.1);
}
.projects-block.style-two .list > div .item:hover .bg-img img {
  filter: saturate(1.5) contrast(1);
  transform: scale(1);
}
.projects-block.style-two .list > div:nth-child(1) {
  grid-area: h1;
}
.projects-block.style-two .list > div:nth-child(2) {
  grid-area: h2;
}
.projects-block.style-two .list > div:nth-child(3) {
  grid-area: h3;
}
.projects-block.style-two .list > div:nth-child(4) {
  grid-area: h4;
}
.projects-block.style-two .list > div:nth-child(5) {
  grid-area: h5;
}
.projects-block.style-two .list > div:nth-child(6) {
  grid-area: h6;
}
.projects-block.style-two .list > div:nth-child(7) {
  grid-area: h7;
}
.projects-block.style-two .list > div:nth-child(8) {
  grid-area: h8;
}
@media (max-width: 1023.98px) {
  .projects-block.style-two .list {
    grid-template-areas: "h1 h2" "h4 h2" "h4 h3" "h5 h6" "h5 h7" "h8 h7";
  }
}
@media (max-width: 575.98px) {
  .projects-block.style-two .list {
    grid-template-areas: "h1" "h2" "h3" "h4" "h5" "h6" "h7" "h8";
  }
}

/*
*** List Projects Home2: End
*/
/*
*** List Projects Home3: Start
*/
.style-three .projects-block {
  padding-bottom: 100px;
}
.style-three .projects-block .container > .bg-blur {
  background: #F3D465;
}
.style-three .projects-block .container .heading .list-nav {
  gap: 32px;
  display: inline-flex;
  padding: 6px 12px;
  border-radius: 68px;
  border: 1px solid var(--line-dark);
  background: var(--line-dark);
}
.style-three .projects-block .container .heading .list-nav .nav-item:hover, .style-three .projects-block .container .heading .list-nav .nav-item.active {
  background-color: var(--yellow);
  color: var(--on-surface);
}
@media (max-width: 575.98px) {
  .style-three .projects-block .container .heading .list-nav {
    flex-wrap: wrap;
    gap: 12px;
    border-radius: 12px;
  }
}

/*
*** List Projects Home3: End
*/
/*
*** List Projects Home4: Start
*/
.projects-block.style-four .container .list .slick-list .project-item .item {
  cursor: pointer;
}
.projects-block.style-four .container .list .slick-list .project-item .item::before {
  left: 15px;
  right: 15px;
}
.projects-block.style-four .container .list .slick-list .project-item .item .infor {
  left: 31px;
  right: 31px;
}

/*
*** List Projects Home4: End
*/