/*
Testimonial Home1: Start
*/
.testimonial-block.style-one .container .row > div .list-avatar {
  padding-left: 54px;
  padding-right: 54px;
  position: relative;
}
.testimonial-block.style-one .container .row > div .list-avatar .avatar.slick-slider {
  padding-left: 70px;
  padding-right: 70px;
}
.testimonial-block.style-one .container .row > div .list-avatar .avatar.slick-slider .slick-list {
  margin-left: -20px;
  margin-right: -20px;
  padding: 0 !important;
}
.testimonial-block.style-one .container .row > div .list-avatar .avatar.slick-slider .slick-list .slick-track {
  overflow: auto;
  padding-top: 70px;
  padding-bottom: 50px;
  display: flex !important;
}
.testimonial-block.style-one .container .row > div .list-avatar .avatar.slick-slider .slick-list .slick-track .item {
  padding-left: 10px;
  padding-right: 10px;
  transition: all ease 0.4s;
  transform: scale(0.9);
  border-radius: 50%;
}
.testimonial-block.style-one .container .row > div .list-avatar .avatar.slick-slider .slick-list .slick-track .item .bg-img {
  border-radius: 50%;
  transition: all ease 0.4s;
  padding: 10px;
}
.testimonial-block.style-one .container .row > div .list-avatar .avatar.slick-slider .slick-list .slick-track .item .bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial-block.style-one .container .row > div .list-avatar .avatar.slick-slider .slick-list .slick-track .item.slick-center {
  transform: scale(1.2) translateZ(0);
}
.testimonial-block.style-one .container .row > div .list-avatar .avatar.slick-slider .slick-list .slick-track .item.slick-center .bg-img {
  background-color: var(--line-dark);
}
.testimonial-block.style-one .container .row > div .list-avatar .prev-btn,
.testimonial-block.style-one .container .row > div .list-avatar .next-btn {
  position: absolute;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  cursor: pointer;
  transition: all ease 0.5s;
}
.testimonial-block.style-one .container .row > div .list-avatar .prev-btn:hover,
.testimonial-block.style-one .container .row > div .list-avatar .next-btn:hover {
  border: 1px solid var(--blue) !important;
}
.testimonial-block.style-one .container .row > div .list-avatar .prev-btn {
  left: 54px;
}
.testimonial-block.style-one .container .row > div .list-avatar .next-btn {
  right: 54px;
}
.testimonial-block.style-one .container .row > div .list-comment {
  overflow: hidden;
}
.testimonial-block.style-one .container .row > div .list-comment .cmt-item {
  display: none;
}
.testimonial-block.style-one .container .row > div .list-comment .cmt-item.active {
  display: block;
  animation: opacityAnimate ease 0.7s;
}
@keyframes opacityAnimate {
  from {
    opacity: 0;
    transform: translate(500px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@media (max-width: 575.98px) {
  .testimonial-block.style-one .container .row > div .list-avatar {
    padding-left: 0;
    padding-right: 0;
  }
  .testimonial-block.style-one .container .row > div .list-avatar .avatar.slick-slider {
    padding-left: 50px;
    padding-right: 50px;
  }
  .testimonial-block.style-one .container .row > div .list-avatar .avatar.slick-slider .slick-list .slick-track {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .testimonial-block.style-one .container .row > div .list-avatar .avatar.slick-slider .slick-list .slick-track .item {
    padding-left: 8px;
    padding-right: 8px;
  }
  .testimonial-block.style-one .container .row > div .list-avatar .avatar.slick-slider .slick-list .slick-track .item .bg-img {
    padding: 8px;
  }
  .testimonial-block.style-one .container .row > div .list-avatar .prev-btn {
    left: 0;
    width: 24px;
    height: 24px;
  }
  .testimonial-block.style-one .container .row > div .list-avatar .prev-btn i {
    font-size: 14px;
  }
  .testimonial-block.style-one .container .row > div .list-avatar .next-btn {
    right: 0;
    width: 24px;
    height: 24px;
  }
  .testimonial-block.style-one .container .row > div .list-avatar .next-btn i {
    font-size: 14px;
  }
}

/*
Testimonial Home1: End
*/
/*
Testimonial Home2: Start
*/
.testimonial-block.style-two .list-img .bg-img {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  padding: 72px;
  border: 1px dashed var(--line);
  position: relative;
}
.testimonial-block.style-two .list-img .bg-img .logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(31, 190, 114, 0.1);
}
.testimonial-block.style-two .list-img .bg-img .list-avatar {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  animation: circleScroll 30s linear infinite;
}
.testimonial-block.style-two .list-img .bg-img .list-avatar .avatar {
  position: absolute;
  width: 96px;
  height: 96px;
}
.testimonial-block.style-two .list-img .bg-img .list-avatar .avatar img {
  width: 100%;
  height: 100%;
  animation: circleScrollMinus 30s linear infinite;
}
.testimonial-block.style-two .list-img .bg-img .list-avatar .avatar:nth-child(1) {
  top: -48px;
  left: 50%;
  transform: translateX(-50%);
}
.testimonial-block.style-two .list-img .bg-img .list-avatar .avatar:nth-child(2) {
  top: 36px;
  right: -30px;
}
.testimonial-block.style-two .list-img .bg-img .list-avatar .avatar:nth-child(3) {
  bottom: 36px;
  right: -30px;
}
.testimonial-block.style-two .list-img .bg-img .list-avatar .avatar:nth-child(4) {
  bottom: -48px;
  left: 50%;
  transform: translateX(-50%);
}
.testimonial-block.style-two .list-img .bg-img .list-avatar .avatar:nth-child(5) {
  bottom: 36px;
  left: -30px;
}
.testimonial-block.style-two .list-img .bg-img .list-avatar .avatar:nth-child(6) {
  top: 36px;
  left: -30px;
}

/*
Testimonial Home2: End
*/
/*
Testimonial Home4: Start
*/
.testimonial-block.style-four .container > .row {
  flex-wrap: nowrap;
}
.testimonial-block.style-four .container > .row > div:first-child .block-button .prev-btn,
.testimonial-block.style-four .container > .row > div:first-child .block-button .next-btn {
  border: 1px solid var(--white);
}
.testimonial-block.style-four .container > .row > div:first-child .block-button .disabled {
  border: 1px solid var(--secondary);
}
.testimonial-block.style-four .container > .row > div:first-child .block-button .disabled i {
  color: var(--secondary);
}
.testimonial-block.style-four .container > .row > div:last-child {
  overflow: hidden;
}
.testimonial-block.style-four .container > .row > div:last-child .slick-initialized .slick-list {
  overflow: unset;
  margin-left: -15px;
  margin-right: -15px;
}
.testimonial-block.style-four .container > .row > div:last-child .slick-initialized .slick-list .slick-slide {
  padding-right: 15px;
  padding-left: 15px;
}
.testimonial-block.style-four .container > .row > div:last-child .slick-initialized .slick-list .slick-slide .main-content {
  height: 100%;
}
@media (max-width: 991.98px) {
  .testimonial-block.style-four .container > .row {
    flex-wrap: wrap;
  }
}

/*
Testimonial Home4: End
*/