.about-us.style-one.pt-80.pb-80.bg-black-surface
    .container 
        .row.row-gap-40.flex-between
            .col-12.col-lg-5.flex-column.row-gap-20
                .heading3 We Provide 
                    span Brilliant 
                    p Ideas & Adding
                .body2.text-placehover.mt-16 We are a full-service creative agency that helps businesses build brands, tell stories, and engage audiences through bold and strategic design.
                .list-service.mt-32
                    .service-item.flex-item-center 
                        i.ph-bold.ph-check.text-blue.fs-24 
                        .heading7.pl-12 Free Live Chat Software
                    .service-item.flex-item-center.mt-12
                        i.ph-bold.ph-check.text-blue.fs-24 
                        .heading7.pl-12 Real Time Language Translation
                    .service-item.flex-item-center.mt-12
                        i.ph-bold.ph-check.text-blue.fs-24 
                        .heading7.pl-12 Free Question
                .button-block.mt-32
                    a(href="#!").button.bg-blue.button-blue-hover.text-white Find out more
            .col-12.col-xl-7.pl-65.pl-col-lg-0
                .bg-img
                    img(src="assets/images/components/avatar-about1-1.png", alt="")
                .bg-img
                    img(src="assets/images/components/avatar-about1-2.png", alt="")
                img(src="assets/images/components/line-about1.png", alt="").w-100.d-block
                
