.section-form-chat.pt-100.pb-100 
    .bg-img 
        img(src="assets/images/components/bg-chatbot1.png", alt="")
    .container 
        .heading2.text-center AI chat bot
        .body2.text-placehover.text-center.mt-24 Power up your website with our advanced chat bot that offers image and video tools.
        .row.flex-center 
            .col-sm-11 
                .form-chat-block.mt-60
                    .form-content.bora-16.overflow-hidden
                        .heading.bg-blue.pt-28.pb-28.pl-40.pr-40.flex-between 
                            .text-button How can i help you?
                            .new-chat.flex-item-center.gap-8
                                .text-button New chat
                                i.ph-bold.ph-plus
                        .content.p-40.bg-on-surface
                            ul.chatbox 
                            .form-chat.p-12.bora-99.flex-between.gap-16
                                textarea(placeholder="Send a message...").text-white
                                span#send-chat-btn.flex-center
                                    i.ph.ph-paper-plane-tilt.fs-20

