.how-it-work.pt-100.pb-100 
    .container 
        .row.heading.flex-between.row-gap-8
            .col-lg-6 
                .heading3 Intelligent Solutions for Enhanced Customer 
            .col-lg-5
                .body1.text-placehover Power up your website with our advanced chat bot that offers image and video tools, as well as quick and accurate question answering capabilities
        .row.flex-between.mt-40.row-gap-40
            .col-lg-4
                .feature-item.flex-item-center.gap-24 
                    .icon
                        i.icon-pages.fs-40.p-16.bg-line-dark.bora-50
                    .infor 
                        .heading6 Sign up
                        .text-placehover.mt-8 Online banking allows you to manage your finances from anywhere, anytime.
                .feature-item.flex-item-center.gap-24.mt-40
                    .icon
                        i.icon-chart-box.fs-40.p-16.bg-line-dark.bora-50
                    .infor 
                        .heading6 Get personalized 
                        .text-placehover.mt-8 Empowering you to achieve your goals with precision and efficiency.
                .feature-item.flex-item-center.gap-24.mt-40
                    .icon
                        i.icon-virus.fs-40.p-16.bg-line-dark.bora-50
                    .infor 
                        .heading6 Explore and engage
                        .text-placehover.mt-8 Embark on a journey of discovery and engagement with our dynamic content.
                
            .col-lg-7 
                .bg-img.bora-24.overflow-hidden
                    img(src="assets/images/components/bg-how-it-work.png", alt="").w-100
                    .count.bg-purple.bora-12.flex-item-center.gap-60.pt-20.pb-20.pl-32.pr-32
                        .item
                            .heading4 1.77
                                span k+
                            .text-button Business Problem 
                        .item
                            .heading4 2.3
                                span k+
                            .text-button Business Setup 

