.section-pricing.pt-100
    .container 
        .row.flex-between
            .col-xl-3.col-12
                .heading
                    .heading3.text-white Find Your Right Plan
                    .body2.text-placehover.mt-16 We offer a variety of pricing packages to meet the unique needs of our services. Contact us today to discuss which package is right for you.
                    .choose-type.bg-line-dark.bora-8.p-8.flex-between.gap-8.mt-32
                        button.button.text-white.text-button-small.bg-transparent.bora-8&attributes({"data-name":"monthly"}).active Pay Monthly
                        button.button.text-white.text-button-small.bg-transparent.bora-8&attributes({"data-name":"yearly"}) Pay Yearly
            .col-xl-9.col-12.pl-65
                .list-pricing&attributes({"data-name":"monthly"}).mt-40
                    .row.row-gap-32
                        .col-md-6.col-12
                            .pricing-item.bg-line-dark.p-40.bora-20.h-100
                                .heading5.text-white Freebie
                                .body3.text-placehover.mt-12 Ideal for individuals who need quick access to basic features.
                                .heading2.text-white.mt-20 Free
                                a(href="#!").button.bg-line-dark.text-white.w-100.mt-24 Get Started
                                .list-feature.d-flex.flex-column.gap-12.mt-40
                                    .item.flex-item-center.gap-16 
                                        i.ph.ph-check.fs-12.text-white.p-8.bora-50.bg-blue
                                        .feature.text-white 20,000+ of PNG & SVG graphics
                                    .item.flex-item-center.gap-16 
                                        i.ph.ph-x.fs-12.p-8.bora-50.bg-placehover.text-white
                                        .feature.text-placehover Upload custom icons and fonts
                                    .item.flex-item-center.gap-16 
                                        i.ph.ph-x.fs-12.p-8.bora-50.bg-placehover.text-white
                                        .feature.text-placehover Unlimited Projects
                        .col-md-6.col-12
                            .pricing-item.bg-line-dark.p-40.bora-20.h-100
                                .heading5.text-white Premium
                                .body3.text-placehover.mt-12 Ideal for individuals who who need advanced features and tools for client work.
                                .price.d-flex.mt-20
                                    .heading2.text-white $9.99
                                    .text-white /month
                                a(href="#!").button.bg-line-dark.text-white.w-100.mt-24 Get Started
                                .list-feature.d-flex.flex-column.gap-12.mt-40
                                    .item.flex-item-center.gap-16 
                                        i.ph.ph-check.fs-12.text-white.p-8.bora-50.bg-blue
                                        .feature.text-white 20,000+ of PNG & SVG graphics
                                    .item.flex-item-center.gap-16 
                                        i.ph.ph-check.fs-12.text-white.p-8.bora-50.bg-blue
                                        .feature.text-placehover Upload custom icons and fonts
                                    .item.flex-item-center.gap-16 
                                        i.ph.ph-check.fs-12.text-white.p-8.bora-50.bg-blue
                                        .feature.text-placehover Access to 100 million stock images

                .list-pricing&attributes({"data-name":"yearly"}).mt-40.hide
                    .row.row-gap-32
                        .col-md-6.col-12
                            .pricing-item.bg-line-dark.p-40.bora-20.h-100
                                .heading5.text-white Freebie
                                .body3.text-placehover.mt-12 Ideal for individuals who need quick access to basic features.
                                .heading2.text-white.text-white.mt-20 Free
                                a(href="#!").button.bg-line-dark.text-white.w-100.mt-24 Get Started
                                .list-feature.d-flex.flex-column.gap-12.mt-40
                                    .item.flex-item-center.gap-16 
                                        i.ph.ph-check.fs-12.text-white.p-8.bora-50.bg-blue
                                        .feature.text-white 20,000+ of PNG & SVG graphics
                                    .item.flex-item-center.gap-16 
                                        i.ph.ph-x.fs-12.p-8.bora-50.text-white
                                        .feature.text-placehover Upload custom icons and fonts
                                    .item.flex-item-center.gap-16 
                                        i.ph.ph-x.fs-12.p-8.bora-50.text-white
                                        .feature.text-placehover Unlimited Projects
                        .col-md-6.col-12
                            .pricing-item.bg-line-dark.p-40.bora-20.h-100
                                .heading5.text-white Premium
                                .body3.text-placehover.mt-12 Ideal for individuals who who need advanced features and tools for client work.
                                .price.d-flex.mt-20
                                    .heading2.text-white $89.99
                                    .text-white /year
                                a(href="#!").button.bg-line-dark.text-white.w-100.mt-24 Get Started
                                .list-feature.d-flex.flex-column.gap-12.mt-40
                                    .item.flex-item-center.gap-16 
                                        i.ph.ph-check.fs-12.text-white.p-8.bora-50.bg-blue
                                        .feature.text-white 20,000+ of PNG & SVG graphics
                                    .item.flex-item-center.gap-16 
                                        i.ph.ph-check.fs-12.text-white.p-8.bora-50.bg-blue
                                        .feature.text-placehover Upload custom icons and fonts
                                    .item.flex-item-center.gap-16 
                                        i.ph.ph-check.fs-12.text-white.p-8.bora-50.bg-blue
                                        .feature.text-placehover Access to 100 million stock images