#preload {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all ease 0.5s;
    opacity: 1;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-surface);

    .main-content {
        .circle {
            &:nth-child(1) {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                position: relative;

                &::before {
                    
                }

                span {
                    width: 58px;
                    height: 58px;
                    background-color: var(--black-surface);
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }
}

#preload.disable {
    opacity: 0;
    visibility: hidden;
}

@keyframes drawLogo {
    0% {
        stroke-dashoffset: 2000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes opacityAnimate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}