/*
*** Slider Home1: Start
*/
.slider-block.style-one {
    margin-top: 80px;

    .slider-main {
        width: 100%;
        height: calc(100vh - 80px);
        background-image: url(../../assets/images/slider/bg-slider1.png);
        background-position: center;
        background-size: cover;

        .container {
            width: 100%;
            height: 100%;
        }

        .row {
            position: relative;
            height: 100%;

            >div:first-child {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 15px;
            }

            >div:last-child {
                position: absolute;
                top: 40%;
                transform: translateY(-50%);
                right: 15px;

                .bg-img {
                    img:nth-child(1) {
                        position: absolute;
                        right: 245px;
                        transform: translateY(-60%);
                        z-index: 1;
                    }

                    img:nth-child(2) {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        animation: moveYY 15s ease infinite;
                    }

                    img:nth-child(3) {
                        position: absolute;
                        right: 0;
                        top: calc(50% + 216px);
                        transform: translateY(-50%);
                        animation: moveY 15s ease infinite;
                    }
                }

                .icon {
                    svg:first-child {
                        position: absolute;
                        right: 190px;
                        transform: translateY(-200px);
                    }

                    svg:last-child {
                        position: absolute;
                        left: 50px;
                        transform: translateY(100px);
                        z-index: 0;
                    }
                }

                .user-infor {
                    background: rgba(255, 255, 255, 0.40);
                    display: inline-flex;
                    position: absolute;
                    right: 260px;
                    top: calc(50% + 230px);
                    transform: translateY(-50%);
                    animation: moveX 15s ease infinite;
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        margin-top: 60px;
    }
}

/*
*** Slider Home1: End
*/

/*
*** Slider Home2: Start
*/
.slider-block.style-two {
    .slider-main {
        width: 100%;
        height: calc(100vh);
        background-image: url(../../assets/images/slider/bg-slider2.png);
        background-position: center;
        background-size: cover;

        .container {
            position: relative;

            .block-input {
                height: 76px;
                position: relative;
                padding-left: 0;
                padding-right: 0;

                input {
                    width: 100%;
                    height: 100%;
                    padding: 8px 190px 8px 24px;
                    border-radius: 52px;
                }

                a {
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    bottom: 8px;
                }
            }

            .tags {
                .list-tag {
                    a {
                        display: flex;
                        padding: 8px 20px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 70px;
                        background: rgba(255, 255, 255, 0.20);
                        backdrop-filter: blur(30px);
                        transition: all ease 0.3s;

                        &:hover {
                            background-color: var(--green);
                        }
                    }
                }
            }

            .list-avatar {
                img {
                    position: absolute;

                    &:nth-child(1) {
                        left: 10px;
                        top: 200px;
                        animation: slide_1 20s ease-in-out alternate infinite;
                    }

                    &:nth-child(2) {
                        left: -60px;
                        bottom: 300px;
                        animation: slide_2 25s ease-in-out alternate infinite;
                    }

                    &:nth-child(3) {
                        left: 400px;
                        bottom: 100px;
                        animation: slide_1 25s ease-in-out alternate infinite;
                    }

                    &:nth-child(4) {
                        right: 400px;
                        bottom: 120px;
                        animation: slide_2 20s ease-in-out alternate infinite;
                    }

                    &:nth-child(5) {
                        right: 0px;
                        top: 160px;
                        animation: slide_1 25s ease-in-out alternate infinite;
                    }

                    &:nth-child(6) {
                        right: -20px;
                        bottom: 340px;
                        animation: slide_2 25s ease-in-out alternate infinite;
                    }
                }

                @media (max-width: 1479.98px) {
                    img {
                        &:nth-child(1) {
                            top: 140px;
                            left: 60px;
                        }

                        &:nth-child(2) {
                            left: 10px;
                            bottom: 300px;
                        }

                        &:nth-child(5) {
                            right: 40px;
                            top: 160px;
                        }

                        &:nth-child(6) {
                            right: 20px;
                            bottom: 340px;
                        }
                    }
                }

                @media (max-width: 1023.98px) {
                    img {
                        display: none;
                    }
                }
            }
        }

        @media (max-width: 991.98px) {
            height: 80vh;

            .container {
                .tags {
                    gap: 24px;
                    flex-wrap: wrap;

                    .list-tag {
                        flex-wrap: wrap;
                    }
                }
            }
        }

        @media (max-width: 575.98px) {
            .container {
                .block-input {
                    height: 50px;
                    padding-left: 15px;
                    padding-right: 15px;

                    input {
                        border-radius: 24px;
                    }

                    a {
                        top: 4px;
                        right: 19px;
                        bottom: 4px;
                        font-size: 14px;
                        line-height: 20px;
                        padding: 8px 18px;
                    }
                }

                .tags {
                    row-gap: 16px;
                }
            }
        }
    }
}

/*
*** Slider Home2: End
*/

@keyframes slide_1 {
    0% {
        transform: translate(0) rotate(0deg);
    }

    15% {
        transform: translate(10px, 10px) rotate(15deg);
    }

    30% {
        transform: translate(10px, -15px) rotate(0deg);
    }

    45% {
        transform: translate(-10px, -25px) rotate(-10deg);
    }

    60% {
        transform: translate(0, 25px) rotate(15deg);
    }

    75% {
        transform: translate(-10px, -15px) rotate(10deg);
    }

    90% {
        transform: translate(-5, -5px) rotate(-10deg);
    }

    100% {
        transform: translate(0) rotate(0deg);
    }
}

@keyframes slide_2 {
    0% {
        transform: translate(0) rotate(0deg);
    }

    25% {
        transform: translate(15px, -5px) rotate(15deg);
    }

    50% {
        transform: translate(-10px, 10px) rotate(0deg);
    }

    75% {
        transform: translate(5px, -5px) rotate(-20deg);
    }

    100% {
        transform: translate(0) rotate(0deg);
    }
}

@keyframes moveY {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(calc(-50% + 15px));
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveYY {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(calc(-50% - 15px));
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveX {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0);
    }
}


/*
*** Slider Home3: Start
*/
.slider-block.style-two.style-three {
    .slider-main {
        background-image: url(../../assets/images/slider/bg-slider3.png);

        .container {
            .heading2 {
                background: linear-gradient(90deg, #F3D465 4.16%, #71E07E 95.24%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .tags {
                .list-tag {
                    a {
                        &:hover {
                            background-color: var(--yellow);
                            color: var(--on-surface);
                        }
                    }
                }
            }

            .list-avatar {
                img:nth-child(1) {
                    width: 52px;
                    height: 52px;
                    left: 300px;
                    top: 200px;
                }

                img:nth-child(2) {
                    width: 96px;
                    height: 96px;
                    left: -40px;
                    bottom: 450px;
                }

                img:nth-child(3) {
                    width: 96px;
                    height: 96px;
                    left: unset;
                    right: -20px;
                    bottom: 340px;
                }
            }

            .list-cate {
                .item {
                    position: absolute;
                    border-radius: 50%;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%);

                    .line-svg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        // animation: circleScroll 2s linear infinite;
                    }

                    &:nth-child(1) {
                        width: 124px;
                        height: 124px;
                        left: 50px;
                        bottom: 200px;
                        animation: slide_1 25s ease-in-out alternate infinite;

                        svg {
                            position: absolute;
                            left: -8px;
                            bottom: -8px;
                        }
                    }

                    &:nth-child(2) {
                        width: 104px;
                        height: 104px;
                        right: 80px;
                        bottom: 150px;
                        animation: slide_2 25s ease-in-out alternate infinite;

                        svg {
                            position: absolute;
                            right: -7px;
                            bottom: -10px;
                        }
                    }

                    &:nth-child(3) {
                        width: 88px;
                        height: 88px;
                        right: 60px;
                        top: 200px;
                        animation: slide_2 20s ease-in-out alternate infinite;

                        svg {
                            position: absolute;
                            right: -8px;
                            bottom: -8px;
                        }
                    }
                }
            }

            @media (max-width: 1399.98px) {
                .list-avatar {
                    img:nth-child(1) {
                        width: 52px;
                        height: 52px;
                        left: 200px;
                        top: 180px;
                    }

                    img:nth-child(2) {
                        width: 96px;
                        height: 96px;
                        left: 440px;
                        bottom: 100px;
                    }

                    img:nth-child(3) {
                        width: 96px;
                        height: 96px;
                        left: unset;
                        top: 200px;
                        right: 60px;
                        bottom: unset;
                    }
                }

                .list-cate {
                    .item {
                        &:nth-child(3) {
                            right: 500px;
                            top: 120px;
                        }
                    }
                }
            }

            @media (max-width: 1023.98px) {
                .list-cate {
                    .item {
                        display: none;
                    }
                }
            }
        }
    }
}

/*
*** Slider Home3: End
*/


/*
*** Slider Home4: Start
*/
.slider-block.style-two.style-four {
    position: relative;
    z-index: 1; 
    background-color: var(--on-surface);

    .slider-main {
        background-image: url(../../assets/images/slider/bg-slider4.png);
    }
}