/*
*** Slider Home1: Start
*/
.slider-block.style-one {
    margin-top: 80px;

    .slider-main {
        width: 100%;
        height: calc(100vh - 80px);
        background-image: url(../../assets/images/slider/bg-slider1.png);
        background-position: center;
        background-size: cover;

        .container {
            width: 100%;
            height: 100%;
        }

        .row {
            position: relative;
            height: 100%;

            >div:first-child {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 15px;
            }

            >div:last-child {
                position: absolute;
                top: 40%;
                transform: translateY(-50%);
                right: 15px;

                .bg-img {
                    img:nth-child(1) {
                        position: absolute;
                        right: 245px;
                        transform: translateY(-60%);
                        z-index: 1;
                    }

                    img:nth-child(2) {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        animation: moveYY 15s ease infinite;
                    }

                    img:nth-child(3) {
                        position: absolute;
                        right: 0;
                        top: calc(50% + 216px);
                        transform: translateY(-50%);
                        animation: moveY 15s ease infinite;
                    }
                }

                .icon {
                    svg:first-child {
                        position: absolute;
                        right: 190px;
                        transform: translateY(-214px);
                    }

                    svg:last-child {
                        position: absolute;
                        left: 50px;
                        transform: translateY(100px);
                        z-index: 0;
                    }
                }

                .user-infor {
                    background: rgba(255, 255, 255, 0.40);
                    display: inline-flex;
                    position: absolute;
                    right: 260px;
                    top: calc(50% + 230px);
                    transform: translateY(-50%);
                    animation: moveX 15s ease infinite;
                }
            }
        }
    }

    @media (max-width: 1198.98px) {
        .slider-main {
            height: unset;

            .row {
                padding-top: 80px;
                padding-bottom: 180px;

                >div:first-child {
                    position: relative;
                    top: unset;
                    transform: unset;
                    left: unset;
                }

                >div:last-child {
                    position: relative;
                    top: unset;
                    transform: unset;
                    right: unset;

                    .bg-img {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img:first-child {
                            position: relative;
                            right: unset;
                            transform: unset;
                            margin-top: -60px;
                        }

                        img:nth-child(2) {
                            position: relative;
                            margin-left: 30px;
                            margin-top: 230px;
                        }

                        img:nth-child(3) {
                            position: absolute;
                            right: calc(50% - 267px);
                            top: calc(50% + 230px);
                            transform: translate(-50%, -50%);
                        }
                    }

                    .icon {
                        svg:first-child {
                            position: absolute;
                            right: calc(50% - 87px);
                            transform: translateY(-430px);
                        }

                        svg:last-child {
                            position: absolute;
                            left: calc(50% - 340px);
                            transform: translateY(-130px);
                        }
                    }

                    .user-infor {
                        top: calc(50% + 230px);
                        right: calc(50% - 20px);
                    }

                }
            }
        }
    }

    @media (max-width: 767.98px) {
        .slider-main {
            .row {
                padding-top: 80px;
                padding-bottom: 80px;

                >div:last-child {
                    .bg-img {
                        img:first-child {
                            display: none;
                        }

                        img:nth-child(2) {
                            display: none;
                        }

                        img:nth-child(3) {
                            display: none;
                        }
                    }

                    .icon {
                        svg:first-child {
                            display: none;
                        }

                        svg:last-child {
                            display: none;
                        }
                    }

                    .user-infor {
                        display: none;
                    }

                }
            }
        }
    }

    @media (max-width: 575.98px) {
        margin-top: 60px;

        .slider-main {
            .row {
                padding-top: 50px;
                padding-bottom: 60px;

                .mt-40 {
                    margin-top: 20px;
                }
            }
        }
    }
}

/*
*** Slider Home1: End
*/

/*
*** Slider Home2: Start
*/
.slider-block.style-two {
    .slider-main {
        width: 100%;
        height: calc(100vh);
        background-image: url(../../assets/images/slider/bg-slider2.png);
        background-position: center;
        background-size: cover;

        .container {
            position: relative;

            .block-input {
                height: 76px;
                position: relative;
                padding-left: 0;
                padding-right: 0;

                input {
                    width: 100%;
                    height: 100%;
                    padding: 8px 190px 8px 24px;
                    border-radius: 52px;
                }

                .block-button {
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    bottom: 8px;

                    a {
                        height: 100%;

                        span:nth-child(2) {
                            padding: 16px 32px;
                        }
                    }
                }
            }

            .tags {
                .list-tag {
                    a {
                        display: flex;
                        padding: 8px 20px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 70px;
                        background: rgba(255, 255, 255, 0.20);
                        backdrop-filter: blur(30px);
                        transition: all ease 0.3s;

                        &:hover {
                            background-color: var(--green);
                        }
                    }
                }
            }

            .list-avatar {
                img {
                    position: absolute;

                    &:nth-child(1) {
                        left: 10px;
                        top: 200px;
                        animation: slide_1 18s ease-in-out alternate infinite;
                    }

                    &:nth-child(2) {
                        left: -60px;
                        bottom: 300px;
                        animation: slide_2 15s ease-in-out alternate infinite;
                    }

                    &:nth-child(3) {
                        left: 400px;
                        bottom: 100px;
                        animation: slide_1 15s ease-in-out alternate infinite;
                    }

                    &:nth-child(4) {
                        right: 400px;
                        bottom: 120px;
                        animation: slide_2 18s ease-in-out alternate infinite;
                    }

                    &:nth-child(5) {
                        right: 0px;
                        top: 160px;
                        animation: slide_1 20s ease-in-out alternate infinite;
                    }

                    &:nth-child(6) {
                        right: -20px;
                        bottom: 340px;
                        animation: slide_2 15s ease-in-out alternate infinite;
                    }
                }

                @media (max-width: 1479.98px) {
                    img {
                        &:nth-child(1) {
                            top: 140px;
                            left: 60px;
                        }

                        &:nth-child(2) {
                            left: 10px;
                            bottom: 300px;
                        }

                        &:nth-child(5) {
                            right: 40px;
                            top: 160px;
                        }

                        &:nth-child(6) {
                            right: 20px;
                            bottom: 340px;
                        }
                    }
                }

                @media (max-width: 1023.98px) {
                    img {
                        display: none;
                    }
                }
            }
        }

        @media (max-width: 991.98px) {
            height: auto;

            .container {
                padding-top: 160px;
                padding-bottom: 80px;

                .tags {
                    gap: 24px;
                    flex-wrap: wrap;

                    .list-tag {
                        flex-wrap: wrap;
                    }
                }
            }
        }

        @media (max-width: 575.98px) {
            .container {
                padding-top: 120px;
                padding-bottom: 60px;

                .block-input {
                    height: 54px;
                    padding-left: 15px;
                    padding-right: 15px;

                    input {
                        border-radius: 24px;
                        padding: 8px 110px 8px 16px;
                    }

                    .block-button {
                        top: 4px;
                        right: 19px;
                        bottom: 4px;
                        font-size: 14px;
                        line-height: 20px;

                        a {
                            border-radius: 24px;

                            span:nth-child(2) {
                                padding: 10px 16px;
                            }
                        }
                    }
                }

                .tags {
                    row-gap: 16px;
                }
            }
        }
    }
}

/*
*** Slider Home2: End
*/

@keyframes slide_1 {
    0% {
        transform: translate(0) rotate(0deg);
    }

    15% {
        transform: translate(10px, 10px) rotate(15deg);
    }

    30% {
        transform: translate(10px, -15px) rotate(0deg);
    }

    45% {
        transform: translate(-10px, -25px) rotate(-10deg);
    }

    60% {
        transform: translate(0, 25px) rotate(15deg);
    }

    75% {
        transform: translate(-10px, -15px) rotate(10deg);
    }

    90% {
        transform: translate(-5, -5px) rotate(-10deg);
    }

    100% {
        transform: translate(0) rotate(0deg);
    }
}

@keyframes slide_2 {
    0% {
        transform: translate(0) rotate(0deg);
    }

    25% {
        transform: translate(15px, -5px) rotate(-15deg);
    }

    50% {
        transform: translate(-10px, 10px) rotate(0deg);
    }

    75% {
        transform: translate(5px, -5px) rotate(15deg);
    }

    100% {
        transform: translate(0) rotate(0deg);
    }
}

@keyframes moveY {
    0% {
        transform: translateY(-50%) rotate(0);
    }

    25% {
        transform: translateY(calc(-50% + 15px)) rotate(2deg);
    }

    50% {
        transform: translateY(-50%) rotate(0);
    }

    75% {
        transform: translateY(calc(-50% + 15px)) rotate(-2deg);
    }

    100% {
        transform: translateY(-50%) rotate(0);
    }
}

@keyframes moveYY {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(calc(-50% - 15px));
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveX {
    0% {
        transform: translateX(0) rotate(0);
    }

    25% {
        transform: translateX(15px) rotate(-2deg);
    }

    50% {
        transform: translateX(15px) rotate(0deg);
    }

    75% {
        transform: translateX(0) rotate(2deg);
    }

    100% {
        transform: translateX(0) rotate(0);
    }
}


/*
*** Slider Home3: Start
*/
.slider-block.style-two.style-three {
    .slider-main {
        background-image: url(../../assets/images/slider/bg-slider3.png);
        height: 100%;
        padding-top: 180px;
        padding-bottom: 120px;

        .container {
            .text-heading {
                position: relative;
                height: 176px;

                .heading1 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    cursor: none;

                    &:nth-child(1) {
                        color: rgba($color: #FFFFFF, $alpha: 0.5);
                    }

                    &:nth-child(2) {
                        color: rgba($color: #FFFFFF, $alpha: 1);
                        clip-path: circle(0);
                    }
                }

                &:hover {
                    .cursor {
                        opacity: 1;
                        cursor: none;
                    }
                }
            }


            .block-button {
                a {
                    padding: 16px 32px;
                }
            }

            .tags {
                .list-tag {
                    a {
                        &:hover {
                            background-color: var(--yellow);
                            color: var(--on-surface);
                        }
                    }
                }
            }

            .list-avatar {
                img:nth-child(1) {
                    width: 52px;
                    height: 52px;
                    left: -140px;
                    top: -10px;
                }

                img:nth-child(2) {
                    width: 80px;
                    height: 80px;
                    left: unset;
                    right: -100px;
                    bottom: 30px;
                }
            }

            .list-cate {
                .item {
                    position: absolute;
                    border-radius: 50%;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%);

                    &::before {
                        content: "";
                        position: absolute;
                        width: 50%;
                        height: 50%;
                    }

                    &:nth-child(1) {
                        width: 124px;
                        height: 124px;
                        right: 320px;
                        bottom: 0px;
                        animation: slide_2 18s ease-in-out alternate infinite;

                        &::before {
                            left: -6px;
                            bottom: -6px;
                            border-radius: 0 0 0 200px;
                            border-left: 3px solid var(--yellow);
                            border-bottom: 3px solid var(--yellow);
                        }
                    }

                    &:nth-child(2) {
                        width: 104px;
                        height: 104px;
                        left: -180px;
                        bottom: -20px;
                        animation: slide_1 15s ease-in-out alternate infinite;

                        &::before {
                            right: -6px;
                            bottom: -6px;
                            border-radius: 0 0 200px 0;
                            border-right: 3px solid var(--yellow);
                            border-bottom: 3px solid var(--yellow);
                        }
                    }

                    &:nth-child(3) {
                        width: 88px;
                        height: 88px;
                        right: 20px;
                        top: -40px;
                        animation: slide_2 14s ease-in-out alternate infinite;

                        &::before {
                            width: calc(50% + 6px);
                            height: calc(50% + 6px);
                            right: -6px;
                            top: -6px;
                            border-radius: 0 200px 0 0;
                            border-top: 3px solid var(--yellow);
                            border-right: 3px solid var(--yellow);
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            width: calc(50% + 6px);
                            height: calc(50% + 6px);
                            right: -6px;
                            bottom: -6px;
                            border-radius: 0 0 200px 0;
                            border-bottom: 3px solid var(--yellow);
                            border-right: 3px solid var(--yellow);
                        }
                    }
                }
            }
        }

        @media (max-width: 1720.98px) {
            .container {
                .list-avatar {
                    img:nth-child(1) {
                        left: 20px;
                        top: -70px;
                    }

                    img:nth-child(2) {
                        right: 20px;
                        bottom: -40px;
                    }
                }

                .list-cate {
                    .item {
                        &:nth-child(2) {
                            left: 400px;
                            bottom: -60px;
                        }

                        &:nth-child(3) {
                            right: 20px;
                        }
                    }
                }
            }
        }

        @media (max-width: 1040.98px) and (min-width: 992px) {
            .container {
                .text-heading {
                    height: 264px;
                }

                .list-avatar {
                    display: none;
                }

                .list-cate {
                    .item {
                        display: none;
                    }
                }
            }
        }

        @media (max-width: 991.98px) {
            height: 100%;
            padding-top: 0;
            padding-bottom: 0;

            .container {
                .text-heading {
                    height: auto;

                    .heading1 {
                        position: relative;
                        cursor: auto;

                        &:nth-child(1) {
                            display: none;
                        }

                        &:nth-child(2) {
                            color: rgba($color: #FFFFFF, $alpha: 1);
                            clip-path: unset !important;
                        }
                    }

                    &:hover {
                        .cursor {
                            opacity: 0;
                            cursor: auto;
                        }
                    }
                }

                .list-avatar {
                    display: none;
                }

                .list-cate {
                    .item {
                        display: none;
                    }
                }
            }
        }

        @media (max-width: 575.98px) {
            .container {
                padding-top: 120px;

                .block-button {
                    a {
                        padding: 12px 16px;
                    }
                }
            }
        }
    }
}

/*
*** Slider Home3: End
*/

/*
*** Slider Home4: Start
*/
.slider-block.style-two.style-four {
    position: relative;
    z-index: 1;
    background-color: var(--on-surface);

    .slider-main {
        background-image: url(../../assets/images/slider/bg-slider4.png);

        .container {
            position: relative;

            .row {
                >div:first-child {
                    .trust-block {
                        padding: 16px 32px;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
                            border-radius: 40px 40px 0px 0px;
                            opacity: 0.2;
                        }

                        .avatar {
                            width: 48px;
                            height: 48px;
                            border: 2px solid rgba(255, 255, 255, 0.60);
                            background: var(--line);
                            position: relative;

                            &:nth-child(1) {
                                z-index: 4;
                            }

                            &:nth-child(2) {
                                margin-left: -10px;
                                z-index: 3;
                            }

                            &:nth-child(3) {
                                margin-left: -10px;
                                z-index: 2;
                            }

                            &:nth-child(4) {
                                background: var(--purple);
                                margin-left: -10px;
                                z-index: 1;
                            }
                        }
                    }
                }
            }

            .list-sub-icons {
                .check-icon {
                    position: absolute;
                    top: 186px;
                    left: 30px;
                    animation: slide_1 15s ease-in-out alternate infinite;

                    i {
                        background: linear-gradient(180deg, #7D3CF3 0%, #392264 100%);
                    }
                }

                .avatar-block {
                    position: absolute;
                    padding: 8px;
                    width: 112px;
                    height: 112px;
                    top: 464px;
                    left: -80px;
                    animation: slide_2 10s ease-in-out alternate infinite;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: var(--purple);
                        border-radius: 50%;
                        opacity: 0.5;
                        z-index: -1;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }

                .five-star-block {
                    border-radius: 16px;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%);
                    position: absolute;
                    bottom: 128px;
                    left: 120px;
                    animation: moveX 10s ease-in-out alternate infinite;

                    .text-button-small {
                        white-space: nowrap;
                    }
                }

                .switch-btn {
                    display: block;
                    width: 64px;
                    height: 118px;
                    border-radius: 112px;
                    background: linear-gradient(90deg, #FFF -8.21%, rgba(255, 255, 255, 0.44) 104.85%);
                    position: absolute;
                    top: 164px;
                    right: 180px;
                    animation: slide_2 12s ease-in-out alternate infinite;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 58px;
                        height: 58px;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 4px;
                        background: linear-gradient(109deg, #7D3CF3 11.79%, rgba(185, 150, 250, 0.64) 95.65%);
                        border-radius: 50%;
                    }
                }

                .double-star {
                    width: 76px;
                    height: 76px;
                    border-radius: 50%;
                    background: linear-gradient(180deg, #7D3CF3 0%, rgba(125, 60, 243, 0.00) 100%);
                    position: absolute;
                    top: 400px;
                    right: -80px;
                    animation: slide_1 10s ease-in-out alternate infinite;

                    i {
                        opacity: 0.8;
                    }
                }

                .comment {
                    border-radius: 48px 48px 48px 16px;
                    background: linear-gradient(123deg, #8442FB 22.35%, rgba(132, 66, 251, 0.00) 107.61%);
                    position: absolute;
                    right: -20px;
                    bottom: 120px;
                    animation: moveY 15s ease-in-out alternate infinite;

                    .avatar {
                        img {
                            width: 74px;
                            height: 74px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1539.98px) {
        .slider-main {
            .container {
                .list-sub-icons {
                    .avatar-block {
                        left: 20px;
                    }

                    .double-star {
                        right: 20px;
                        top: 440px;
                    }

                    .comment {
                        right: 20px;
                    }
                }
            }
        }
    }

    @media (max-width: 1320.98px) {
        .slider-main {
            height: auto;

            .container {
                padding-top: 180px;
                padding-bottom: 100px;

                .list-sub-icons {

                    .check-icon,
                    .avatar-block,
                    .five-star-block,
                    .switch-btn,
                    .double-star,
                    .comment {
                        display: none;
                    }
                }
            }
        }
    }

    @media (max-width: 991.98px) {
        .slider-main {
            .container {
                padding-top: 160px;
                padding-bottom: 80px;
            }
        }
    }

    @media (max-width: 449.98px) {
        .slider-main {
            .container {
                padding-top: 140px;
                padding-bottom: 70px;

                .row {
                    >div:first-child {
                        .trust-block {
                            flex-direction: column;
                            row-gap: 12px;
                            padding: 16px 0;

                            .avatar {
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
*** Slider Home4: End
*/