/*
*** Top Nav: Start
*/
.top-nav.style-three {
    .right-block .line {
        height: 100%;
        width: 1px;
        padding: 12px 0;
        background-color: rgba($color: #000000, $alpha: 0.2);
    }
}

.top-nav.style-four {
    .right-block {
        .list-social {
            a {
                width: 28px;
                height: 28px;
                background-color: var(--line-dark);
                border: 1px solid var(--line-dark);
                transition: all ease 0.3s;

                i {
                    transition: all ease 0.3s;
                    font-size: 12px;
                }

                &:hover {
                    background-color: var(--white);

                    i {
                        &::before {
                            color: var(--purple);
                        }
                    }
                }
            }

            a:nth-child(3),
            a:nth-child(4),
            a:nth-child(5) {
                i {
                    font-size: 10px;
                    margin-left: 1px;
                    margin-top: 1px;
                }
            }
        }

    }

    @media (max-width: 575.98px) {
        .right-block {
            .text-button-small {
                display: none;
            }

            .list-social {
                display: flex;
                gap: 8px;

                a:nth-child(3),
                a:nth-child(4),
                a:nth-child(5) {
                    i {
                        margin-left: 0;
                        margin-top: 2px;
                    }
                }

                a:last-child {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .top-nav {
        .location {
            display: none;
        }

        .mail {
            padding-left: 0;
        }
    }
}

@media (max-width: 576px) {
    .top-nav {
        .h-44 {
            height: 36px;
        }

        .h-60 {
            height: 40px;
        }

        .right-block {
            gap: 0;

            .call-block,
            .line,
            .list-social {
                display: none;
            }
        }
    }
}

/*
*** Top Nav: End
*/