
<div class="top-nav style-three bg-yellow">
  <div class="container flex-between h-60">
    <div class="left-block flex-item-center">
      <div class="location flex-item-center"><i class="ph-light ph-map-pin text-on-surface fs-20"></i><span class="pl-8 caption1 text-on-surface">160 Broadway 15th floor, New York</span></div>
      <div class="mail pl-28 flex-item-center"><i class="ph-light ph-clock text-on-surface fs-20"></i><span class="pl-8 caption1 text-on-surface">8:00 am - 6:00 pm</span></div>
    </div>
    <div class="right-block flex-item-center gap-12">
      <div class="mail flex-item-center"><i class="ph-light ph-envelope text-on-surface fs-20"></i><span class="pl-8 caption1 text-on-surface">hi.avitex@gmail.com</span></div>
      <div class="line"></div>
      <div class="call-block flex-item-center gap-8 bg-white bora-99 pt-4 pb-4 pl-8 pr-8"><i class="ph-fill ph-phone p-4 bora-50 bg-on-surface text-white"></i>
        <div class="text-on-surface fw-700">123 456 7890</div>
      </div>
    </div>
  </div>
</div>