.about-block.style-four.pt-100.pb-100 
    .shared-bg-img
        img(src="assets/images/components/bg-fixed4.png", alt="")
    .container 
        .heading.text-center 
            .heading3 Our Impact in Numbers
            .body1.text-placehover.mt-20 Implement intelligent chatbots that can handle customer inquiries
        .row.row-gap-40.flex-between.mt-40
            .col-lg-6.scroll-left-to-right3
                .bg-img.bora-24.overflow-hidden
                    img(src="assets/images/components/bg-how-it-work.png", alt="").w-100
                    .play-btn.bg-purple.bora-50.flex-center
                        i.ph-fill.ph-play.fs-32.text-white
            .col-lg-5 
                .list-counter 
                    .flex-between.pb-32
                        .item 
                            .heading3 1.77k
                                span.heading2.text-purple +
                            .heading7.text-placehover.mt-4 Business Problem
                        .item 
                            .heading3 2.3k
                                span.heading2.text-purple +
                            .heading7.text-placehover.mt-4 Business Setup
                    .line-dark
                    .flex-between.pt-28
                        .item 
                            .heading3 24k
                                span.heading2.text-purple +
                            .heading7.text-placehover.mt-4 Goal achiever
                        .item 
                            .heading3 198k
                                span.heading2.text-purple +
                            .heading7.text-placehover.mt-4 Users Happy
                    