include ../../mixins/questionItem.pug

.faqs-block.style-four.bg-black-surface.pt-100.pb-100
    .container
        .row.flex-center
            .col-xl-8.col-md-10
                .heading3 FAQs
                .body2.text-placehover.mt-20 Say goodbye to the hassle of managing multiple accounts across different financial institutions.
                .list-question.mt-40
                    +questionItem({title:'How does AI Generation Create Image work?', content:'You can access our service from any device with an internet connection.'})
                    +questionItem({title:'What is AI Generation Create Image?', content:'Our products and services include [describe your products/services briefly].'})
                    +questionItem({title:'Can AI-generated images match human-created art?', content:'You can contact our customer support department by [provide contact information such as phone number or email] during our business hours. Our team is ready to assist you with any inquiries or concerns.'})
                    +questionItem({title:"What are the applications of AI Generation Create Image?", content:'Yes, you can return items within [specify time frame] if you are not satisfied. Please review our return policy for further instructions.'})
