.form-contact.section-contact.style-four
    .bg-img 
        img(src="assets/images/components/bg-contact4.png", alt="").w-100.h-100.object-fit-cover
        .heading3.pt-32.pb-32.pl-24.pr-24.bg-purple.text-center 
            span.scroll-bottom-to-top1 Transform 
            span.scroll-bottom-to-top2 Your 
            span.scroll-bottom-to-top3 Business 
            span.scroll-bottom-to-top4 with 
            span.scroll-bottom-to-top5 <br>AI-Driven 
            span.scroll-bottom-to-top6 Image 
            span.scroll-bottom-to-top7 Creation
    .container
        .form-block.pt-80.pb-80
            form
                .heading3 Get in touch
                .body2.text-placehover.mt-16 Say goodbye to the hassle of managing multiple accounts across different financial institutions.
                .row.row-gap-20.mt-40
                    .col-12
                        input(type="text" placeholder="Your name").w-100.bg-line-dark.p-16.bora-12.text-white
                    .col-12
                        input(type="text" placeholder="Your email").w-100.bg-line-dark.p-16.bora-12.text-white
                    .col-12
                        input(type="text" placeholder="Telephone").w-100.bg-line-dark.p-16.bora-12.text-white
                    .col-12
                        select(name="categories").w-100.bg-line-dark.p-16.bora-12.text-white
                            option(value="Personal").text-on-surface Personal
                            option(value="Business").text-on-surface Business
                            option(value="Development").text-on-surface Development
                        i.ph-duotone.ph-caret-down
                    .col-12 
                        textarea(name="messsage", cols="10", rows="4" placeholder="Message").text-white.w-100.bg-line-dark.p-16.bora-12
                button.button.bg-purple.button-purple-hover.text-white.mt-32 
                    span 
                        span 
                    span.bg-purple Message
                        i.ph-bold.ph-arrow-up-right.text-white.fs-20.flex-center

