include ../../mixins/serviceItem.pug

.list-service.style-four.pt-100.pb-100.bg-black-surface 
    .container 
        .heading3.text-center Find an AI solution for your business
        .body2.text-placehover.text-center.mt-12 Experience the future of communication with our AI-powered chat solution.
        .row.list.mt-40.row-gap-40
            .col-lg-3.col-sm-6 
                +serviceItem({classname:'pl-24 pr-24 pt-32 pb-32 bora-24 h-100', style:'style-four', icon:'icon-flash icon-purple fs-60', title:'AI-Powered Chatbots', desc:'Implement intelligent chatbots that can handle customer inquiries, provide'})
            .col-lg-3.col-sm-6 
                +serviceItem({classname:'pl-24 pr-24 pt-32 pb-32 bora-24 h-100', style:'style-four', icon:'icon-box-group icon-purple fs-60', title:'Embracing Multilingual Support', desc:'Expand your reach and cater to a global audience with chat services available'})
            .col-lg-3.col-sm-6 
                +serviceItem({classname:'pl-24 pr-24 pt-32 pb-32 bora-24 h-100', style:'style-four', icon:'icon-chart-box icon-purple fs-60', title:'Integration Capabilities', desc:'Seamlessly integrate AI chat services into your existing systems'})
            .col-lg-3.col-sm-6 
                +serviceItem({classname:'pl-24 pr-24 pt-32 pb-32 bora-24 h-100', style:'style-four', icon:'icon-hand-shake-line icon-purple fs-60', title:'Proactive Engagement', desc:'Initiate proactive conversations with customers based on their'})
            