.testimonial-block.style-four.bg-black-surface.pt-100.pb-100
    .container 
        .row.flex-item-center.row-gap-40
            .col-lg-5.pr-65.pr-col-lg-0
                .heading3 Our community with User reviews
                .body2.text-placehover.mt-20 Say goodbye to the hassle of managing multiple accounts across different financial institutions.
                .block-button.flex-item-center.gap-12.mt-20     
                    .prev-btn.w-40.h-40.flex-center.bora-50.pointer
                        i.ph.ph-caret-left
                    .next-btn.w-40.h-40.flex-center.bora-50.pointer
                        i.ph.ph-caret-right
            .col-12
                .row 
                    .col-lg-7
                        .list-testimonial 
                            .item
                                .main-content.p-40.bg-line-dark.bora-24
                                    .heading.flex-between
                                        .infor.flex-item-center.item-start.gap-20
                                            .avatar.flex-center.mt-4
                                                img(src="assets/images/avatar/avatar1.png", alt="").w-60.h-60
                                            .desc
                                                .heading7 Maverick N.
                                                .text-purple.text-subtitle.mt-8 Content Strategist
                                        .icon-quote.icon-line-dark.fs-60
                                    .heading6.fw-500.mt-24 “The data-driven approach has given us a competitive edge and enhanced our customer experience.”
                                    .star.flex-item-center.mt-24
                                        i.ph-fill.ph-star.fs-12.text-yellow
                                        i.ph-fill.ph-star.fs-12.text-yellow
                                        i.ph-fill.ph-star.fs-12.text-yellow
                                        i.ph-fill.ph-star.fs-12.text-yellow
                                        i.ph-fill.ph-star.fs-12.text-yellow
                            .item
                                .main-content.p-40.bg-line-dark.bora-24
                                    .heading.flex-between
                                        .infor.flex-item-center.item-start.gap-20
                                            .avatar.flex-center.mt-4
                                                img(src="assets/images/avatar/avatar2.png", alt="").w-60.h-60
                                            .desc
                                                .heading7 Christina G.
                                                .text-purple.text-subtitle.mt-8 Content Strategist
                                        .icon-quote.icon-line-dark.fs-60
                                    .heading6.fw-500.mt-24 “The automated insights and predictive analytics have optimized our efficiency and decision-making.”
                                    .star.flex-item-center.mt-24
                                        i.ph-fill.ph-star.fs-12.text-yellow
                                        i.ph-fill.ph-star.fs-12.text-yellow
                                        i.ph-fill.ph-star.fs-12.text-yellow
                                        i.ph-fill.ph-star.fs-12.text-yellow
                                        i.ph-fill.ph-star.fs-12.text-yellow
                            .item
                                .main-content.p-40.bg-line-dark.bora-24
                                    .heading.flex-between
                                        .infor.flex-item-center.item-start.gap-20
                                            .avatar.flex-center.mt-4
                                                img(src="assets/images/avatar/avatar3.png", alt="").w-60.h-60
                                            .desc
                                                .heading7 Alexander D.
                                                .text-purple.text-subtitle.mt-8 Content Strategist
                                        .icon-quote.icon-line-dark.fs-60
                                    .heading6.fw-500.mt-24 “The AI solution ability to analyze data and predict trends has empowered us to make smarter choices.”
                                    .star.flex-item-center.mt-24
                                        i.ph-fill.ph-star.fs-12.text-yellow
                                        i.ph-fill.ph-star.fs-12.text-yellow
                                        i.ph-fill.ph-star.fs-12.text-yellow
                                        i.ph-fill.ph-star.fs-12.text-yellow
                                        i.ph-fill.ph-star.fs-12.text-yellow
                            
