.video-block.style-four
    .bg-img.w-100.h-100
        img(src="assets/images/components/bg-video4.png", alt="")
    .play-btn 
        i.ph-fill.ph-play.fs-36.text-white
    .heading3.text-center Unlock revenue <br>growth for your business