extends base/layout.pug
block title
    title Blog
block header 
    div(class="style-purple style-blog")
        include components/header/menu/menu-one.pug
block content
    include mixins/breadcrum.pug
    +breadcrum({classname: 'pt-80 pb-80', nav:'Home', nav1:'Page', nav2:'Blog', heading:'Blog', subHeading:"We offer a variety of pricing packages to meet the unique needs of our freelancers. Contact us today to discuss which package is right for you."})
    .blog-list.pt-100.pb-100
        .container 
            .row.row-gap-40
                .col-12.col-lg-8.d-flex.flex-column.row-gap-40
                    a(href="blog-detail.html" class="blog-item item-filter" data-name="tab-one")
                        .bg-img.w-100.overflow-hidden.bora-16
                            img(src="assets/images/blog/item13.png", alt="").w-100.h-100.d-block
                        .blog-infor.mt-24
                            .text-button-uppercase.pt-6.pb-6.pl-16.pr-16.bg-line-dark.bora-16.d-inline-block.bg-purple Marketing
                            .title
                                .heading5.mt-12 Exploring AI Generation Create Image
                            .flex-item-center.gap-8.mt-8.flex-wrap
                                .author.text-placehover by 
                                    span.text-white Peter Parker 
                                i.ph-fill.ph-dot-outline.text-placehover.d-block
                                .caption1.text-placehover Oct 12, 2023
                                .cmt.flex-item-center
                                    i.ph-fill.ph-dot-outline.text-placehover.d-block
                                    i.ph.ph-chats.text-placehover.fs-24.pl-8
                                    .caption2.text-placehover.pl-4 02 comments
                            .body2.text-placehover.mt-8.pb-12 The jobs report soundly beat expectations, with job gains broadly spread across the economy and about 60% higher…
                            .read.fw-700.text-underline.text-purple-hover Read More
                    a(href="blog-detail.html" class="blog-item item-filter" data-name="tab-one")
                        .bg-img.w-100.overflow-hidden.bora-16
                            img(src="assets/images/blog/item14.png", alt="").w-100.h-100.d-block
                        .blog-infor.mt-24
                            .text-button-uppercase.pt-6.pb-6.pl-16.pr-16.bg-line-dark.bora-16.d-inline-block.bg-purple Marketing
                            .title
                                .heading5.mt-12 Exploring AI Generation Create Image
                            .flex-item-center.gap-8.mt-8.flex-wrap
                                .author.text-placehover by 
                                    span.text-white Peter Parker 
                                i.ph-fill.ph-dot-outline.text-placehover.d-block
                                .caption1.text-placehover Oct 12, 2023
                                .cmt.flex-item-center
                                    i.ph-fill.ph-dot-outline.text-placehover.d-block
                                    i.ph.ph-chats.text-placehover.fs-24.pl-8
                                    .pl-4.caption2.text-placehover 02 comments
                            .body2.text-placehover.mt-8.pb-12 The jobs report soundly beat expectations, with job gains broadly spread across the economy and about 60% higher…
                            .read.fw-700.text-underline.text-purple-hover Read More
                    .list-nav-number.flex-item-center.gap-8
                        a(href="blog-four.html").nav-item.bora-50.flex-center
                            i.ph.ph-caret-left.text-white
                        a(href="blog-four.html").nav-item.bora-50.flex-center 4
                        a(href="blog-five.html").nav-item.bora-50.flex-center.active 5
                .col-12.col-lg-4.pl-65
                    .search-block.bora-44.overflow-hidden
                        input(type="text" placeholder="Search").bg-line-dark.w-100
                        i.ph.ph-magnifying-glass
                    .cate-block.mt-40
                        .heading7.text-white.pb-12 Categories
                        .list-cate.mt-24
                            a(href="blog.html").nav-item.flex-between.pb-12.text-white.pointer
                                .left.flex-item-center
                                    i.ph-bold.ph-caret-right.text-purple
                                    .text-button.transition-0-3s.pl-8 adventure
                                .right 
                                    .text-button.flex-center.bora-50.bg-line-dark 3
                            a(href="blog-four.html").nav-item.flex-between.pt-12.pb-12.text-white.pointer
                                .left.flex-item-center
                                    i.ph-bold.ph-caret-right.text-purple
                                    .text-button.transition-0-3s.pl-8 console
                                .right 
                                    .text-button.flex-center.bora-50.bg-line-dark 3
                            a(href="blog-five.html").nav-item.flex-between.pt-12.pb-12.text-white.pointer
                                .left.flex-item-center
                                    i.ph-bold.ph-caret-right.text-purple
                                    .text-button.transition-0-3s.pl-8 action
                                .right 
                                    .text-button.flex-center.bora-50.bg-line-dark 2
                            a(href="blog-three.html").nav-item.flex-between.pt-12.pb-12.text-white.pointer
                                .left.flex-item-center
                                    i.ph-bold.ph-caret-right.text-purple
                                    .text-button.transition-0-3s.pl-8 esport
                                .right 
                                    .text-button.flex-center.bora-50.bg-line-dark 3
                            a(href="blog-two.html").nav-item.flex-between.pt-12.pb-12.text-white.pointer
                                .left.flex-item-center
                                    i.ph-bold.ph-caret-right.text-purple
                                    .text-button.transition-0-3s.pl-8 racing
                                .right 
                                    .text-button.flex-center.bora-50.bg-line-dark 3
                    .tags-popular-block.mt-40
                        .heading7.pb-12.border-underline Popular Tags
                        .list-tag.mt-24.d-flex.flex-wrap.gap-12
                            a(href="blog.html").text-button-uppercase.pt-6.pb-6.pl-16.pr-16.bg-line-dark.bora-16.transition-0-3s Creative
                            a(href="blog-three.html").text-button-uppercase.pt-6.pb-6.pl-16.pr-16.bg-line-dark.bora-16.transition-0-3s 3d Art
                            a(href="blog-four.html").text-button-uppercase.pt-6.pb-6.pl-16.pr-16.bg-line-dark.bora-16.transition-0-3s Binance
                            a(href="blog-two.html").text-button-uppercase.pt-6.pb-6.pl-16.pr-16.bg-line-dark.bora-16.transition-0-3s Business
                            a(href="blog-five.html").text-button-uppercase.pt-6.pb-6.pl-16.pr-16.bg-line-dark.bora-16.transition-0-3s Marketing
                    .recent-post-block.mt-40
                        .heading7.pb-12.border-underline Recent Posts
                        .list-recent-post.mt-24
                            .recent-post-item.d-flex.item-start.gap-16
                                a(href="blog-detail.html").item-img.bora-8.d-block
                                    img(src="assets/images/blog/recent1.png", alt="").d-block
                                .item-infor
                                    a(href="blog-detail.html")
                                        .text-button.transition-0-3s 10 Effective Tips to Improve Your Running Form
                                        .caption1.text-placehover Oct 12, 2023
                            .recent-post-item.d-flex.item-start.gap-16.mt-24
                                a(href="blog-detail.html").item-img.bora-8.d-block
                                    img(src="assets/images/blog/recent2.png", alt="").d-block
                                .item-infor
                                    a(href="blog-detail.html")
                                        .text-button.transition-0-3s 5 Rules to keep in mind when negotiating a job
                                        .caption1.text-placehover Oct 12, 2023
                            .recent-post-item.d-flex.item-start.gap-16.mt-24
                                a(href="blog-detail.html").item-img.bora-8.d-block
                                    img(src="assets/images/blog/recent3.png", alt="").d-block
                                .item-infor
                                    a(href="blog-detail.html")
                                        .text-button.transition-0-3s Strategies to increase salary with job offers
                                        .caption1.text-placehover Oct 12, 2023
    include components/preload.pug
    include components/popup-newsletter.pug
    include components/scroll-to-top.pug
block footer 
    div(class="style-four")
        include components/footer.pug