extends base/layout.pug
block title
    title FAQs
block header 
    div(class="style-purple")
        include components/header/menu/menu-one.pug
block content
    include mixins/breadcrum.pug
    +breadcrum({classname: 'pt-80 pb-80', nav:'Home', nav1:'Page', nav2:'Blog Detail', heading:'Blog Detail', subHeading:"We offer a variety of pricing packages to meet the unique needs of our freelancers. Contact us today to discuss which package is right for you."})
    .blog-detail.blog-list.pt-100
        .container 
            .row.row-gap-60
                .col-12.col-lg-8
                    .heading.flex-item-center.gap-8.flex-wrap
                        .caption1.text-white New
                        i.ph-fill.ph-dot-outline.text-white.d-block
                        .caption1.text-white Blog
                        i.ph-fill.ph-dot-outline.text-white.d-block
                        .caption1.text-placehover These Budget Friendly Spring...
                    .blog-title.mt-20
                        .text-button-uppercase.pt-6.pb-6.pl-16.pr-16.bg-line-dark.bora-16.d-inline-block.transition-0-3s Creative
                        .heading3.mt-12 A Look at How the Brand Stays Ahead of the Competition
                        .flex-item-center.gap-8.mt-20.flex-wrap
                            .author.flex-item-center
                                .bg-img.w-40.h-40.bora-50
                                    img(src="assets/images/avatar/avatar1.png", alt="").w-100
                                .text-button.pl-12 Peter Parker 
                            i.ph-fill.ph-dot-outline.text-placehover.d-block
                            .caption1.text-placehover Oct 12, 2023
                            .cmt.flex-item-center
                                i.ph-fill.ph-dot-outline.text-placehover.d-block
                                i.ph.ph-chats.text-placehover.fs-24.pl-8
                                .caption2.text-placehover.pl-4 02 comments
                        .list-social.flex-item-center.flex-wrap.gap-16.mt-20
                            a(href="https://www.facebook.com/" target="_blank").item.flex-item-center.bg-line-dark.hover-bg-purple
                                i.icon-facebook.display-block
                                .caption1 Facebook
                            a(href="https://www.linkedin.com/" target="_blank").item.flex-item-center.bg-line-dark.hover-bg-purple
                                i.icon-linkedin.fs-14.display-block
                                .caption1 Linkedin
                            a(href="https://www.twitter.com/" target="_blank").item.flex-item-center.bg-line-dark.hover-bg-purple
                                i.icon-twitter.fs-12.display-block
                                .caption1 Twitter
                            a(href="https://www.instagram.com/" target="_blank").item.flex-item-center.bg-line-dark.hover-bg-purple
                                i.icon-instagram.fs-14.display-block
                                .caption1 Instagram
                            a(href="https://www.youtube.com/" target="_blank").item.flex-item-center.bg-line-dark.hover-bg-purple
                                i.icon-youtube.fs-14.display-block
                                .caption1 Youtube
                    .blog-content.mt-40 
                        .heading6 How to deal with employee quitting
                        .body2.text-place-hover.mt-16 Attracting good money and achieving financial success is within your reach. With our innovative solutions and expert guidance, we empower you to unlock your creative business potential and thrive in today's competitive landscape.
                        .main-img.bora-24.overflow-hidden.mt-40
                            img(src="assets/images/blog/item3.png", alt="").w-100.d-block
                        .body2.text-place-hover.mt-16 Let us help you navigate the complexities of the financial world, maximize your earnings, and turn your creative passion into a lucrative venture. It's time to unleash your full potential and embark on a journey towards financial prosperity.
                        .heading6.mt-40 How to deal with employee quitting
                        .body2.text-place-hover.mt-16 Saving money is an essential skill for financial stability and long-term success. We understand the importance of efficient resource management, and we're here to guide you through proven strategies to optimize your financial savings. Our experts will provide you with practical tips and insights, such as budgeting techniques, expense tracking, smart investment options, and ways to reduce unnecessary expenses.
                        .quote-block.bg-line-dark.bora-16.p-32.mt-24
                            i.icon-quote.fs-32
                            .heading6.mt-16 “If you set your goals ridiculously high and it's a failure, you will fail above everyone else's success”
                            .text-button.text-placehover.mt-16 Nelson Mandela
                        .list-li.mt-24
                            .body2.text-white.d-flex
                                i.ph-fill.ph-dot-outline.mt-4.d-block.fs-20
                                span.pl-8 Deep knowledge and experience with different security areas like identity and access management, cryptography, network security, etc.
                            .body2.text-white.d-flex.mt-8
                                i.ph-fill.ph-dot-outline.mt-4.d-block.fs-20
                                span.pl-8 Expert-level development skills in Java.
                            .body2.text-white.d-flex.mt-8
                                i.ph-fill.ph-dot-outline.mt-4.d-block.fs-20
                                span.pl-8 Ph.D. in the related field is a plus.
                            .body2.text-white.d-flex.mt-8
                                i.ph-fill.ph-dot-outline.mt-4.d-block.fs-20
                                span.pl-8 Strong fundamentals in computer science skills.
                        .body2.text-place-hover.mt-24 Saving money is an essential skill for financial stability and long-term success. We understand the importance of efficient resource management, and we're here to guide you through proven strategies to optimize your financial savings. Our experts will provide you with practical tips and insights, such as budgeting techniques, expense tracking, smart investment options, and ways to reduce unnecessary expenses.
                    .blog-tag.flex-between.mt-24.pt-20.pb-20.border-underline.border-line-top.flex-wrap.row-gap-24
                        .list-tag.flex-item-center.gap-16
                            .text-button-uppercase.pt-6.pb-6.pl-16.pr-16.bg-line-dark.bora-16.d-inline-block.transition-0-3s.hover-bg-purple.pointer Creative
                            .text-button-uppercase.pt-6.pb-6.pl-16.pr-16.bg-line-dark.bora-16.d-inline-block.transition-0-3s.hover-bg-purple.pointer Business
                            .text-button-uppercase.pt-6.pb-6.pl-16.pr-16.bg-line-dark.bora-16.d-inline-block.transition-0-3s.hover-bg-purple.pointer 3D
                        .share.flex-item-center.flex-wrap.gap-16
                            .text-button Share This Post:
                            .list-social.flex-item-center.gap-16
                                a(href="https://www.facebook.com/" target="_blank").item.bg-line-dark.bora-50.w-40.h-40.flex-center.hover-bg-purple
                                    i.icon-facebook
                                a(href="https://www.linkedin.com/" target="_blank").item.bg-line-dark.bora-50.w-40.h-40.flex-center.hover-bg-purple
                                    i.icon-linkedin.fs-14
                                a(href="https://www.twitter.com/" target="_blank").item.bg-line-dark.bora-50.w-40.h-40.flex-center.hover-bg-purple
                                    i.icon-twitter.fs-12
                                a(href="https://www.instagram.com/" target="_blank").item.bg-line-dark.bora-50.w-40.h-40.flex-center.hover-bg-purple
                                    i.icon-instagram.fs-14
                    .blog-comment 
                        .heading.flex-between
                            .heading6 02 Comments 
                            .sort.flex-item-center.gap-20
                                .text-button-small Sort By:
                                select(name="sort").bg-on-surface.text-white
                                    option(value="Newest") Newest
                                    option(value="Oldest") Oldest
                                    option(value="Best Fit") Best Fit
                        .list-comment.mt-24
                            .comment-item.pb-24
                                .heading.flex-between
                                    .left.flex-item-center.gap-16
                                        img.avatar(src="assets/images/avatar/avatar3.png", alt="")
                                        .infor 
                                            .text-button Hayley Raymond
                                            .caption1.text-placehover 1 days ago
                                    .right 
                                        i.ph-fill.ph-dots-three-outline.text-placehover
                                .content.mt-12 Metus vestibulum condimentum condimentum interdum suspendisse nostra id viverra aliquam curae dictum habitant cum venenatis a sem parturient eu ipsum suspendisse morbi suspendisse imperdiet curae commodo class.
                                .comment-infor.flex-between.mt-12
                                    .left.flex-item-center.gap-16
                                        .like.flex-item-center.pointer
                                            i.ph.ph-heart.text-white 
                                            .text-button-small.text-placehover.pl-4 20
                                        .cmt.flex-item-center.pointer
                                            i.ph.ph-chat.text-white 
                                            .text-button-small.text-placehover.pl-4 Show Replies
                                    .text-button-small.text-placehover.pointer Reply
                            .comment-item.reply.hide.pb-24.pl-40
                                .heading.flex-between
                                    .left.flex-item-center.gap-16
                                        img.avatar(src="assets/images/avatar/avatar2.png", alt="")
                                        .infor 
                                            .text-button Hayley Raymond
                                            .caption1.text-placehover 1 days ago
                                    .right 
                                        i.ph-fill.ph-dots-three-outline.text-placehover
                                .content.mt-12 Metus vestibulum condimentum condimentum interdum suspendisse nostra id viverra aliquam curae dictum habitant cum venenatis a sem parturient eu ipsum suspendisse morbi suspendisse imperdiet curae commodo class.
                                .comment-infor.flex-between.mt-12
                                    .left.flex-item-center.gap-16
                                        .like.flex-item-center.pointer
                                            i.ph.ph-heart.text-white 
                                            .text-button-small.text-placehover.pl-4 20
                                    .text-button-small.text-placehover.pointer Reply
                            .comment-item.pt-24.pb-24
                                .heading.flex-between
                                    .left.flex-item-center.gap-16
                                        img.avatar(src="assets/images/avatar/avatar4.png", alt="")
                                        .infor 
                                            .text-button Hayley Raymond
                                            .caption1.text-placehover 1 days ago
                                    .right 
                                        i.ph-fill.ph-dots-three-outline.text-placehover
                                .content.mt-12 Metus vestibulum condimentum condimentum interdum suspendisse nostra id viverra aliquam curae dictum habitant cum venenatis a sem parturient eu ipsum suspendisse morbi suspendisse imperdiet curae commodo class.
                                .comment-infor.flex-between.mt-12
                                    .left.flex-item-center.gap-16
                                        .like.flex-item-center.pointer
                                            i.ph.ph-heart.text-white 
                                            .text-button-small.text-placehover.pl-4 20
                                        .cmt.flex-item-center.pointer
                                            i.ph.ph-chat.text-white 
                                            .text-button-small.text-placehover.pl-4 Hide Replies
                                    .text-button-small.text-placehover.pointer Reply
                    .blog-form-contact.mt-40
                        .heading6 Leave a Comment
                        form(action="") 
                            .row.row-gap-20.mt-24
                                .col-sm-6 
                                    input(type="text" placeholder="Your name").p-16.bora-8.bg-line-dark.text-white.w-100
                                .col-sm-6
                                    input(type="text" placeholder="Info.avitex@mail.com").p-16.bora-8.bg-line-dark.text-white.w-100
                                .col-12
                                    textarea(placeholder="Write comment").p-16.bora-8.bg-line-dark.text-white
                            .checkbox.flex-item-center.mt-20 
                                input(type="checkbox", name="checkbox")
                                .caption1.text-placehover.pl-8 Save my name, email, and website in this browser for the next time I comment.
                            button.button.bg-purple.button-purple-hover.text-white.mt-32 Submit Comment
                .col-12.col-lg-4.pl-65
                    .author-infor 
                        .heading.flex-item-center.gap-20
                            .bg-img
                                img(src="assets/images/avatar/avatar1.png", alt="").bora-50
                            .right 
                                .text-button Peter Parker 
                                .caption1.text-placehover.mt-4 200 Follower
                                button.button.bg-purple.button-purple-hover.text-white.mt-8 Follow
                        .text-placehover.mt-20 Peter Parker is a writer who draws. He’s the Bestselling author of “Number of The Year”. Donec vitae tortor efficitur
                        include components/list-social.pug
                    .search-block.bora-44.overflow-hidden.mt-40
                        input(type="text" placeholder="Search").bg-line-dark.w-100
                        i.ph.ph-magnifying-glass
                    .recent-post-block.mt-40
                        .heading7.pb-12.border-underline Recent Posts
                        .list-recent-post.mt-24
                            .recent-post-item.d-flex.item-start.gap-16
                                a(href="blog-detail-one.html").item-img.bora-8.d-block
                                    img(src="assets/images/blog/recent1.png", alt="").d-block
                                .item-infor
                                    a(href="blog-detail-one.html")
                                        .text-button.transition-0-3s 10 Effective Tips to Improve Your Running Form
                                        .caption1.text-placehover Oct 12, 2023
                            .recent-post-item.d-flex.item-start.gap-16.mt-24
                                a(href="blog-detail-one.html").item-img.bora-8.d-block
                                    img(src="assets/images/blog/recent2.png", alt="").d-block
                                .item-infor
                                    a(href="blog-detail-one.html")
                                        .text-button.transition-0-3s 5 Rules to keep in mind when negotiating a job
                                        .caption1.text-placehover Oct 12, 2023
                            .recent-post-item.d-flex.item-start.gap-16.mt-24
                                a(href="blog-detail-one.html").item-img.bora-8.d-block
                                    img(src="assets/images/blog/recent3.png", alt="").d-block
                                .item-infor
                                    a(href="blog-detail-one.html")
                                        .text-button.transition-0-3s Strategies to increase salary with job offers
                                        .caption1.text-placehover Oct 12, 2023
                    .newsletter.flex-column-center.bg-line-dark.p-32.bora-24.mt-40
                        i.icon-send-mail.fs-64
                        .heading7.text-center.mt-16 Subscribe For Daily Newsletter
                        .caption1.text-placehover.text-center.mt-12 Lorem ipsum dolor sit amet, consectetur.
                        input(type="text" placeholder="Your email address").button.bg-line-dark.text-white.text-center.w-100.mt-20
                        a(href="#!").button.bg-purple.button-purple-hover.text-white.mt-16.w-100 Sign up
    div(class="style-blog-detail")
        include components/home1/our-blogs.pug
    include components/preload.pug
    include components/popup-newsletter.pug
    include components/scroll-to-top.pug
block footer 
    div(class="style-four")
        include components/footer.pug