extends base/layout.pug
block title
    title Home 2 - AI Image Generator
block header
    div(class="style-two")
        include components/header/menu/menu-one.pug
block content
    include components/slider/slider-two.pug
    div(class="style-two")
        include components/home1/partners.pug
    include components/home2/services.pug
    include components/home2/counter.pug
    include components/home2/about.pug
    include components/home2/projects.pug
    include components/home2/testimonial.pug
    include components/home2/banner.pug
    include components/home2/pricing.pug
    include components/home2/video.pug
    include components/home2/list-partner.pug
    include components/home2/our-blogs.pug
    include components/home2/instagram.pug
    include components/preload.pug
    include components/modal-video.pug
    include components/popup-newsletter.pug
    div(class="style-two")
        include components/scroll-to-top.pug
block footer 
    div(class="style-two")
        include components/footer.pug