extends base/layout.pug
block title
    title Home 4 - AI Business Agency
block header
    include components/header/top-nav/top-nav-four.pug
    include components/header/menu/menu-four.pug
block content
    include components/slider/slider-four.pug
    div(class="style-four")
        include components/home2/list-partner.pug
    include components/home4/about.pug
    include components/home4/list-service.pug
    include components/home4/projects.pug
    include components/home4/video.pug
    include components/home4/testimonial.pug
    include components/home4/how-it-work.pug
    include components/home4/faqs.pug
    include components/home4/form-contact.pug
    //- include components/preload.pug
    include components/modal-video.pug
    include components/popup-newsletter.pug
    include components/scroll-to-top.pug
block footer 
    div(class="style-four")
        include components/footer.pug