extends base/layout.pug
block title
    title Home 3 - AI Digital Agency
block header
    include components/header/top-nav/top-nav-three.pug
    include components/header/menu/menu-three.pug
block content
    include components/slider/slider-three.pug
    include components/home3/about.pug
    div(class="shared-bg-service")
        include components/home3/services.pug
        include components/home3/banner.pug
    include components/home3/testimonial.pug
    div(class="style-three")
        include components/home1/projects.pug
    include components/home3/counter.pug
    include components/home3/video.pug
    include components/home3/faqs.pug
    div(class="style-three")
        include components/home1/pricing.pug
    include components/home3/form-contact.pug
    include components/home3/partners.pug
    include components/preload.pug
    include components/modal-video.pug
    include components/popup-newsletter.pug
block footer 
    div(class="style-three")
        include components/footer.pug