extends base/layout.pug
block title
    title Home 1 - AI Chat Bot
block header
    include components/header/menu/menu-one.pug
block content
    include components/slider/slider-one.pug
    include components/home1/partners.pug
    include components/home1/about.pug
    include components/home1/services.pug
    include components/home1/how-it-work.pug
    include components/home1/testimonial.pug
    include components/home1/projects.pug
    include components/home1/pricing.pug
    include components/home1/our-blogs.pug
    include components/preload.pug
    include components/popup-newsletter.pug
    include components/scroll-to-top.pug
block footer 
    include components/footer.pug