extends base/layout.pug
block title
    title Home 1 - AI Chat Bot
block header
    include components/header/menu/menu-one.pug
block content
    h1 Content
    include components/popup-newsletter.pug
block footer 
    include components/footer.pug