extends base/layout.pug
block title
    title Services
block header
    div(class="style-purple style-service")
        include components/header/menu/menu-one.pug
block content
    include mixins/breadcrum.pug
    +breadcrum({classname: 'pt-80 pb-80', nav:'Home', nav1:'Services', heading:'Digital Agency', subHeading:"Elevate your online presence and brand strategy with our digital agency. Explore the future of digital innovation as we collaborate to unlock your full digital potential"})
    
    include mixins/serviceItem.pug
    div(class="style-service")
        .service-block.list-service.style-one.pt-100.pb-100
            .container 
                .heading.text-center 
                    .heading3.text-center Find an AI solution for your business
                    .body2.text-placehover.mt-12.text-center Experience the future of communication with our AI-powered chat solution.
                .list.row.row-gap-32.mt-40
                    .col-lg-3.col-sm-6.scroll-bottom-to-top1
                        +serviceItem({classname:'pl-32 pr-32 pt-24 pb-24 bora-24 h-100', style:'style-one', icon:'icon-hand-grab icon-white fs-60', title:'Solutions', desc:"Gain valuable insights into customer behavior, preferences"})
                    .col-lg-3.col-sm-6.scroll-bottom-to-top2
                        +serviceItem({classname:'pl-32 pr-32 pt-24 pb-24 bora-24 h-100', style:'style-one', icon:'icon-wallet icon-white fs-60', title:'Inter face', desc:"Engage and assist your website visitors with our intelligent "})
                    .col-lg-3.col-sm-6.scroll-bottom-to-top3
                        +serviceItem({classname:'pl-32 pr-32 pt-24 pb-24 bora-24 h-100', style:'style-one', icon:'icon-hand-shake icon-white fs-60', title:'Support', desc:"Expand your reach and cater to a global audience ..."})
                    .col-lg-3.col-sm-6.scroll-bottom-to-top4
                        +serviceItem({classname:'pl-32 pr-32 pt-24 pb-24 bora-24 h-100', style:'style-one', icon:'icon-testing icon-white fs-60', title:'Testing', desc:"Engage and assist your website visitors with our intelligent"})

    include components/partners.pug
    .counter-block.style-three.pt-100.pb-100
        .container 
            .row.row-gap-32.flex-between
                .col-xl-6 
                    .heading3 Create your own AI business with us
                    .count.mt-40
                        .item.flex-item-center.gap-24.pb-20
                            .heading3.text-purple 35
                                span k 
                            .body2.text-placehover Client satisfaction is at the heart of what we do. We take pride in achieving a 95% client satisfaction rate
                        .line-dark
                        .item.flex-item-center.gap-24.pt-20
                            .heading3.text-purple 15
                                span k 
                            .body2.text-placehover Our team of storytellers has crafted over 500 compelling narratives that resonate with audiences
                    a(href="about.html").button.bg-purple.button-purple-hover.text-white.mt-40 
                        span 
                            span 
                        span.bg-purple Explore more
                .col-xl-5.list-img
                    .bg-img
                        .logo
                            svg(xmlns='http://www.w3.org/2000/svg' width='99' height='59' viewbox='0 0 99 59' fill='none')
                                g(clip-path='url(#clip0_8782_1668)')
                                    path(d='M0.485107 58.2314C2.52395 53.3434 4.41834 48.8064 6.31273 44.2736C12.0908 30.437 17.8978 16.6129 23.614 2.75122C24.2661 1.17204 25.0338 0.545382 26.7589 0.612225C30.3991 0.758446 34.0517 0.737557 37.6919 0.616403C39.1942 0.56627 39.8505 1.13862 40.3952 2.47967C44.3697 12.2555 48.402 22.0105 52.4426 31.7613C53.982 35.4795 55.6535 39.1475 57.127 42.8908C57.6676 44.2694 58.3693 44.7457 59.8468 44.7373C71.6754 44.6747 83.5081 44.6997 95.3367 44.6956C96.1497 44.6956 96.9587 44.6956 97.8873 44.6956C97.8873 49.2367 97.8873 53.5857 97.8873 58.1269C97.1692 58.1645 96.5047 58.2314 95.8402 58.2314C80.1568 58.2397 64.4775 58.2188 48.7941 58.269C47.3579 58.2732 46.553 57.9139 46.0619 56.4642C45.2571 54.0996 44.2005 51.8227 43.3297 49.479C42.9417 48.4304 42.4052 47.9751 41.2248 47.9876C34.968 48.0503 28.707 47.9792 22.4501 48.0795C21.7898 48.092 20.8281 48.773 20.5392 49.3997C19.4084 51.8562 18.5458 54.4338 17.4603 56.9112C17.2168 57.4669 16.4739 58.1645 15.9456 58.1729C10.9352 58.269 5.91652 58.2314 0.485107 58.2314ZM38.15 35.6215C36.0617 30.2406 34.0641 25.0895 31.8478 19.3786C29.6686 25.1187 27.7123 30.2657 25.6817 35.6215C29.9121 35.6215 33.8701 35.6215 38.15 35.6215Z' fill='#7D3CF3')
                                    path(d='M97.9972 0.818359C97.9972 4.53236 98.0302 8.07506 97.9641 11.6178C97.9518 12.1651 97.5844 12.7959 97.2047 13.2304C90.2958 21.1472 81.7648 30.4217 74.7734 38.2633C71.8224 38.2591 67.2742 38.2215 64.2366 38.1129C64.2366 38.1129 61.0834 32.5941 60.6046 31.7084C60.8275 31.4912 60.9348 31.4996 64.9506 27.2759C68.7889 23.2402 72.3094 18.8912 76.3293 14.2706C74.8807 14.2706 73.8901 14.2706 72.8996 14.2706C66.9853 14.2706 61.071 14.2957 55.1567 14.2247C54.4799 14.2163 53.4274 13.8069 53.1922 13.2847C51.3803 9.24065 49.7294 5.12977 47.9382 0.818359C64.6782 0.818359 81.187 0.818359 97.9972 0.818359Z' fill='#7D3CF3')
                                defs
                                    clippath#clip0_8782_1668
                                        rect(width='97.5219' height='57.6651' fill='white' transform='translate(0.485107 0.609375)')
                        .list-avatar 
                            div(class="avatar")
                                img(src="assets/images/avatar/avatar1.png", alt="")
                            div(class="avatar")
                                img(src="assets/images/avatar/avatar2.png", alt="")
                            div(class="avatar")
                                img(src="assets/images/avatar/avatar3.png", alt="")
                            div(class="avatar")
                                img(src="assets/images/avatar/avatar4.png", alt="")
                            div(class="avatar")
                                img(src="assets/images/avatar/avatar5.png", alt="")
                            div(class="avatar")
                                img(src="assets/images/avatar/avatar6.png", alt="")
    include components/home4/testimonial.pug
    div(class="style-service")
        include components/home3/form-contact.pug
    include components/preload.pug
    include components/popup-newsletter.pug
    include components/scroll-to-top.pug
block footer 
    div(class="style-four")
        include components/footer.pug