/*
Footer: Start
*/
#footer {
  position: relative;
}
#footer .footer-block .heading {
  position: relative;
}
#footer .footer-block .heading .footer-navigate {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
#footer .footer-block .heading .footer-navigate ul li a {
  position: relative;
}
#footer .footer-block .heading .footer-navigate ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all ease 0.4s;
}
#footer .footer-block .heading .footer-navigate ul li:hover a::before {
  width: 100%;
}
#footer .footer-block .heading .list-social .item {
  transition: all ease 0.3s;
}
#footer .footer-block .heading .list-social .item:hover {
  background-color: #3974ff;
}
#footer .footer-block .company-contact .mail span {
  text-transform: lowercase;
}
@media (max-width: 1199.98px) {
  #footer .footer-block .heading .footer-navigate ul {
    gap: 20px;
  }
}
@media (max-width: 991.98px) {
  #footer .footer-block .heading {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  #footer .footer-block .heading .footer-navigate {
    position: relative;
    left: unset;
    transform: unset;
  }
  #footer .footer-block .heading .list-social {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  #footer .footer-block .heading {
    flex-direction: column;
    justify-content: center;
  }
  #footer .footer-block .heading .footer-navigate ul {
    gap: 16px;
    row-gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }
  #footer .footer-block .heading .footer-navigate ul a {
    font-size: 12px;
  }
  #footer .footer-block .company-contact span:nth-child(4) {
    display: none;
  }
  #footer .footer-block .company-contact .location {
    width: 100%;
    justify-content: center;
  }
  #footer .footer-block .footer-bottom {
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
  }
  #footer .footer-block .footer-bottom .caption1 {
    font-size: 12px;
  }
}
@media (max-width: 575.98px) {
  #footer .footer-block .heading .list-social a .fs-14 {
    font-size: 12px;
  }
  #footer .footer-block .heading .list-social a .fs-12 {
    font-size: 10px;
  }
}

#footer .style-two .logo svg path:nth-child(1) {
  fill: var(--green);
}
#footer .style-two .footer-block .heading .list-social .item {
  background-color: var(--green);
}
#footer .style-two .footer-block .heading .list-social .item:hover {
  background-color: #00ff40;
}

#footer .style-three .footer-block .logo svg path:nth-child(1) {
  fill: var(--yellow);
}
#footer .style-three .footer-block .heading .list-social .item {
  background-color: var(--yellow);
}
#footer .style-three .footer-block .heading .list-social .item i::before {
  color: var(--on-surface);
}
#footer .style-three .footer-block .heading .list-social .item:hover {
  background-color: #ebb41d;
}

#footer .style-four .footer-block .logo svg path:nth-child(1) {
  fill: var(--purple);
}
#footer .style-four .footer-block .heading .list-social .item {
  background-color: var(--purple);
}
#footer .style-four .footer-block .heading .list-social .item:hover {
  background-color: #5700c9;
}

/*
Footer: End
*/