/*
Menu header: Start
*/
.header-menu {
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  transition: all linear 0.5s;
  border-bottom: 1px solid var(--line-dark);
}
.header-menu > .container {
  height: 100%;
  width: 100%;
}
.header-menu > .container .header-main {
  height: 100%;
  width: 100%;
  position: relative;
}
.header-menu > .container .header-main .menu-main {
  height: 100%;
}
.header-menu > .container .header-main .menu-main > ul {
  height: 100%;
  gap: 28px;
}
.header-menu > .container .header-main .menu-main > ul li {
  height: 100%;
  cursor: pointer;
}
.header-menu > .container .header-main .menu-main > ul li > a {
  color: var(--white);
  position: relative;
}
.header-menu > .container .header-main .menu-main > ul li > a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--blue);
  transition: all ease 0.4s;
}
.header-menu > .container .header-main .menu-main > ul li > a:hover::before, .header-menu > .container .header-main .menu-main > ul li > a.active::before {
  width: 100%;
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  top: 54px;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.4s;
  z-index: 5;
  pointer-events: none;
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main {
  border-radius: 0 0 24px 24px;
  box-shadow: 0px 4px 63px 0px rgba(98, 166, 255, 0.3);
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row {
  margin-left: -12px;
  margin-right: -12px;
  position: relative;
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row > div {
  padding-right: 12px;
  padding-left: 12px;
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-home {
  align-items: start;
  position: relative;
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-home .item i {
  display: inline-block;
  transition: all ease 0.4s;
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-home .item a .text-button {
  transition: all ease 0.4s;
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-home .item .bg-img img {
  transition: all ease 0.5s;
  transform: translateZ(0);
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-home .item:hover i {
  transform: rotateY(360deg);
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-home .item:hover .text-button {
  color: var(--blue);
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-home .item:hover .bg-img img {
  transform: scale(1.1) translateZ(0);
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-pages a .text-button {
  transition: all ease 0.4s;
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-pages a:hover .text-button {
  color: var(--blue);
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .banner-infor {
  position: relative;
  height: calc(100% - 96px);
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .banner-infor .text-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block .list-social {
  gap: 11px;
  flex-wrap: wrap;
  justify-content: center;
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block .list-social a {
  transition: all ease 0.2s;
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block .list-social a:hover {
  background-color: #3974ff;
}
.header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block .phone i {
  font-size: 14px;
  padding: 4px;
  border-radius: 50%;
  background-color: var(--placehover);
  color: #2a2a2d;
}
.header-menu > .container .header-main .menu-main > ul li:hover > a::before {
  width: 100%;
}
.header-menu > .container .header-main .menu-main > ul li:hover .sub-nav {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  padding-top: 26px;
}
.header-menu > .container .header-main .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-menu > .container #menu-mobile-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all ease 0.5s;
  z-index: -1;
}
.header-menu > .container #menu-mobile-block .menu-mobile-main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -75%;
  width: 75%;
  height: 100%;
  background-color: var(--black-surface);
  transition: all ease 0.5s;
  z-index: 1;
  overflow-x: hidden;
}
.header-menu > .container #menu-mobile-block .menu-mobile-main .heading {
  padding: 14px 16px;
}
.header-menu > .container #menu-mobile-block .menu-mobile-main .heading .close-block i {
  display: inline-block;
  transition: all ease 0.4s;
}
.header-menu > .container #menu-mobile-block .menu-mobile-main .heading .close-block i:hover {
  transform: rotate(180deg);
}
.header-menu > .container #menu-mobile-block .menu-mobile-main ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px 16px;
}
.header-menu > .container #menu-mobile-block .menu-mobile-main ul li .sub-nav-mobile {
  position: absolute;
  width: 0;
  height: 100vh;
  right: -100%;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: all ease 0.4s;
  overflow-x: hidden;
}
.header-menu > .container #menu-mobile-block .menu-mobile-main ul li .sub-nav-mobile .heading {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header-menu > .container #menu-mobile-block .menu-mobile-main ul li .sub-nav-mobile .list-home,
.header-menu > .container #menu-mobile-block .menu-mobile-main ul li .sub-nav-mobile .explore-block,
.header-menu > .container #menu-mobile-block .menu-mobile-main ul li .sub-nav-mobile .list-pages,
.header-menu > .container #menu-mobile-block .menu-mobile-main ul li .sub-nav-mobile .banner-infor {
  padding: 16px 24px;
}
.header-menu > .container #menu-mobile-block .menu-mobile-main ul li .sub-nav-mobile .banner-infor {
  position: relative;
}
.header-menu > .container #menu-mobile-block .menu-mobile-main ul li .sub-nav-mobile .banner-infor .bg-img {
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 24px;
  right: 24px;
  border-radius: 16px;
  overflow: hidden;
}
.header-menu > .container #menu-mobile-block .menu-mobile-main ul li .sub-nav-mobile .list-social {
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
.header-menu > .container #menu-mobile-block .menu-mobile-main ul li .sub-nav-mobile .list-social a {
  width: 30px;
  height: 30px;
}
.header-menu > .container #menu-mobile-block .menu-mobile-main ul li .sub-nav-mobile .list-social a i {
  font-size: 12px;
}
.header-menu > .container #menu-mobile-block .menu-mobile-main ul li .sub-nav-mobile.open {
  opacity: 1;
  visibility: visible;
  width: 100%;
  right: 0;
}
.header-menu > .container #menu-mobile-block.open {
  z-index: 100;
  opacity: 1;
  visibility: visible;
}
.header-menu > .container #menu-mobile-block.open .menu-mobile-main {
  right: 0;
}
.header-menu.sticky {
  top: 0;
  position: fixed;
  background-color: var(--black-surface);
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.15);
}
@media (max-width: 1199.98px) {
  .header-menu > .container .header-main .menu-main ul {
    gap: 20px;
  }
}
@media (max-width: 1023.98px) {
  .header-menu > .container .header-main .menu-main {
    display: none;
  }
  .header-menu > .container .header-main .logo {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
  }
  .header-menu > .container .header-main .right-block .menu-humburger {
    display: block;
  }
}
@media (max-width: 575.98px) {
  .header-menu {
    height: 60px;
  }
  .header-menu .right-block .menu-humburger {
    padding-right: 0;
  }
  .header-menu .right-block .follow-block,
  .header-menu .right-block a {
    display: none;
  }
  .header-menu > .container #menu-mobile-block .sub-nav-mobile .mt-24 {
    margin-top: 24px;
  }
  .header-menu > .container #menu-mobile-block .sub-nav-mobile .mt-16 {
    margin-top: 16px;
  }
}

/*
*** Menu Home2: Start
*/
.style-two .header-menu {
  background-color: transparent;
  border-bottom: 1px solid var(--line-dark);
}
.style-two .header-menu > .container .header-main .menu-main > ul li > a::before {
  background-color: var(--green);
}
.style-two .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-home .item:hover .text-button {
  color: var(--green);
}
.style-two .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-pages a i::before {
  color: var(--green);
}
.style-two .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-pages a:hover .text-button {
  color: var(--green);
}
.style-two .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .banner-infor a span:nth-child(2),
.style-two .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block a span:nth-child(2) {
  background-color: var(--green);
}
.style-two .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .banner-infor a:hover,
.style-two .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block a:hover {
  background-color: #02bd30;
}
.style-two .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .banner-infor a:hover span:nth-child(2),
.style-two .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block a:hover span:nth-child(2) {
  background-color: #02bd30;
}
.style-two .header-menu > .container .header-main .logo svg g path:first-child {
  fill: var(--green);
}
.style-two .header-menu > .container .header-main .right-block a span:nth-child(2) {
  background-color: var(--green);
}
.style-two .header-menu > .container .header-main .right-block a:hover span:nth-child(2) {
  background-color: #02bd30;
}
.style-two .header-menu > .container #menu-mobile-block .logo svg g path:first-child {
  fill: var(--green);
}
.style-two .header-menu > .container #menu-mobile-block .bg-blue {
  background-color: var(--green);
}
.style-two .header-menu > .container #menu-mobile-block .icon-blue::before {
  color: var(--green);
}
.style-two .header-menu.sticky {
  background-color: var(--black-surface);
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.15);
  border-bottom: none;
}

/*
*** Menu Home2: End
*/
/*
*** Menu Home3: Start
*/
.header-menu.style-three > .container .header-main .logo {
  left: 0;
  transform: translateY(-50%);
}
.header-menu.style-three > .container .header-main .logo svg g path:first-child {
  fill: var(--yellow);
}
.header-menu.style-three > .container .header-main .menu-main {
  padding-left: 104px;
}
.header-menu.style-three > .container .header-main .menu-main > ul li > a::before {
  background-color: var(--yellow);
}
.header-menu.style-three > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-home .item:hover .text-button {
  color: var(--yellow);
}
.header-menu.style-three > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-pages a i::before {
  color: var(--yellow);
}
.header-menu.style-three > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-pages a:hover .text-button {
  color: var(--yellow);
}
.header-menu.style-three > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block a {
  background-color: var(--yellow);
  color: var(--on-surface);
}
.header-menu.style-three > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block a i::before {
  color: var(--on-surface);
}
.header-menu.style-three > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block a:hover {
  background-color: #ebb41d;
}
.header-menu.style-three > .container .header-main .right-block .list-social a {
  width: 28px;
  height: 28px;
  background-color: var(--line-dark);
  border: 1px solid #3f3f3f;
  transition: all ease 0.3s;
}
.header-menu.style-three > .container .header-main .right-block .list-social a i {
  transition: all ease 0.3s;
  font-size: 12px;
}
.header-menu.style-three > .container .header-main .right-block .list-social a:hover {
  background-color: var(--yellow);
}
.header-menu.style-three > .container .header-main .right-block .list-social a:hover i::before {
  color: var(--on-surface);
}
.header-menu.style-three > .container .header-main .right-block .list-social a:nth-child(3) i,
.header-menu.style-three > .container .header-main .right-block .list-social a:nth-child(4) i,
.header-menu.style-three > .container .header-main .right-block .list-social a:nth-child(5) i {
  font-size: 10px;
  margin-left: 1px;
  margin-top: 1px;
}
.header-menu.style-three > .container #menu-mobile-block .logo svg g path:first-child {
  fill: var(--yellow);
}
.header-menu.style-three > .container #menu-mobile-block .list-social a i::before {
  color: var(--on-surface);
}
.header-menu.style-three > .container #menu-mobile-block .bg-blue {
  background-color: var(--yellow);
}
.header-menu.style-three > .container #menu-mobile-block .icon-blue::before {
  color: var(--yellow);
}

/*
*** Menu Home3: End
*/
/*
*** Menu Home4: Start
*/
.header-menu.style-four > .container .header-main .logo {
  position: relative;
  left: unset;
  top: unset;
  transform: unset;
}
.header-menu.style-four > .container .header-main .menu-main > ul li > a::before {
  background-color: var(--purple);
}
.header-menu.style-four > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-home .item:hover .text-button {
  color: var(--purple);
}
.header-menu.style-four > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-pages a i::before {
  color: var(--purple);
}
.header-menu.style-four > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-pages a:hover .text-button {
  color: var(--purple);
}
.header-menu.style-four > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block a {
  background-color: var(--purple);
}
.header-menu.style-four > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block a:hover {
  background-color: #5700c9;
}
@media (max-width: 575.98px) {
  .header-menu.style-four > .container .header-main .right-block .call-block {
    display: none;
  }
}
.header-menu.style-four > .container #menu-mobile-block .logo svg g path:first-child {
  fill: var(--purple);
}
.header-menu.style-four > .container #menu-mobile-block .bg-blue {
  background-color: var(--purple);
}
.header-menu.style-four > .container #menu-mobile-block .icon-blue::before {
  color: var(--purple);
}

/*
*** Menu Home4: End
*/
/*
*** Menu Style Subpage: Start
*/
.style-purple .header-menu > .container .header-main .menu-main > ul li > a::before {
  background-color: var(--purple);
}
.style-purple .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-home .item:hover .text-button {
  color: var(--purple);
}
.style-purple .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-pages a i::before {
  color: var(--purple);
}
.style-purple .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .list-pages a:hover .text-button {
  color: var(--purple);
}
.style-purple .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .banner-infor a,
.style-purple .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block a {
  background-color: var(--purple);
}
.style-purple .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .banner-infor a span:nth-child(2),
.style-purple .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block a span:nth-child(2) {
  background-color: var(--purple);
}
.style-purple .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .banner-infor a:hover,
.style-purple .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block a:hover {
  background-color: #5700c9;
}
.style-purple .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .banner-infor a:hover span:nth-child(2),
.style-purple .header-menu > .container .header-main .menu-main > ul li .sub-nav .sub-nav-main .row .explore-block a:hover span:nth-child(2) {
  background-color: #5700c9;
}
.style-purple .header-menu > .container .header-main .logo svg g path:first-child {
  fill: var(--purple);
}
.style-purple .header-menu > .container .header-main .right-block a span:nth-child(2) {
  background-color: var(--purple);
}
.style-purple .header-menu > .container .header-main .right-block a:hover span:nth-child(2) {
  background-color: #5700c9;
}
.style-purple .header-menu > .container #menu-mobile-block .logo svg g path:first-child {
  fill: var(--purple);
}
.style-purple .header-menu > .container #menu-mobile-block .bg-blue {
  background-color: var(--purple);
}
.style-purple .header-menu > .container #menu-mobile-block .icon-blue::before {
  color: var(--purple);
}

.style-purple.style-service .header-menu > .container .header-main .menu-main > ul li > a.active::before {
  width: 0;
}
.style-purple.style-service .header-menu > .container .header-main .menu-main > ul li:hover > a::before {
  width: 100%;
}
.style-purple.style-service .header-menu > .container .header-main .menu-main > ul li:nth-child(2) > a::before {
  width: 100%;
}

.style-purple.style-pages .header-menu > .container .header-main .menu-main > ul li > a.active::before {
  width: 0;
}
.style-purple.style-pages .header-menu > .container .header-main .menu-main > ul li:hover > a::before {
  width: 100%;
}
.style-purple.style-pages .header-menu > .container .header-main .menu-main > ul li:nth-child(3) > a::before {
  width: 100%;
}

.style-purple.style-blog .header-menu > .container .header-main .menu-main > ul li > a.active::before {
  width: 0;
}
.style-purple.style-blog .header-menu > .container .header-main .menu-main > ul li:hover > a::before {
  width: 100%;
}
.style-purple.style-blog .header-menu > .container .header-main .menu-main > ul li:nth-child(4) > a::before {
  width: 100%;
}

.style-purple.style-contact .header-menu > .container .header-main .menu-main > ul li > a.active::before {
  width: 0;
}
.style-purple.style-contact .header-menu > .container .header-main .menu-main > ul li:hover > a::before {
  width: 100%;
}
.style-purple.style-contact .header-menu > .container .header-main .menu-main > ul li:nth-child(5) > a::before {
  width: 100%;
}

/*
*** Menu Style Subpage: End
*/
/*
Menu header: End
*/