/*
*** Top Nav: Start
*/
.top-nav.style-three .right-block .line {
  height: 100%;
  width: 1px;
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.top-nav.style-four .right-block .list-social a {
  width: 28px;
  height: 28px;
  background-color: var(--line-dark);
  border: 1px solid var(--line-dark);
  transition: all ease 0.3s;
}
.top-nav.style-four .right-block .list-social a i {
  transition: all ease 0.3s;
  font-size: 12px;
}
.top-nav.style-four .right-block .list-social a:hover {
  background-color: var(--white);
}
.top-nav.style-four .right-block .list-social a:hover i::before {
  color: var(--purple);
}
.top-nav.style-four .right-block .list-social a:nth-child(3) i,
.top-nav.style-four .right-block .list-social a:nth-child(4) i,
.top-nav.style-four .right-block .list-social a:nth-child(5) i {
  font-size: 10px;
  margin-left: 1px;
  margin-top: 1px;
}
@media (max-width: 575.98px) {
  .top-nav.style-four .right-block .text-button-small {
    display: none;
  }
  .top-nav.style-four .right-block .list-social {
    display: flex;
    gap: 8px;
  }
  .top-nav.style-four .right-block .list-social a:nth-child(3) i,
  .top-nav.style-four .right-block .list-social a:nth-child(4) i,
  .top-nav.style-four .right-block .list-social a:nth-child(5) i {
    margin-left: 0;
    margin-top: 2px;
  }
  .top-nav.style-four .right-block .list-social a:last-child {
    display: none;
  }
}

@media (max-width: 992px) {
  .top-nav .location {
    display: none;
  }
  .top-nav .mail {
    padding-left: 0;
  }
}
@media (max-width: 576px) {
  .top-nav .h-44 {
    height: 36px;
  }
  .top-nav .h-60 {
    height: 40px;
  }
  .top-nav .right-block {
    gap: 0;
  }
  .top-nav .right-block .call-block,
  .top-nav .right-block .line,
  .top-nav .right-block .list-social {
    display: none;
  }
}
/*
*** Top Nav: End
*/