.list-social.flex-item-center.gap-12
    a(href="https://www.facebook.com/" target="_blank").item.bg-blue.button-blue-hover.bora-50.w-40.h-40.flex-center
        i.icon-facebook.display-block
    a(href="https://www.linkedin.com/" target="_blank").item.bg-blue.button-blue-hover.bora-50.w-40.h-40.flex-center
        i.icon-linkedin.fs-14.display-block
    a(href="https://www.twitter.com/" target="_blank").item.bg-blue.button-blue-hover.bora-50.w-40.h-40.flex-center
        i.icon-twitter.fs-12.display-block
    a(href="https://www.instagram.com/" target="_blank").item.bg-blue.button-blue-hover.bora-50.w-40.h-40.flex-center
        i.icon-instagram.fs-14.display-block
    a(href="https://www.youtube.com/" target="_blank").item.bg-blue.button-blue-hover.bora-50.w-40.h-40.flex-center
        i.icon-youtube.fs-12.display-block